{{extend 'layout.html'}}
<script>
var ctrl = false;

document.onkeydown = tofilter;
document.onkeyup = resetctrl;

function resetctrl(e)
{
    var KeyID = (window.event) ? event.keyCode : e.keyCode;
    if (KeyID == 17) {
        ctrl = false;
    }
}

function tofilter(e) {
    var KeyID = (window.event) ? event.keyCode : e.keyCode;
    if (KeyID == 17) {
        ctrl = true;
        return;
    }
    switch(KeyID)
    {
        case 59:
        case 186:
        case 190:
        case 191:
            if (ctrl) {
                toggle_menu()
                var e = document.getElementById('addfilter')
                if (e) {
                    e.focus();
                }
            }
            break;
    }
}
function toggle_menu()
{
    var menubar = document.getElementById("menubar");
    var status = document.getElementById("filterbar_status");
    if (menubar.className=="menubar") {
        menubar.className="menubar_shown";
        if (status) {
            status.value = 'shown';
        }
    } else {
        menubar.className="menubar";
        if (status) {
            status.value = 'hidden';
        }
    }
}
</script>
{{

def format_sym(sym):
    d = DIV(
          DIV(
            DIV(
              H2(sym['symid']),
              SPAN(sym['model'], _class='sym_highlight'),
              _class='sym_float',
              _style='width:15em',
            ),
            DIV(
              TABLE(
                TR(TH(T('Import Date')), TD(sym['mtime'])),
                TR(
                  TH(T('Microcode Version')),
                  TD(
                    sym['microcode_version'],
                    '.',
                    sym['patch_level'],
                    '.',
                    sym['symmwin_version'],
                  ),
                ),
                TR(TH(T('Cache')), TD(sym['cache_megabytes'], ' ', T('MB'))),
                TR(TH(T('Devices')), TD(sym['devices'])),
              ),
              _class='sym_float',
            ),
            _class='sym_info',
          ),
          DIV(
            _id='sym_detail_'+sym['symid'],
            _name='sym_detail_'+sym['symid'],
            _class='sym_detail',
          ),
          _class='sym',
          _id=sym['symid'],
          _onmouseover='this.style.borderColor="orange"',
          _onmouseout='this.style.borderColor="inherit"',
          _onclick="""
               toggle_vis_block("sym_detail_%(symid)s");
               if (getElementById("sym_detail_%(symid)s").innerHTML=="") {
                 getElementById("sym_detail_%(symid)s").innerHTML='%(spinner)s';
                 getElementById("arrayid").value="%(symid)s";
                 sync_ajax("%(url)s",['arrayid'],"sym_detail_%(symid)s", function(){});
               };
            """%dict(url=URL(r=request,f='sym_overview'),
                     spinner=IMG(_src=URL(r=request,c='static',f='spinner.gif')),
                     symid=sym['symid']),
        )
    return d
pass

def display_upload_form():
    if len(syms) == 0:
        menubar_class = "menubar_shown"
    else:
        menubar_class = "menubar"
    pass

    d = DIV(
         H1(T("Upload Symmetrix config files")),
         form,
         _class=menubar_class,
         _id='menubar',
        )

    handlebar = DIV(
      'filters',
      _class='menuhandle',
      _onclick='toggle_menu()',
    )

    return SPAN(d, handlebar)
pass

}}

{{=DIV(
     display_upload_form(),
     INPUT(
       _type='hidden',
       _id='arrayid',
     ),
     INPUT(
       _type='hidden',
       _id='detail',
     ),
  )
}}
{{for sym in syms:}}
    {{=format_sym(sym)}}
{{pass}}

