*.lock
*.bak
*.pyc
*.swp
*.class
viz*.png
viz*.dot
/init/cache/
/init/databases/
/init/private/
/init/sessions/
/init/errors/
/init/uploads/
/init/modules/config.py
/init/static/jqplot/
/admin/
/examples/
/www_opensvc_com
__init__.py
