*.lock
*.bak
*.pyc
*.swp
*.class
stat_lifecycle*
tempviz*
viz*.png
viz*.dot
/*/cache/
/*/databases/
/*/private/
/*/sessions/
/*/errors/
/*/uploads/
/*/modules/config.py
/*/static/jqplot/
/admin/
/examples/
/www_opensvc_com
__init__.py
*.log
*.log.*
