{{extend 'layout.html'}}
{{def _script_fmt(action, type, node_nb, suggested_shname, sh):}}
{{if node_nb==0:}}
{{return}}
{{
    if node_nb>1:
        s = 's'
    else:
        s = ''
        pass
    if '--service' in sh:
        what = 'service'
        end = '.'
    else:
        what = 'node'
        end = ' services on.'
        pass
    msg = """%d %s%s to %s%s"""%(node_nb, what, s, action, end)
}}
    <h2>{{=action}} '{{=type}}' script:</h2>
    {{=msg}}<br>
    Suggested name <i>'{{=suggested_shname}}'.</i><br><br>
    <textarea cols="70" rows="15">{{=sh}}</textarea>
{{return}}
{{=A(IMG(_src=URL(r=request,c='static',f='tar.png'),_border=0, _title="download a tar archive of these scripts"),_href=URL(r=request,f='drplan_scripts_archive'))}}
{{for i in ['stopdev', 'stopprd', 'startdr0', 'startdr1', 'startdr2', 'startdr3',
            'stopdr', 'startprd0', 'startprd1', 'startprd2', 'startprd3', 'startdev']:}}
{{_script_fmt(p[i]['action'], p[i]['phase'], p[i]['node_nb'], p[i]['shname'], p[i]['sh'])}}
{{pass}}
