{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'panel.html'}}
{{include 'filters.html'}}

{{
vars = request.vars
for key in ['obs_type',
            'obs_name',
            'obs_warn_date',
            'obs_alert_date']:
    if not vars.has_key(key) or vars[key] is None: vars[key]=''
    pass

timepicker = """Calendar.setup({inputField:this.id, ifFormat:"%Y-%m-%d %H:%M:%S", showsTime: true,timeFormat: "24" });"""
}}

{{=PANEL("nodes")}}
{{=PANEL("column_values")}}
<form action='obsolescence_config' name='svcform' id='svcform' method='post'> 
{{=DB_FILTERS_TABLE(active_filters, available_filters)}}
<table class=datatable>
  <tr class=box>
    <td class=box></td>
    <td>{{=T('Count')}}</td>
    <td>{{=colname(obsitems, 'obs_type', T('Type'), nestedin='obsolescence')}}</td>
    <td>{{=colname(obsitems, 'obs_name', T('Name'), nestedin='obsolescence')}}</td>
    <td>{{=T('Warn date')}}</td>
    <td>{{=T('Alert date')}}</td>
    <td class=box></td>
  </tr>
  <tr class=box>
    <td><input type=checkbox id=check_all onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'))"></td>
    <td style='padding:0'></td>
    <td><input name=obs_type value='{{=vars.obs_type}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=obs_name value='{{=vars.obs_name}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=obs_warn_date value='{{=vars.obs_warn_date}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=obs_alert_date value='{{=vars.obs_alert_date}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td style='padding:0'></td>
  </tr>
  {{
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
  }}
  {{for u in obsitems:}}
  <tr>
    {{cellclass = cellclasses[cellclass]}}
    {{
    if u.obsolescence.obs_type == "os":
        obs_type_img = IMG(_src=URL(r=request,c='static',f='os.png'),_border=0)
    elif u.obsolescence.obs_type == "hw":
        obs_type_img = IMG(_src=URL(r=request,c='static',f='hw.png'),_border=0)
    else:
        obs_type_img = IMG(_src=URL(r=request,c='static',f='unknown.png'),_border=0)
        pass

    checked = getattr(vars, 'check_'+str(u.obsolescence.id))
    if checked is not None:
        checked = 'checked=on'
        pass
    }}
    <td class={{=cellclass}}><input type=checkbox name="check_{{=u.obsolescence.id}}" id="id_check_{{=u.obsolescence.id}}" {{=checked}}></td>
    <td class={{=cellclass}}>
      {{=A(u['COUNT(v_nodes.id)'],
           _onclick="""
               getElementById("obs_name").value="%(obs_name)s";
               getElementById("obs_type").value="%(obs_type)s";
               ajax("%(url)s",['obs_name', 'obs_type'],"panelbody_nodes");
               getElementById("panel_nodes").className="panel_shown";
            """%dict(url=URL(r=request,f='ajax_obsolete_os_nodes'),
                     obs_name=u.obsolescence.obs_name,
                     obs_type=u.obsolescence.obs_type,
                    ),
            _class="xinfo",
          )

      }}
    </td>
    <td class={{=cellclass}}>{{=DIV(obs_type_img, _title=u.obsolescence.obs_type)}}</td>
    <td class={{=cellclass}}>{{=u.obsolescence.obs_name}}</td>
    <td class={{=cellclass}}>
      <div id="div_warn_text_{{=u.obsolescence.id}}" title="set by {{=u.obsolescence.obs_warn_date_updated_by}} on {{=u.obsolescence.obs_warn_date_updated}}" onClick='javascript:show_eid("div_warn_input_{{=u.obsolescence.id}}");hide_eid("div_warn_text_{{=u.obsolescence.id}}");'>
        {{=u.obsolescence.obs_warn_date}}
      </div>
      <div class='hidden' id="div_warn_input_{{=u.obsolescence.id}}">
        <input name="warn_date_{{=u.obsolescence.id}}"
               id="warn_date_{{=u.obsolescence.id}}"
               value="{{=u.obsolescence.obs_warn_date}}" size=15 
               class="datetime" onFocus="{{=timepicker}}"
               onKeyPress='javascript:document.svcform.action.value="set_warn_date";
                                      document.getElementById("id_check_{{=u.obsolescence.id}}").checked=true;
                                      checkEnter(event);
                          '
        >
      </div>
    </td>
    <td class={{=cellclass}}>
      <div id="div_alert_text_{{=u.obsolescence.id}}" title="set by {{=u.obsolescence.obs_alert_date_updated_by}} on {{=u.obsolescence.obs_alert_date_updated}}" onClick='javascript:show_eid("div_alert_input_{{=u.obsolescence.id}}");hide_eid("div_alert_text_{{=u.obsolescence.id}}");'>
        {{=u.obsolescence.obs_alert_date}}
      </div>
      <div class='hidden' id="div_alert_input_{{=u.obsolescence.id}}">
        <input name="alert_date_{{=u.obsolescence.id}}"
               id="alert_date_{{=u.obsolescence.id}}"
               value="{{=u.obsolescence.obs_alert_date}}" size=15
               class="datetime" onFocus="{{=timepicker}}"
               onKeyPress='javascript:document.svcform.action.value="set_alert_date";
                                      document.getElementById("id_check_{{=u.obsolescence.id}}").checked=true;
                                      checkEnter(event);
                          '
        >
      </div>
    </td>
  </tr>
  {{pass}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=7>
      <table>
        <tr>
          <td> {{=T('Remove')}}:</td>
          <td> {{=T('Refresh')}}:</td>
        </tr>
        <tr>
          <td>
            {{=IMG(_src=URL(r=request,c='static',f='del.png'),
                   _border=0,
                   _onclick='javascript:document.svcform.action.value="del";document.svcform.submit()'
               )
            }}
          </td>
          <td>
            {{=IMG(_src=URL(r=request,c='static',f='refresh.png'),
                   _border=0,
                   _onclick='javascript:document.svcform.action.value="refresh";document.svcform.submit()'
               )
            }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<input name=action type=hidden>
<input id="obs_name" type=hidden>
<input id="obs_type" type=hidden>
</form>
