<div class="outputs_tab">
	<div>
		<h3 class="line">
			<span>
				<span data-i18n="col.Command"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <td id="command"></td>
                                </tr>
			</tbody>
		</table>
		<h3 class="line">
			<span>
				<span data-i18n="col.Stderr"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <td id="stderr"></td>
                                </tr>
			</tbody>
		</table>
		<h3 class="line">
			<span>
				<span data-i18n="col.Stdout"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <td id="stdout"></td>
                                </tr>
			</tbody>
		</table>
	</div>
</div>
