<div class='d-flex flex-wrap'>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class='line'><span class='icon app16' data-i18n='app_properties.properties'></span></h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="app_properties.id"></th>
					<td id="id"></td>
				</tr>
				<tr>
					<th data-i18n="app_properties.app"></th>
					<td id="app" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="app_properties.description"></th>
					<td id="description" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="app_properties.app_domain"></th>
					<td id="app_domain" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="app_properties.app_team_ops"></th>
					<td id="app_team_ops" upd="org_group"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class='line'><span class='icon time16' data-i18n='app_properties.dates'></span></h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="app_properties.updated"></th>
					<td id="updated"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class='line'><span class='icon guys16' data-i18n='app_properties.publications' id='publications_title'></span></h3>
		<div id='publications'></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class='line'><span class='icon guys16' data-i18n='app_properties.responsibles' id='responsibles_title'></span></h3>
		<div id='responsibles'></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class='line'><span class='icon node16' data-i18n='app_properties.nodes' id='nodes_title'></span></h3>
		<div id='nodes'></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class='line'><span class='icon svc' data-i18n='app_properties.services' id='services_title'></span></h3>
		<div id='services'></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
</div>
