<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon array" data-i18n="col.Array"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Id"></th>
                                        <td id="id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Array Name"></th>
                                        <td id="array_name"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Array Model"></th>
                                        <td id="array_model"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Array Firmware"></th>
                                        <td id="array_firmware"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Array Cache"></th>
                                        <td id="array_cache"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Level"></th>
                                        <td id="array_level"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span id="proxies_title" class="icon hw16" data-i18n="array_properties.proxies"></span>
			</span>
		</h3>
                <div id='proxies'></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span id="diskgroups_title" class="icon diskgroup" data-i18n="array_properties.diskgroups"></span>
			</span>
		</h3>
                <div id='diskgroups'></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span id="targets_title" class="icon net16" data-i18n="array_properties.targets"></span>
			</span>
		</h3>
                <div id='targets'></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon time16" data-i18n="node_properties.dates"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Updated"></th>
                                        <td id="array_updated"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
