<div>
	<div id="agg" class='theader' style='width:100%'></div>
	<div id="cms_a" class="icon right16 clickable" style="text-align:left;font-size:120%" data-i18n="views.comp_status.module_agg"></div>
	<div id="cms" style="display:none"></div>
	<div id="cns_a" class="icon right16 clickable" style="text-align:left;font-size:120%" data-i18n="views.comp_status.node_agg"></div>
	<div id="cns" style="display:none"></div>
	<div id="css_a" class="icon right16 clickable" style="text-align:left;font-size:120%" data-i18n="views.comp_status.service_agg"></div>
	<div id="css" style="display:none"></div>
	<div id="cs0"></div>
</div>
