<div class="designer">
	<div class="catree">
		<input class="oi casearch" id="casearch" type="text" data-i18n="[placeholder]designer.search">
		<span class="ql icon link16 clickable fa-x2" id="calink"></span>
		<span class="ql icon folder-closed clickable fa-x2" id="caclose"></span>
		<div name="catree" id="catree"></div>
	</div>
	<div id="casep" class="casep" data-i18n="[title]designer.resize"></div>
	<div class="catree hidden">
		<input class="oi casearch" id="casearch2" type="text" data-i18n="[placeholder]designer.search">
		<div name="catree" id="catree2"></div>
	</div>
	<div id="casep" class="casep hidden" data-i18n="[title]designer.resize"></div>
	<div id="cainfo" class="cainfo"></div>
</div>

