<div class="designer">
	<div class="link16 clickable ql fa-x2" id="calink"></div>
	<div class="folder-closed clickable ql fa-x2" id="caclose"></div>
	<div class="catree">
		<input class="oi casearch" id="casearch" type="text">
		<div name="catree" id="catree"></div>
	</div>
	<div class="catree hidden">
		<input class="oi casearch" id="casearch2" type="text">
		<div name="catree" id="catree2"></div>
	</div>
	<div id="casep" class="casep"></div>
	<div id="cainfo" class="cainfo"></div>
	<div class="spacer">&nbsp;</div>
</div>

