<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon diskgroup" data-i18n="col.Disk Group"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Id"></th>
                                        <td id="id"></td>
				</tr>
				<tr>
					<th data-i18n="col.Array Disk Group"></th>
					<td id="dg_name"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon array" data-i18n="col.Array"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Array Name"></th>
                                        <td id="array_name"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Array Model"></th>
                                        <td id="array_model"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Array Firmware"></th>
                                        <td id="array_firmware"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon chart16" data-i18n="col.Usage"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Size"></th>
                                        <td id="dg_size"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Free"></th>
                                        <td id="dg_free"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Used"></th>
                                        <td id="dg_Used"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Reserved"></th>
                                        <td id="dg_reserved"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon time16" data-i18n="node_properties.dates"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="node_properties.updated"></th>
                                        <td id="dg_updated"></td>
                                </tr>
			</tbody>
		</table>
	</div>
</div>
