<div class="d-flex flex-wrap">
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon svc" data-i18n="disk_properties.agent_info"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Id"></th>
                                        <td id="disk_id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Disk Vendor"></th>
                                        <td id="disk_vendor"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Disk Model"></th>
                                        <td id="disk_model"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Disk Size"></th>
                                        <td id="size"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon array" data-i18n="disk_properties.array_info"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Disk Name"></th>
                                        <td id="disk_name"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Disk Id"></th>
                                        <td id="disk_devid"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Raid"></th>
                                        <td id="disk_raid"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Disk Size"></th>
                                        <td id="disk_size"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Disk Allocation"></th>
                                        <td id="disk_alloc"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Array"></th>
                                        <td id="array_name"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.Array disk group"></th>
                                        <td id="array_dg"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span id="nodes_title" class="icon node16" data-i18n="disk_properties.nodes"></span>
			</span>
		</h3>
                <div id='nodes'></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span id="services_title" class="icon svc" data-i18n="disk_properties.services"></span>
			</span>
		</h3>
                <div id='services'></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span id="apps_title" class="icon svc" data-i18n="disk_properties.apps"></span>
			</span>
		</h3>
                <div id='apps'></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon time16" data-i18n="node_properties.dates"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Storage Updated"></th>
                                        <td id="disk_updated"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="col.System Updated"></th>
                                        <td id="svcdisks_updated"></td>
                                </tr>
			</tbody>
		</table>
	</div>
</div>
