<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon dns16" data-i18n="dns_domain_properties.base"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="dns_domain_properties.id"></th>
                                        <td id="id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="dns_domain_properties.name"></th>
                                        <td id="name" upd="string"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="dns_domain_properties.type"></th>
                                        <td id="type" upd="type"></td>
                                </tr>
				<tr>
					<th data-i18n="dns_domain_properties.notified_serial"></th>
					<td id="notified_serial"></td>
				</tr>
				<tr>
					<th data-i18n="dns_domain_properties.account"></th>
					<td id="account" upd="string"></td>
				</tr>
                                <tr>
                                        <th data-i18n="dns_domain_properties.master"></th>
                                        <td id="master" upd="string"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon time16" data-i18n="dns_domain_properties.dates"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="dns_domain_properties.last_check"></th>
                                        <td id="last_check"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
