<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon docker_repository16" data-i18n="docker_properties.repository"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="form_properties.id"></th>
                                        <td id="id" name="repository_id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="form_properties.name"></th>
                                        <td id="repository" upd="string"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="docker_properties.description"></th>
                                        <td id="description" upd="string"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="docker_properties.stars"></th>
                                        <td id="stars" upd="integer"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="docker_properties.automated"></th>
                                        <td id="automated" upd="boolean"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="docker_properties.official"></th>
                                        <td id="official" upd="boolean"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon docker_registry16" data-i18n="docker_properties.registry"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="form_properties.id"></th>
                                        <td id="id" name="registry_id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="docker_properties.service"></th>
                                        <td id="service"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="docker_properties.url"></th>
                                        <td id="url"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="docker_properties.insecure"></th>
                                        <td id="insecure"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon log16" data-i18n="node_properties.dates"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="col.Updated"></th>
					<td id="repository_updated"></td>
				</tr>
				<tr>
					<th data-i18n="col.Created"></th>
					<td id="repository_created"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" id="pullers_title" data-i18n="docker_properties.pullers"></span>
			</span>
		</h3>
		<div id="pullers" style="max-height:30em;overflow-y:scroll"></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" id="pushers_title" data-i18n="docker_properties.pushers"></span>
			</span>
		</h3>
		<div id="pushers" style="max-height:30em;overflow-y:scroll"></div>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
