<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon wf16" data-i18n="form_properties.base"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="form_properties.id"></th>
                                        <td id="id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="form_properties.name"></th>
                                        <td id="form_name" upd="string"></td>
                                </tr>
				<tr>
					<th data-i18n="form_properties.folder"></th>
					<td id="form_folder" upd="string"></td>
				</tr>
                                <tr>
                                        <th data-i18n="form_properties.type"></th>
                                        <td id="form_type" upd="form_type"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon log16" data-i18n="form_properties.creation"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="form_properties.author"></th>
					<td id="form_author"></td>
				</tr>
				<tr>
					<th data-i18n="form_properties.creation_date"></th>
					<td id="form_created"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" id="publications_title" data-i18n="form_properties.publications"></span>
			</span>
		</h3>
		<div id="publications"></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" id="responsibles_title" data-i18n="form_properties.responsibles"></span>
			</span>
		</h3>
		<div id="responsibles"></div>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
