<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon fset16" data-i18n="fset_properties.base"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="fset_properties.id"></th>
                                        <td id="id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="fset_properties.name"></th>
                                        <td id="fset_name" upd="string"></td>
                                </tr>
				<tr>
					<th data-i18n="fset_properties.stats"></th>
					<td id="fset_stats" upd="boolean"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon log16" data-i18n="fset_properties.creation"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="fset_properties.author"></th>
					<td id="fset_author"></td>
				</tr>
				<tr>
					<th data-i18n="fset_properties.updated"></th>
					<td id="fset_updated"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line"><span class="icon filter16" id="filtersets_title" data-i18n="fset_properties.used_by_filtersets"></span></h3>
		<div id="filtersets"></div>
	</div>
	<div>
		<h3 class="line"><span class="icon comp16" id="rulesets_title" data-i18n="fset_properties.used_by_rulesets"></span></h3>
		<div id="rulesets"></div>
	</div>
	<div>
		<h3 class="line"><span class="icon ok" id="thresholds_title" data-i18n="fset_properties.used_by_checks_contextual_thresholds"></span></h3>
		<div id="thresholds"></div>
	</div>
	<div>
		<h3 class="line"><span class="icon node16" id="nodes_title" data-i18n="fset_properties.nodes"></span></h3>
		<div id="nodes"></div>
	</div>
	<div>
		<h3 class="line"><span class="icon svc" id="services_title" data-i18n="fset_properties.services"></span></h3>
		<div id="services"></div>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
