<div id="login_menu_top" class="login_menu_top" style="display : None">
	<ul class="web2py-menu">
		<li>
			<a>
				<div id="login_user_name" class="guy16"></div>
			</a>
		</li>
	</ul>
	<div id="login_login" class="menu stackable">
		<div class="menu_section">
			<a href="#" onclick="javascript:void(0);return false;">User actions</a>
			<div class="">
				<div class="menu_entry">
					<a href="/init/default/user/logout">
						<div class="menu_box">
							<div class="menu_icon logout"></div>
							<div>
								<div class="menu_title" data-i18n="login.logout_title"></div>
								<div class="menu_subtitle" data-i18n="login.logout_text"></div>
							</div>
						</div>
					</a>
				</div>
				<div class="menu_entry">
					<a href="/init/default/user/profile">
						<div class="menu_box">
							<div class="menu_icon guy16"></div>
								<div>
									<div class="menu_title" data-i18n="login.edit_title"></div>
									<div class="menu_subtitle" data-i18n="login.edit_text"></div>
								</div>
							</div>
					</a>
				</div>
				<div class="menu_entry">
					<a href="/init/default/user/change_password">
						<div class="menu_box">
							<div class="menu_icon key"></div>
							<div>
								<div class="menu_title" data-i18n="login.change_title"></div>
								<div class="menu_subtitle" data-i18n="login.change_text"></div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="login_menu_top_not" class="login_menu_top" style="display : None">
	<ul class="web2py-menu">
		<li>
			<a>
				<div id="login_help" class="menu16" data-i18n="notlogin.top_title"></div>
			</a>
		</li>
	</ul>
	<div id="login_not_login" class="menu stackable">
			<div class="menu_section">
				<a href="#" onclick="javascript:void(0);return false;" data-i18n="notlogin.title"></a>
				<div class="">
					<div class="menu_entry">
						<a href="/init/default/user/register">
							<div class="menu_box">
								<div class="menu_icon logout"></div>
								<div>
									<div class="menu_title" data-i18n="notlogin.register_title"></div>
									<div class="menu_subtitle" data-i18n="notlogin.register_text"></div>
								</div>
							</div>
						</a>
					</div>
					<div class="menu_entry">
						<a href="/init/default/user/retrieve_password">
							<div class="menu_box">
								<div class="menu_icon guy16"></div>
									<div>
										<div class="menu_title" data-i18n="notlogin.lost_title"></div>
										<div class="menu_subtitle" data-i18n="notlogin.lost_text"></div>
									</div>
								</div>
						</a>
					</div>
				</div>
			</div>
		</div>
</div>