<div class="d-flex flex-wrap">
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon modset16" data-i18n="modset_properties.base"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="modset_properties.id"></th>
                                        <td id="id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="modset_properties.name"></th>
                                        <td id="modset_name" upd="string"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon log16" data-i18n="modset_properties.creation"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="modset_properties.author"></th>
					<td id="modset_author"></td>
				</tr>
				<tr>
					<th data-i18n="modset_properties.updated"></th>
					<td id="modset_updated"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon guys16" id="publications_title" data-i18n="modset_properties.publications"></span>
			</span>
		</h3>
		<div id="publications"></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon guys16" id="responsibles_title" data-i18n="modset_properties.responsibles"></span>
			</span>
		</h3>
		<div id="responsibles"></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon modset16" id="modulesets_title" data-i18n="modset_properties.used_by_modulesets"></span>
			</span>
		</h3>
		<div id="modulesets" style="max-height:20em;overflow-y:auto"></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon node16" id="nodes_title" data-i18n="modset_properties.nodes"></span>
			</span>
		</h3>
		<div id="nodes" style="max-height:20em;overflow-y:auto"></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon svc" id="services_title" data-i18n="modset_properties.services"></span>
			</span>
		</h3>
		<div id="services" style="max-height:20em;overflow-y:auto"></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
</div>
