<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon net16" data-i18n="network_properties.lan"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.id"></th>
					<td id="id"></td>
				</tr>
				<tr>
					<th data-i18n="network_properties.pvid"></th>
					<td id="pvid" upd="integer"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon net16" data-i18n="network_properties.ip"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="network_properties.network"></th>
					<td id="network" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="network_properties.netmask"></th>
					<td id="netmask" upd="integer"></td>
				</tr>
				<tr>
					<th data-i18n="network_properties.gateway"></th>
					<td id="gateway" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="network_properties.broadcast"></th>
					<td id="broadcast"></td>
				</tr>
				<tr>
					<th data-i18n="network_properties.begin"></th>
					<td id="begin"></td>
				</tr>
				<tr>
					<th data-i18n="network_properties.end"></th>
					<td id="end"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" data-i18n="node_properties.organization"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="network_properties.name"></th>
					<td id="name" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="network_properties.comment"></th>
					<td id="comment" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.team_responsible"></th>
					<td id="team_responsible" upd="org_group"></td>
				</tr>
				<tr>
					<th data-i18n="network_properties.prio"></th>
					<td id="prio" upd="integer"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon time16" data-i18n="node_properties.dates"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.updated"></th>
					<td id="updated"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
