<div id="ips">
	<h3 class="line">
		<span data-i18n='network.ipv4_u'></span>
	</h3>
	<table id="ips_ipv4_u">
		<tr><td colspan:13><span class="spinner"><span></td></tr>
	</table>
	<h3 class="line">
		<span data-i18n='network.ipv6_u'></span>
	</h3>
	<table id="ips_ipv6_u">
		<tr><td colspan:13><span class="spinner"><span></td></tr>
	</table>
	<h3 class="line">
		<span data-i18n='network.ipv4_m'>i</span>
	</h3>
	<table id="ips_ipv4_m">
		<tr><td colspan:13><span class="spinner"><span></td></tr>
	</table>
	<h3 class="line">
		<span data-i18n='network.ipv6_m'></span>
	</h3>
	<table id="ips_ipv6_m">
		<tr><td colspan:13><span class="spinner"><span></td></tr>
	</table>
</div>