<div id="ips">
	<h3 class="line">
		<span>ipv4 unicast</span>
	</h3>
	<table id="ips_ipv4_u">
		<tr><td colspan:13><span class="spinner"><span></td></tr>
	</table>
	<h3 class="line">
		<span>ipv6 unicast</span>
	</h3>
	<table id="ips_ipv6_u">
		<tr><td colspan:13><span class="spinner"><span></td></tr>
	</table>
	<h3 class="line">
		<span>ipv4 multicast</span>
	</h3>
	<table id="ips_ipv4_m">
		<tr><td colspan:13><span class="spinner"><span></td></tr>
	</table>
	<h3 class="line">
		<span>ipv6 multicast</span>
	</h3>
	<table id="ips_ipv6_m">
		<tr><td colspan:13><span class="spinner"><span></td></tr>
	</table>
</div>