<div style="padding:1em">
	<div style="margin-bottom:1em">
		<img src="/init/static/images/begin16.png" style="vertical-align:middle">
		<input name="begin" type="text" class="oi" style="width:10em">
		<input name="end" type="text" class="oi" style="width:10em">
		<img src="/init/static/images/end16.png" style="vertical-align:middle">
		<button type="button" class="button_div" data-i18n="node_stats.now" name="now"></button>
		<button type="button" class="button_div" data-i18n="node_stats.last_day" name="last_day"></button>
		<button type="button" class="button_div" data-i18n="node_stats.last_week" name="last_week"></button>
		<button type="button" class="button_div" data-i18n="node_stats.last_month" name="last_month"></button>
		<button type="button" class="button_div" data-i18n="node_stats.last_year" name="last_year"></button>
	</div>
	<div class="container">
		<a class="b icon_fixed_width svc" data-i18n="node_stats.containers"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="svc_cpu" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_cap_cpu" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_mem" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_cap" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_swap" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_rss" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_nproc" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_pg" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_avgpg" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_at" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="svc_avgat" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
	</div>
	<div class="container open_on_load">
		<a class="b icon_fixed_width cpu16" data-i18n="node_stats.cpu"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="cpu" style="display:none">
			<div name="_u" class="perf_plot"></div>
		</div>
	</div>
	<div class="container">
		<a class="b icon_fixed_width mem16" data-i18n="node_stats.mem"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="mem" style="display:none">
			<div name="_u" class="perf_plot"></div>
			<div name="_pct" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="swap" style="display:none">
			<div name="_u" class="perf_plot"></div>
			<div name="_pct" class="perf_plot"></div>
		</div>
	</div>
	<div class="container">
		<a class="b icon_fixed_width action16" data-i18n="node_stats.proc"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="proc" style="display:none">
			<div name="_runq_sz" class="perf_plot"></div>
			<div name="_plist_sz" class="perf_plot"></div>
			<div name="_loadavg" class="perf_plot"></div>
		</div>
	</div>
	<div class="container">
		<a class="b icon_fixed_width hd16" data-i18n="node_stats.fs"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="fs" style="display:none">
			<div name="_u" class="perf_plot"></div>
		</div>
	</div>
	<div class="container">
		<a class="b icon_fixed_width hd16" data-i18n="node_stats.agg_bdev"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="block" style="display:none">
			<div name="_tps" class="perf_plot"></div>
			<div name="_bps" class="perf_plot"></div>
		</div>
	</div>
	<div class="container">
		<a class="b icon_fixed_width hd16" data-i18n="node_stats.bdev"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="blockdev" style="display:none">
			<div name="_pct_util" class="perf_plot"></div>
			<div name="_pct_util_time" class="perf_plot"></div>
			<div name="_tps" class="perf_plot"></div>
			<div name="_tps_time" class="perf_plot"></div>
			<div name="_secps" class="perf_plot"></div>
			<div name="_secps_time" class="perf_plot"></div>
			<div name="_await" class="perf_plot"></div>
			<div name="_await_time" class="perf_plot"></div>
			<div name="_svctm" class="perf_plot"></div>
			<div name="_svctm_time" class="perf_plot"></div>
			<div name="_avgrq_sz" class="perf_plot"></div>
			<div name="_avgrq_sz_time" class="perf_plot"></div>
			<div name="_tm" class="perf_plot"></div>
		</div>
	</div>
	<div class="container">
		<a class="b icon_fixed_width net16" data-i18n="node_stats.netdev"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="netdev" style="display:none">
			<div name="_kBps" class="perf_plot"></div>
			<div name="_pckps" class="perf_plot"></div>
		</div>
	</div>
	<div class="container">
		<a class="b icon_fixed_width net16" data-i18n="node_stats.netdev_err"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="netdev_err" style="display:none">
			<div name="_errps" class="perf_plot"></div>
			<div name="_collps" class="perf_plot"></div>
			<div name="_dropps" class="perf_plot"></div>
		</div>
	</div>
</div>
