<div style="padding:1em">
	<div style="margin-bottom:1em">
		<img src="/init/static/images/begin16.png" style="vertical-align:middle">
		<input name="begin" type="text" class="oi" style="width:10em">
		<input name="end" type="text" class="oi" style="width:10em">
		<img src="/init/static/images/end16.png" style="vertical-align:middle">
		<button type="button" class="button_div" data-i18n="node_stats.now" name="now"></button>
		<button type="button" class="button_div" data-i18n="node_stats.last_day" name="last_day"></button>
		<button type="button" class="button_div" data-i18n="node_stats.last_week" name="last_week"></button>
		<button type="button" class="button_div" data-i18n="node_stats.last_month" name="last_month"></button>
		<button type="button" class="button_div" data-i18n="node_stats.last_year" name="last_year"></button>
	</div>
	<div class="mb-2 open_on_load" name="container">
		<a class="h5 clickable icon_fixed_width svc" data-i18n="node_stats.overview"></a>
		<a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
		<div class="tag_container" name="plots" group="avg_cpu_for_nodes" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="avg_mem_for_nodes" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="avg_swp_for_nodes" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
		<div class="tag_container" name="plots" group="disk_for_svc" style="display:none">
			<div name="" class="perf_plot"></div>
		</div>
	</div>
        <div class="mb-2" name="container">
                <a class="h5 clickable icon_fixed_width action16" data-i18n="node_stats.proc"></a>
                <a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
                <a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
                <div class="tag_container" name="plots" group="avg_proc_for_nodes" style="display:none">
                        <div name="_runq_sz" class="perf_plot"></div>
                        <div name="_plist_sz" class="perf_plot"></div>
                </div>
        </div>
        <div class="mb-2" name="container">
                <a class="h5 clickable icon_fixed_width hd16" data-i18n="node_stats.agg_bdev"></a>
                <a class="icon nok hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
                <a class="icon refresh16 hidden jqplot-image-container-close" style="padding:0.2em 0.3em"></a>
                <div class="tag_container" name="plots" group="avg_block_for_nodes" style="display:none">
                        <div name="_tps" class="perf_plot"></div>
                        <div name="_bps" class="perf_plot"></div>
                </div>
        </div>
</div>
