<div class="asset_tab">
        <div style='width:100%'>
		<div name="status" style="width:100%">
		</div>
	</div>
        <div style='float:left'>
                <h3 class='line'><span class='icon modset16' data-i18n='node_compliance.modulesets' id='modulesets_title'></span></h3>
                <div id='modulesets'></div>
        </div>
        <div style='float:left'>
                <h3 class='line'><span class='icon rset16' data-i18n='node_compliance.rulesets' id='rulesets_title'></span></h3>
                <div id='rulesets'></div>
        </div>
</div>
