<div class="asset_tab">
        <div style='flex-basis:100%'>
		<div name="status">
		</div>
	</div>
        <div>
                <h3 class='line'><span class='icon modset16' data-i18n='node_compliance.modulesets' id='modulesets_title'></span></h3>
                <div id='modulesets'></div>
        </div>
        <div>
                <h3 class='line'><span class='icon rset16' data-i18n='node_compliance.rulesets' id='rulesets_title'></span></h3>
                <div id='rulesets'></div>
        </div>
</div>
