<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon node16" data-i18n="node_properties.server"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.id"></th>
					<td id="node_id"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.nodename"></th>
					<td id="nodename" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.fqdn"></th>
					<td id="fqdn" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.asset_name"></th>
					<td id="assetname" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.model"></th>
					<td id="model" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.type"></th>
					<td id="type" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.serial"></th>
					<td id="serial" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.bios_version"></th>
					<td id="bios_version" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.sp_version"></th>
					<td id="sp_version" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.sec_zone"></th>
					<td id="sec_zone" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.status"></th>
					<td id="status" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.role"></th>
					<td id="role" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.asset_env"></th>
					<td id="asset_env" upd="string"></td>
				</tr>
				<tr style="display:none">
					<th data-i18n="node_properties.root_pwd"></th>
					<td id="root_pwd" data-i18n="node_properties.protected"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon tag16" data-i18n="node_properties.tags"></span>
			</span>
		</h3>
		<div class="tags"></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" data-i18n="node_properties.organization"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.team_responsible"></th>
					<td id="team_responsible" upd="org_group"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.team_integration"></th>
					<td id="team_integ" upd="org_group"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.team_support"></th>
					<td id="team_support" upd="org_group"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.app"></th>
					<td id="app" upd="user_app"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon loc" data-i18n="node_properties.location"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.timezone"></th>
					<td id="tz" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.country"></th>
					<td id="loc_country" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.city"></th>
					<td id="loc_city" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.zip"></th>
					<td id="loc_zip" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.address"></th>
					<td id="loc_addr" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.building"></th>
					<td id="loc_building" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.floor"></th>
					<td id="loc_floor" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.room"></th>
					<td id="loc_room" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.rack"></th>
					<td id="loc_rack" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.enclosure"></th>
					<td id="enclosure" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.enclosure_slot"></th>
					<td id="enclosureslot" upd="string"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon svc" data-i18n="node_properties.opensvc_agent"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.agent_version"></th>
					<td id="version"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.collector"></th>
					<td id="collector"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.agent_connect_to"></th>
					<td id="connect_to" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.agent_listener_port"></th>
					<td id="listener_port"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.node_env"></th>
					<td id="node_env"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.action_type"></th>
					<td id="action_type" upd="action_type"></td>
				</tr>
				<tr style="display:none">
					<th data-i18n="node_properties.uuid"></th>
					<td id="uuid" data-i18n="node_properties.protected"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon os16" data-i18n="node_properties.os"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.os_name"></th>
					<td id="os_name" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.os_vendor"></th>
					<td id="os_vendor" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.os_release"></th>
					<td id="os_release" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.os_kernel"></th>
					<td id="os_kernel" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.os_arch"></th>
					<td id="os_arch" upd="string" agent="1"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon hw16" data-i18n="node_properties.mem"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.memory_banks"></th>
					<td id="mem_banks" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.memory_slots"></th>
					<td id="mem_slots" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.memory_total"></th>
					<td id="mem_bytes" upd="string" agent="1"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon cpu16" data-i18n="node_properties.cpu"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.cpu_frequency"></th>
					<td id="cpu_freq" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.cpu_threads"></th>
					<td id="cpu_threads" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.cpu_cores"></th>
					<td id="cpu_cores" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.cpu_dies"></th>
					<td id="cpu_dies" upd="string" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.cpu_model"></th>
					<td id="cpu_model" upd="string" agent="1"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon pwr" data-i18n="node_properties.power"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.nb_power_supply"></th>
					<td id="power_supply_nb" upd="integer"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.power_cabinet_#1"></th>
					<td id="power_cabinet1" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.power_cabinet_#2"</th>
					<td id="power_cabinet2" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.power_protector"></th>
					<td id="power_protect" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.power_protector_breaker"></th>
					<td id="power_protect_breaker" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.power_breaker_#1"></th>
					<td id="power_breaker1" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.power_breaker_#2"></th>
					<td id="power_breaker2" upd="string"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon time16" data-i18n="node_properties.dates"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.last_comm"></th>
					<td id="last_comm" upd="date" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.updated"></th>
					<td id="updated"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.last_boot"></th>
					<td id="last_boot" upd="date" agent="1"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.warranty_end"></th>
					<td id="warranty_end" upd="date"></td>
				</tr>
				<tr>
					<th data-i18n="node_properties.maintenance_end"></th>
					<td id="maintenance_end" upd="date"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
