<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon rset16" data-i18n="ruleset_properties.base"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="ruleset_properties.id"></th>
                                        <td id="id"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="ruleset_properties.name"></th>
                                        <td id="ruleset_name" upd="string"></td>
                                </tr>
				<tr>
					<th data-i18n="ruleset_properties.public"></th>
					<td id="ruleset_public" upd="boolean"></td>
				</tr>
                                <tr>
                                        <th data-i18n="ruleset_properties.type"></th>
                                        <td id="ruleset_type" upd="ruleset_type"></td>
                                </tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" id="publications_title" data-i18n="ruleset_properties.publications"></span>
			</span>
		</h3>
		<div id="publications"></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" id="responsibles_title" data-i18n="ruleset_properties.responsibles"></span>
			</span>
		</h3>
		<div id="responsibles"></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon node16" id="nodes_title" data-i18n="ruleset_properties.nodes"></span>
			</span>
		</h3>
		<div id="nodes"></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon svc" id="services_title" data-i18n="ruleset_properties.services"></span>
			</span>
		</h3>
		<div id="services"></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon svc" id="encap_services_title" data-i18n="ruleset_properties.encap_services"></span>
			</span>
		</h3>
		<div id="encap_services"></div>
	</div>
        <div>
                <h3 class="line">
                        <span>
                                <span class="icon modset16" id="modulesets_title" data-i18n="modset_properties.used_by_modulesets"></span>
                        </span>
                </h3>
                <div id="modulesets" style="max-height:20em;overflow-y:auto"></div>
        </div>
        <div>
                <h3 class="line">
                        <span>
                                <span class="icon rset16" id="rulesets_title" data-i18n="fset_properties.used_by_rulesets"></span>
                        </span>
                </h3>
                <div id="rulesets" style="max-height:20em;overflow-y:auto"></div>
        </div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
