<div class="d-flex flex-wrap">
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon comp16" data-i18n="run_status_tabs.Base"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="run_status_tabs.run_action"></th>
					<td id="run_action"></td>
				</tr>
				<tr>
					<th data-i18n="run_status_tabs.run_module"></th>
					<td id="run_module"></td>
				</tr>
				<tr>
					<th data-i18n="run_status_tabs.node"></th>
					<td id="node_id"></td>
				</tr>
				<tr>
					<th data-i18n="run_status_tabs.service"></th>
					<td id="svc_id"></td>
				</tr>
				<tr>
					<th data-i18n="run_status_tabs.status"></th>
					<td id="run_status"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
                <h3 class="line">
                        <span>
                                <span class="icon time16" data-i18n="run_status_tabs.dates"></span>
                        </span>
                </h3>
                <table>
                        <tbody>
                                <tr>
                                        <th data-i18n="run_status_tabs.run_date"></th>
                                        <td id="run_date"></td>
                                </tr>
                        </tbody>
                </table>
        </div>
	<div class="col-12 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span data-i18n="run_status_tabs.run_log"></span>
			</span>
		</h3>
		<div class='pre' id="run_log"></div>
	</div>
</div>
