<div class="d-flex flex-wrap">
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon wf16" data-i18n="safe_file_properties.base"></span>
			</span>
		</h3>
		<table>
			<tbody>
                                <tr>
                                        <th data-i18n="col.Id"></th>
                                        <td id="id" class="trunc20"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="safe_file_properties.uuid"></th>
                                        <td id="uuid" class="trunc20"></td>
                                </tr>
                                <tr>
                                        <th data-i18n="safe_file_properties.name"></th>
                                        <td id="name" upd="string"></td>
                                </tr>
				<tr>
					<th data-i18n="safe_file_properties.md5"></th>
					<td id="md5"></td>
				</tr>
				<tr>
					<th data-i18n="safe_file_properties.size"></th>
					<td id="size"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon log16" data-i18n="safe_file_properties.upload"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="safe_file_properties.uploader"></th>
					<td id="uploader"></td>
				</tr>
				<tr>
					<th data-i18n="safe_file_properties.uploaded_from"></th>
					<td id="uploaded_from"></td>
				</tr>
				<tr>
					<th data-i18n="safe_file_properties.uploaded_date"></th>
					<td id="uploaded_date"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon guys16" id="publications_title" data-i18n="safe_file_properties.publications"></span>
			</span>
		</h3>
		<div id="publications"></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon guys16" id="responsibles_title" data-i18n="safe_file_properties.responsibles"></span>
			</span>
		</h3>
		<div id="responsibles"></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span>
				<span class="icon fa-thumbtack" id="usage_title" data-i18n="col.Usage"></span>
			</span>
		</h3>
		<div id="usage"></div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
</div>
