<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon svc" data-i18n="service_properties.status"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="service_properties.overall_status"></th>
					<td id="svc_status"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.avail_status"></th>
					<td id="svc_availstatus"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.unacknowleged_errors"></th>
					<td id="err"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon svc" data-i18n="service_properties.service"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="node_properties.id"></th>
					<td id="svc_id"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.topology"></th>
					<td id="svc_topology"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.svc_env"></th>
					<td id="svc_env"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.HA"></th>
					<td id="svc_ha"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.comment"></th>
					<td id="svc_comment"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.primary_node"></th>
					<td id="svc_autostart"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.nodes"></th>
					<td id="svc_nodes"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.application"></th>
					<td id="svc_app" upd="user_app"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon drp16" data-i18n="service_properties.disaster_recovery"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="service_properties.drp_node"></th>
					<td id="svc_drpnode"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.drp_nodes"></th>
					<td id="svc_drpnodes"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.wave"></th>
					<td id="svc_wave" upd="integer"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon tag16" data-i18n="service_properties.tags"></span>
			</span>
		</h3>
		<div class="tags"></div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon guys16" id="responsibles_title" data-i18n="service_properties.responsibles"></span>
			</span>
		</h3>
		<div id="responsibles">
		</div>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon time16" data-i18n="service_properties.dates"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="service_properties.created"></th>
					<td id="svc_created"></td>
				</tr>
				<tr>
					<th data-i18n="service_properties.last_update"></th>
					<td id="updated"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
