<div class="asset_tab">
        <div style='flex-basis:100%'>
		<div name="status">
		</div>
	</div>
        <div>
                <h3 class='line'><span class='icon modset16' data-i18n='node_compliance.modulesets' id='modulesets_title'></span></h3>
                <div id='modulesets'></div>
        </div>
        <div>
                <h3 class='line'><span class='icon rset16' data-i18n='node_compliance.rulesets' id='rulesets_title'></span></h3>
                <div id='rulesets'></div>
        </div>
        <div style='display:none'>
                <h3 class='line'><span class='icon modset16' data-i18n='service_compliance.encap_modulesets' id='encap_modulesets_title'></span></h3>
                <div id='encap_modulesets'></div>
        </div>
        <div style='display:none'>
                <h3 class='line'><span class='icon rset16' data-i18n='service_compliance.encap_rulesets' id='encap_rulesets_title'></span></h3>
                <div id='encap_rulesets'></div>
        </div>
        <div style='flex-basis:100%' name="svcdiff">
	</div>
</div>
