<div class="asset_tab">
        <div class="col-12 pt-3 pb-3 container-auto">
		<div name="status">
		</div>
	</div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
                <h3 class='line'><span class='icon modset16' data-i18n='node_compliance.modulesets' id='modulesets_title'></span></h3>
                <div id='modulesets'></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto">
                <h3 class='line'><span class='icon rset16' data-i18n='node_compliance.rulesets' id='rulesets_title'></span></h3>
                <div id='rulesets'></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto" style='display:none'>
                <h3 class='line'><span class='icon modset16' data-i18n='service_compliance.encap_modulesets' id='encap_modulesets_title'></span></h3>
                <div id='encap_modulesets'></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 pt-3 pb-3 container-auto" style='display:none'>
                <h3 class='line'><span class='icon rset16' data-i18n='service_compliance.encap_rulesets' id='encap_rulesets_title'></span></h3>
                <div id='encap_rulesets'></div>
        </div>
        <div class="col-12 pt-3 pb-3 container-auto" name="svcdiff">
	</div>
</div>
