<div style="padding:1em">
	<div class="fa-2x" data-i18n="startup.title"></div>
	<div style="display:flex;flex-wrap:wrap-reverse">
		<div style="flex:12em;vertical-align:top;text-align:left;padding:0.3em;min-width:12em">
			<form>
				<br>
				<div>
					<input type="checkbox" class="ocb" name="show_disabled" style="vertical-align: text-bottom;">
					<label></label>
					<span class="icon nok" data-i18n="startup.show_disabled"></span>
				</div>
				<br>
				<button style="margin-top:1em" class="startup icon button_div" data-i18n="topology.redraw"></button>
			</form>
			<br>
			<button name="configure_toggle" class="button_div icon settings" data-i18n='topology.configure'></button>
			<div name="configure" class="hidden"></div>
		</div>
		<div id="viz" style="flex:40em; width: 100%; height: 336px;"></div>
	</div>
</div>
