<div class="icon link16 clickable fa-2x" data-i18n="startup.title">
</div>
<div style="display:flex;flex-wrap:wrap-reverse">
	<div style="flex:12em;vertical-align:top;text-align:left;padding:0.3em;min-width:12em">
		<form>
			<br>
			<div>
				<input type="checkbox" class="ocb" name="show_disabled" style="vertical-align: text-bottom;">
				<label></label>
				<span class="icon nok" data-i18n="startup.show_disabled"></span>
			</div>
			<br>
			<input style="margin-top:1em" type="submit">
		</form>
		<br>
		<div name="configure_toggle" class="icon settings clickable" data-i18n='topology.configure'></div>
		<div name="configure" class="hidden"></div>
	</div>
	<div id="viz" style="flex:40em; width: 100%; height: 336px;"></div>
</div>
