<div id="sysrep" style="padding:1em">

<div id="sysrep_timeline_title" class="sectiontitle"></div>

<div id="sysrep_ql">
	<button id="sysrep_ql_filter" class="button_div icon filter16" data-i18n="sysreport.show_filters"></span>
	<button id="sysrep_ql_admin" class="button_div icon lock hidden" data-i18n="sysreport.show_authorizations"></span>
</div>

<div id="sysrep_administration" class="section hidden" display="block">
	<!-- Sysreport administration !-->
	<div class="sectiontitle" data-i18n='sysrep.admin_title'></div>
	<div>
		<div id="sysrep_secure_list" style="float:left;width:500px;">
			<div class="sub_sectiontitle" data-i18n='sysrep.secure_title'></div>
			<table id="sysrep_secure_list_item">
			</table>
			<div class="meta_add">
				<button class="button_div" id="sysrep_secure_pattern_button">
					<span class="icon add16" data-i18n="sysrep.secure_add_button"></span>
				</button>
				<form id="sysrep_form_secure">
					<div id="sysrep_secure_pattern_add" class="hidden">
						<input id="sysrep_secure_pattern_new" class="oi" data-i18n="[placeholder]sysrep.filter.regexp" type="text"/>
						<button type="submit" class="button_div">
							<span class="icon add16" data-i18n="sysrep.submit_button" type="submit"></span>
						</button>
					</div>
				</form>
				<span id="sysrep_secure_pattern_error" style="color:#FF0000"></span>
			</div>
		</div>
		<div id="sysrep_authorizations_list" style="float:left">
			<div class="sub_sectiontitle" data-i18n='sysrep.allow_title'></div>
			<table id="sysrep_authorizations_list_item">
			</table>
			<div class="meta_add">
				<button class="button_div" id="sysrep_allow_button">
					<span class="icon add16" data-i18n="sysrep.allow_add_button"></span>
				</button>
				<div class="hidden" id="sysrep_allow_input" style="margin-left:1em">
					<form id="sysrep_form_allow">
						<div style="display:table-row">
							<div class="b" style="display:table-cell" data-i18n="sysrep.allow_input_pattern"></div>
							<div class="b" style="display:table-cell" data-i18n="sysrep.allow_input_group"></div>
							<div class="b" style="display:table-cell" data-i18n="sysrep.allow_input_filterset"></div>
						</div>
						<div style="display:table-row">
							<div style="display:table-cell">
								<input id="sysreport_allow_pattern" class="oi" data-i18n="[placeholder]sysrep.filter.regexp" type="text" />
							</div>
							<div style="display:table-cell">
								<input id="sysreport_allow_groups" class="oi" type="text" />
							</div>
							<div style="display:table-cell">
								<input id="sysreport_allow_filterset" class="oi" type="text" />
							</div>
						</div>
						<button  type="submit" class="button_div">
							<span class="icon add16" data-i18n="sysrep.submit_button"></span>
						</button>
					</form>
					<span id="sysrep_admin_allow_error" style="color:#FF0000"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Filter Div -->
<div id="sysrep_filter" class="section hidden">
	<div class="sectiontitle" data-i18n='sysrep.filter.title'></div>
	<form id="sysrep_form_filter">
		<div >
			<span class="time16">
				<input class="oi" id="sysrep_filter_begindate" data-i18n="[placeholder]sysrep.filter.begin_date" type="text">
			</span>
			<span class="time16">
				<input class="oi" id="sysrep_filter_enddate" data-i18n="[placeholder]sysrep.filter.end_date"  type="text">
			</span>
			<span class="filter16">
				<input id="sysrep_filter_value" class="oi" data-i18n="[placeholder]sysrep.filter.filter"  type="text">
			</span>
			<button id="sysrep_filter_submit" class="button_div" data-i18n="sysrep.filter.submit_button" type="submit"></button>
		</div>
	</form>
</div>

<!-- Timeline -->
<div id="sysrep_timeline" class="section">
	<div id="sysrep_timeline_graph" class="hidden"></div>
</div>

<!-- Time Diff-->
<div id="sysrep_time_diff" class="section hidden">
</div>

<!-- Tree Diff-->
<div id="sysrep_tree_diff" class="section hidden">
	<div id="sysrep_tree_diff_title" class="sectiontitle" data-i18n="sysrep.timeline_tree_diff_title"></div>
	<h3 id="sysrep_tree_diff_date"></h3>
	<div id="sysrep_tree_diff_detail"></div>
</div>

<!-- Tree File-->
<div id="sysrep_tree" class="section hidden">
	<div id="sysrep_tree_title" class="sectiontitle"></div>
	<h3 id="sysrep_tree_date"></h3>
	<div id="sysrep_tree_file"></div>
</div>

</div>
