<div class='asset_tab'>
	<div>
		<h3 class='line'><span class='icon tag16' data-i18n='node_properties.properties'></span></h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="tag_properties.id"></th>
					<td id="tag_id"></td>
				</tr>
				<tr>
					<th data-i18n="tag_properties.name"></th>
					<td id="tag_name" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="tag_properties.exclude"></th>
					<td id="tag_exclude" upd="string"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class='line'><span class='icon time16' data-i18n='node_properties.dates'></span></h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="service_properties.created"></th>
					<td id="tag_created"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class='line'><span class='icon node16' data-i18n='tag_properties.nodes' id='nodes_title'></span></h3>
		<div id='nodes'></div>
	</div>
	<div>
		<h3 class='line'><span class='icon svc' data-i18n='tag_properties.services' id='services_title'></span></h3>
		<div id='services'></div>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
