<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Mocha</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link href='/init/static/js/mocha-2.2.5/mocha.css' rel='stylesheet' />
</head>
<body>
  <div id='mocha'></div>
  <script src='/init/static/js/mocha-2.2.5/mocha.js'></script>
  <script src='/init/static/js/chai-2.3.0/chai.js'></script>
  <script src='/init/static/js/superagent-1.2.0/superagent.js'></script>
  <script src="/init/static/js/mocha-clean-0.4.0/index.js"></script>
  <script>window.onerror=function(msg,url,line){document.getElementById('mocha').innerHTML+='<h1>'+msg+'</'+'h1>'+'<h2>'+url+':'+line+'</'+'h2>';return false}</script>
  <script>
    mocha.setup('bdd');
    mocha.traceIgnores = ['mocha.js', 'chai.js'];
  </script>
  <!-- what to test: -->
  <!-- tests to run: -->
  <script src="/init/static/js/osvc/test/test.api.js"></script>
  <script>mocha.run()</script>
</body>
</html>
