<div style="display:table-row">
	<div style="display:table-cell;vertical-align:top;text-align:left;padding:0.3em;min-width:12em">
		<form>
			<div class="link16 clickable">
			        <textarea class="link_ta_sub link_white hidden" readonly="readonly" style="position:absolute;"></textarea>
			</div>
			<div>
				<input name="services" style="vertical-align:text-bottom" type="checkbox">
				<span class="svc" style="padding-left:18px;margin-left:0.2em">Services</span>
			</div>
			<div>
				<input name="apps" style="vertical-align:text-bottom" type="checkbox">
				<span class="svc" style="padding-left:18px;margin-left:0.2em">Apps</span>
			</div>
			<div>
				<input name="envs" style="vertical-align:text-bottom" type="checkbox">
				<span class="svc" style="padding-left:18px;margin-left:0.2em">Environment</span>
			</div>
			<div>
				<input name="resources" style="vertical-align:text-bottom" type="checkbox">
				<span class="svc" style="padding-left:18px;margin-left:0.2em">Resources</span>
			</div>
			<div>
				<input name="nodes" style="vertical-align:text-bottom" type="checkbox">
				<span class="hw16" style="padding-left:18px;margin-left:0.2em">Nodes</span>
			</div>
			<div>
				<input name="countries" style="vertical-align:text-bottom" type="checkbox">
				<span class="loc" style="padding-left:18px;margin-left:0.2em">Countries</span>
			</div>
			<div>
				<input name="cities" style="vertical-align:text-bottom" type="checkbox">
				<span class="loc" style="padding-left:18px;margin-left:0.2em">Cities</span>
			</div>
			<div>
				<input name="buildings" style="vertical-align:text-bottom" type="checkbox">
				<span class="loc" style="padding-left:18px;margin-left:0.2em">Buildings</span>
			</div>
			<div>
				<input name="rooms" style="vertical-align:text-bottom" type="checkbox">
				<span class="loc" style="padding-left:18px;margin-left:0.2em">Rooms</span>
			</div>
			<div>
				<input name="racks" style="vertical-align:text-bottom" type="checkbox">
				<span class="loc" style="padding-left:18px;margin-left:0.2em">Racks</span>
			</div>
			<div>
				<input name="enclosures" style="vertical-align:text-bottom" type="checkbox">
				<span class="loc" style="padding-left:18px;margin-left:0.2em">Enclosures</span>
			</div>
			<div>
				<input name="hvs" style="vertical-align:text-bottom" type="checkbox">
				<span class="hv16" style="padding-left:18px;margin-left:0.2em">Hypervisors</span>
			</div>
			<div>
				<input name="hvpools" style="vertical-align:text-bottom" type="checkbox">
				<span class="hv16" style="padding-left:18px;margin-left:0.2em">Hypervisor pools</span>
			</div>
			<div>
				<input name="hvvdcs" style="vertical-align:text-bottom" type="checkbox">
				<span class="hv16" style="padding-left:18px;margin-left:0.2em">Hypervisor VDC</span>
			</div>
			<div>
				<input name="disks" style="vertical-align:text-bottom" type="checkbox">
				<span class="hd16" style="padding-left:18px;margin-left:0.2em">Disks</span>
			</div>
			<div>
				<input name="arrays" style="vertical-align:text-bottom" type="checkbox">
				<span class="hd16" style="padding-left:18px;margin-left:0.2em">Arrays</span>
			</div>
			<div>
				<input name="san" style="vertical-align:text-bottom" type="checkbox">
				<span class="net16" style="padding-left:18px;margin-left:0.2em">San</span>
			</div>
			<input type="submit">
		</form>
	</div>
	<div id="viz" style="display: table-cell; width: 100%; height: 336px;"></div>
</div>
