<div style="padding:1em">
	<div name="title" class="fa-2x" data-i18n="topology.title"></div>
	<div style="display:flex;flex-wrap:wrap-reverse">
		<div style="flex:13em;vertical-align:top;text-align:left;padding:0.3em;min-width:13em;max-width:15em">
			<form class="checklist">
				<div>
					<input name="apps" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.apps" class="icon_fixed_width app16" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="envs" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.environment" class="icon_fixed_width node_env16" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="nodes" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.nodes" class="icon_fixed_width node16" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="services" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.services" class="icon_fixed_width svc" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="resources" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.resources" class="icon_fixed_width resource" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="countries" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.countries" class="icon_fixed_width loc" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="cities" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.cities" class="icon_fixed_width loc" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="buildings" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.buildings" class="icon_fixed_width loc" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="rooms" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.rooms" class="icon_fixed_width loc" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="racks" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.racks" class="icon_fixed_width loc" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="enclosures" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.enclosures" class="icon_fixed_width loc" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="hvs" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.hypervisors" class="icon_fixed_width hv16" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="hvpools" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.hypervisor_pools" class="icon_fixed_width hv16" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="hvvdcs" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.hypervisor_vdc" class="icon_fixed_width hv16" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="disks" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.disks" class="icon_fixed_width hd16" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="arrays" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.arrays" class="icon_fixed_width hd16" style="margin-left:0.2em"></span>
				</div>
				<div>
					<input name="san" style="vertical-align:text-bottom" type="checkbox">
					<label></label>
					<span data-i18n="topology.san" class="icon_fixed_width net16" style="margin-left:0.2em"></span>
				</div>
				<button style="margin-top:1em" name="submit" class="dia16 icon button_div" data-i18n="topology.redraw">
			</form>
			<br>
			<button name="configure_toggle" class="icon settings button_div" data-i18n='topology.configure'></button>
			<div name="configure" class="hidden"></div>
		</div>
		<div id="viz" style="flex:40em; width: 100%; height: 336px;"></div>
	</div>
</div>
