<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="icon guy16" data-i18n="node_properties.organization"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.id"></th>
					<td id="id"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.username"></th>
					<td id="username" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.first_name"></th>
					<td id="first_name" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.last_name"></th>
					<td id="last_name" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.phone_work"></th>
					<td id="phone_work" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.manager"></th>
					<td id="manager"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.primary_group"></th>
					<td id="primary_group" upd="primary_group"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon settings" data-i18n="user_properties.settings"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.perpage"></th>
					<td id="perpage" upd="integer"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.lock_filter"></th>
					<td id="lock_filter"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.filterset"></th>
					<td id="filterset" upd="filterset"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.quota_app"></th>
					<td id="quota_app" upd="integer"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.quota_org_group"></th>
					<td id="quota_org_group" upd="integer"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.quota_docker_registries"></th>
					<td id="quota_docker_registries" upd="integer"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon mail" data-i18n="user_properties.email_section"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.email"></th>
					<td id="email"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.email_log_level"></th>
					<td id="email_log_level" upd="loglevel"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.email_notifications"></th>
					<td id="email_notifications" upd="boolean"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="icon im" data-i18n="user_properties.im"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.im_type"></th>
					<td id="im_type" upd="im_type"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.im_username"></th>
					<td id="im_username" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.im_log_level"></th>
					<td id="im_log_level" upd="loglevel"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.im_notifications"></th>
					<td id="im_notifications" upd="boolean"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span class="icon guys16" id="org_groups_title" data-i18n="user_properties.org_groups"></span>
		</h3>
		<div id="org_groups"></div>
	</div>
	<div>
		<h3 class="line">
			<span class="icon privilege16" id="priv_groups_title" data-i18n="user_properties.priv_groups"></span>
		</h3>
		<div id="priv_groups"></div>
	</div>
	<div>
		<h3 class="line">
			<span class="icon app16" id="resp_apps_title" data-i18n="user_properties.resp_apps"></span>
		</h3>
		<div id="resp_apps"></div>
	</div>
	<div>
		<h3 class="line">
			<span class="icon app16" id="visible_apps_title" data-i18n="user_properties.visible_apps"></span>
		</h3>
		<div id="visible_apps"></div>
	</div>
	<div>
		<h3 class="line">
			<span class="icon fa-play" data-i18n="tabs.tools"></span>
		</h3>
		<div id="tools" class="action_menu action_menu_tab"></div>
	</div>
	<div class="p-0"></div>
	<div class="p-0"></div>
	<div class="p-0"></div>
</div>
