<div class="asset_tab">
	<div>
		<h3 class="line">
			<span>
				<span class="guy16" data-i18n="node_properties.organization"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.first_name"></th>
					<td id="first_name" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.last_name"></th>
					<td id="last_name" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.phone_work"></th>
					<td id="phone_work" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.manager"></th>
					<td id="manager"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.primary_group"></th>
					<td id="primary_group" upd="primary_group"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="settings" data-i18n="user_properties.settings"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.perpage"></th>
					<td id="perpage" upd="integer"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.domains"></th>
					<td id="domains" upd="domains"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.lock_filter"></th>
					<td id="lock_filter" upd="boolean"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.filterset"></th>
					<td id="filterset" upd="filterset"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="mail" data-i18n="user_properties.email_section"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.email"></th>
					<td id="email"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.email_log_level"></th>
					<td id="email_log_level" upd="loglevel"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.email_notifications"></th>
					<td id="email_notifications" upd="boolean"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3 class="line">
			<span>
				<span class="im" data-i18n="user_properties.im"></span>
			</span>
		</h3>
		<table>
			<tbody>
				<tr>
					<th data-i18n="user_properties.im_type"></th>
					<td id="im_type" upd="im_type"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.im_username"></th>
					<td id="im_username" upd="string"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.im_log_level"></th>
					<td id="im_log_level" upd="loglevel"></td>
				</tr>
				<tr>
					<th data-i18n="user_properties.im_notifications"></th>
					<td id="im_notifications" upd="boolean"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
