{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'filters.html'}}
{{include 'panel.html'}}


{{

vars = request.vars
initialize_keys()

def empty_cell(svc, nestedin, key, cellclass=""):
    return TD(
             _name="tcol_"+key,
             _style=col_hide(key),
             _class=cellclass,
             _ondblclick="svcform.%(key)s.value='%(val)s';svcform.submit()"%dict(key=key, val=svc[nestedin][key]),
           )


def format_generic(svc, nestedin, key, new=True, cellclass=""):
    if not new:
        return empty_cell(svc, nestedin, key, cellclass)

    return TD(
             svc[nestedin][key],
             _name="tcol_"+key, 
             _style=col_hide(key),
             _class=cellclass,
             _ondblclick="svcform.%(key)s.value='%(val)s';svcform.submit()"%dict(key=key, val=svc[nestedin][key]),
           )
    pass

def format_svc_name(svc, new=True, cellclass=""):
    key = "svc_name"

    if not new:
        return empty_cell(svc, 'v_svcmon', 'svc_name', cellclass)

    return TD(
             DIV(
               A(
                 svc.v_svcmon.svc_name,
                 _onclick="""
                   getElementById("node").value="%(node)s";
                   getElementById("rowid").value="%(id)s";
                   ajax("%(url)s",['node', 'rowid'],"id_%(id)s");
                   show_eid("tr_id_%(id)s");
                 """%dict(url=URL(r=request,c='default',f='ajax_service'),
                          node=svc.v_svcmon.svc_name,
                          id=svc.v_svcmon.svc_name,
                         ),
               ),
               _class="xinfo",
             ),
             _name="tcol_"+key, 
             _style=col_hide(key),
             _class=cellclass,
             _ondblclick="svcform.%(key)s.value='%(val)s';svcform.submit()"%dict(key=key, val=svc['v_svcmon'][key]),
           )
    pass

def format_nodename(nodename, svcname, cellclass=""):
    return DIV(
               A(
                 nodename,
                 _onclick="""
                   getElementById("node").value="%(node)s";
                   getElementById("rowid").value="%(id)s";
                   ajax("%(url)s",['node', 'rowid'],"id_%(id)s");
                   show_eid("tr_id_%(id)s");
                 """%dict(url=URL(r=request,c='default',f='ajax_node'),
                          node=nodename,
                          id=svcname,
                         ),
               ),
               _class="xinfo",
             )
    pass

def format_nodenames(svc, key, new, cellclass=""):
    if not new:
        return empty_cell(svc, 'v_svcmon', key, cellclass)

    return TD(
             DIV(map(lambda x: format_nodename(x, svc['v_svcmon']['svc_name'], cellclass), svc['v_svcmon'][key].split())),
             _name="tcol_"+key,
             _style=col_hide(key),
             _class=cellclass,
             _ondblclick="svcform.%(key)s.value='%(val)s';svcform.submit()"%dict(key=key, val=svc['v_svcmon'][key]),
           )
    pass

}}
{{=PANEL("column_values")}}
<form action='drplan' name='svcform' id='svcform'> 
{{=DB_FILTERS_TABLE(active_filters, available_filters)}}
<input id='node' type='hidden'>
<input id='rowid' type='hidden'>
<table class=datatable>
  <tr class=box>
    <td class=box></td>
    {{for key in colkeys:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}">
      {{=colname(services, key, columns[key]['title'], columns[key]['nestedin'])}}
    </td>
    {{pass}}
  </tr>
  <tr class=box>
    <td><input type=checkbox id=check_all onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'))"></td>
    {{for key in colkeys:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}"><input name={{=key}} value='{{=request.vars[key]}}' size={{=columns[key]['size']}} onKeyPress="checkEnter(event)"></td>
    {{pass}}
  </tr>

  {{
    svcbuff = None
    svcname = ''
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
  }}
  {{for svc in services:}}
    {{if svcname != svc.v_svcmon.svc_name:
          cellclass = cellclasses[cellclass]
          svcname = svc.v_svcmon.svc_name
          new = True
      else:
          new = False
          pass
      checked = getattr(vars, 'check_'+svc.v_svcmon.svc_name)
      if checked is not None:
          checked = 'checked=on'
          pass
      if svc.drpservices.drp_wave is None:
          drp_wave = ''
      else:
          drp_wave = svc.drpservices.drp_wave
          pass
      if svc.drpservices.drp_project_id is None:
          drp_project_id = ''
      else:
          drp_project_id = svc.drpservices.drp_project_id
          pass
      if svc.v_svcmon.responsibles:
          responsibles = IMG(_src=URL(r=request,c='static',f='guy.png'),_border=0, _title=svc.v_svcmon.responsibles)
      else:
          responsibles = ''
          pass
      }}
  {{if new and svcbuff is not None:}}
  <tr id='tr_id_{{=svcbuff.v_svcmon.svc_name}}' class=cloud>
    <td colspan=99 class="details_row {{=cellclasses[cellclass]}}">
      <div id='id_{{=svcbuff.v_svcmon.svc_name}}'>
      </div>
    </td>
  </tr>
  {{pass}}
  {{svcbuff = svc}}
  <tr>
    {{if new:}}
    <td class={{=cellclass}}><input type=checkbox name=check_{{=svc.v_svcmon.svc_name}} {{=checked}}></td>
    {{else:}}
    <td class={{=cellclass}}></td>
    {{pass}}
    {{for key in colkeys:}}
        {{if key in ['svc_autostart', 'svc_nodes', 'svc_drpnode', 'svc_drpnodes']:}}
            {{=format_nodenames(svc, key, new, cellclass)}}
        {{elif key == 'nodename':}}
            {{=format_nodenames(svc, key, True, cellclass)}}
        {{elif key == 'svc_name':}}
            {{=format_svc_name(svc, new, cellclass)}}
        {{elif key == 'drp_wave':}}
            {{=format_generic(svc, 'drpservices', key, new, cellclass)}}
        {{elif 'svc_' in key:}}
            {{=format_generic(svc, 'v_svcmon', key, new, cellclass)}}
        {{else:}}
            {{=format_generic(svc, 'v_svcmon', key, True, cellclass)}}
        {{pass}}
    {{pass}}
  </tr>
  {{pass}}
  {{if svcbuff is not None:}}
  <tr id='tr_id_{{=svcbuff.v_svcmon.svc_name}}' class=cloud>
    <td colspan=99 class="details_row {{=cellclass}}">
      <div id='id_{{=svcbuff.v_svcmon.svc_name}}'>
      </div>
    </td>
  </tr>
  {{pass}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('Export')}}:</td>
          <td> {{=T('set wave')}}:</td>
          <td> {{=T('project')}}:</td>
        </tr>
        <tr>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='drplan_csv', vars=vars))}}
          </td>
          <td>
            {{=IMG(_src=URL(r=request,c='static',f='wave0.png'),_border=0,_onclick='javascript:document.svcform.setwave.value=0;document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='wave1.png'),_border=0,_onclick='javascript:document.svcform.setwave.value=1;document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='wave2.png'),_border=0,_onclick='javascript:document.svcform.setwave.value=2;document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='wave3.png'),_border=0,_onclick='javascript:document.svcform.setwave.value=3;document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='del.png'),_border=0,_title=T("remove the selected services from the DR plan"), _onclick='javascript:document.svcform.setwave.value="del";document.svcform.submit()')}}
          </td>
          <td width=11em>
            <input name=delproject type=hidden>
            <select name=prjlist onChange='document.svcform.submit()'>
              <option value=0>choose</option>
              {{for project in projects:
              if str(project.drp_project_id) == str(request.vars.prjlist):
                  selected = 'selected'
              else:
                  selected = ''
                  pass
              }}
              <option value={{=project.drp_project_id}} {{=selected}}>{{=project.drp_project_id}}: {{=project.drp_project}}</option>
              {{pass}}
            </select>
            {{=IMG(_src=URL(r=request,c='static',f='add.png'),_border=0, _title=T("create new project"), _onclick='javascript:show_eid("addproject_row");document.svcform.addproject.focus()')}}
            {{=IMG(_src=URL(r=request,c='static',f='clone.png'),_border=0, _title=T("clone the current project"), _onclick='javascript:show_eid("cloneproject_row");document.svcform.cloneproject.focus()')}}
            {{=IMG(_src=URL(r=request,c='static',f='del.png'),_border=0, _title=T("trash the current project"), _onclick='javascript:document.svcform.delproject.value=1;document.svcform.submit()')}}
            {{=A(IMG(_src=URL(r=request,c='static',f='gen.png'),_border=0, _title=T("generate the DR scripts for the current project")),_href=URL(r=request,f='drplan_scripts', vars=vars))}}
          </td>
        </tr>
        <tr class='hidden' id='cloneproject_row'>
          <td></td>
          <td></td>
          <td>
            <input name=cloneproject onKeyPress="checkEnter(event)" onBlur="hide_eid('cloneproject_row')">
          </td>
        </tr>
        <tr class='hidden' id='addproject_row'>
          <td></td>
          <td></td>
          <td>
            <input name=addproject onKeyPress="checkEnter(event)" onBlur="hide_eid('addproject_row')">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<input name=setwave type=hidden>
</form>
