{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{
vars = request.vars
for key in ['app',
            'responsibles',
            ]:
    if not vars.has_key(key) or vars[key] is None: request.vars[key]=''
    pass
}}
<form submit='apps' name='svcform' id='svcform'>
<table>
  <tr>
    <td></td>
    <td>{{=T('App')}}</td>
    <td>{{=T('Responsibles')}}</td>
  </tr>
  <tr>
    <td><input type=checkbox id=check_all onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'))"></td>
    <td><input name=app value='{{=request.vars.app}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=responsibles value='{{=request.vars.responsibles}}' size=12 onKeyPress="checkEnter(event)"></td>
  {{for app in apps:}}
  <tr>
    {{
      checked = getattr(request.vars, 'check_'+str(app.id))
      if checked is not None:
          checked = 'checked=on'
          pass
    }}
    <td><input type=checkbox name=check_{{=str(app.id)}} {{=checked}}></td>
    <td>{{=app.app}}</td>
    <td>{{=app.responsibles}}</td>
  </tr>
  {{pass}}
  <tr class=toolbar>
    <td width=100% align=right colspan=10>
      <table>
        <tr>
          <td> {{=T('app')}}:</td>
          <td> {{=T('responsible')}}:</td>
        </tr>
        <tr>
          <td>
            {{=IMG(_src=URL(r=request,c='static',f='add.png'),_border=0,_title=T('create application'), _onclick='javascript:document.getElementById("div_addapp").style.visibility="visible";document.svcform.addapp.focus()')}}
            {{=IMG(_src=URL(r=request,c='static',f='del.png'),_border=0,_title=T('remove the selected application'), _onclick='javascript:document.svcform.app.value="del";document.svcform.submit()')}}
            <div id=div_addapp class=invisible_div><input name=addapp size=4 onKeyPress="checkEnter(event)"></div>
          </td>
          <td valign=center>
            {{=IMG(_src=URL(r=request,c='static',f='add.png'),_border=0,_title=T('add this responsible to selected applications'), _onclick='javascript:document.svcform.resp.value="add";document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='del.png'),_border=0,_title=T('remove this responsible from selected applications'), _onclick='javascript:document.svcform.resp.value="del";document.svcform.submit()')}}
            <input name=resp type=hidden>
            <select name=users>
              <option value=0>choose</option>
              {{for user in users:
              if str(user.id) == str(request.vars.users):
                  selected = 'selected'
              else:
                  selected = ''
                  pass
              }}
              <option value={{=user.id}} {{=selected}}>{{=user.first_name}} {{=user.last_name}}</option>
              {{pass}}
            </select>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
