{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{
vars = request.vars
for key in ['app',
            'responsibles',
            ]:
    if not vars.has_key(key) or vars[key] is None: request.vars[key]=''
    pass
}}
<form action='apps' name='svcform' id='svcform'>
<table>
  {{BOX_TOP_ROW(3)}}
  <tr class=box>
    <td class=box></td>
    <td class=box></td>
    <td>{{=T('App')}}</td>
    <td>{{=T('Responsibles')}}</td>
    <td class=box></td>
  </tr>
  <tr class=box>
    <td class=box></td>
    <td><input type=checkbox id=check_all onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'))"></td>
    <td><input name=app value='{{=request.vars.app}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=responsibles value='{{=request.vars.responsibles}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td class=box></td>
  </tr>
  {{BOX_BOTTOM_ROW(3)}}
  {{for app in apps:}}
  <tr>
    {{
      checked = getattr(request.vars, 'check_'+str(app.id))
      if checked is not None:
          checked = 'checked=on'
          pass
    }}
    <td style='padding:0'></td>
    <td><input type=checkbox name=check_{{=str(app.id)}} {{=checked}}></td>
    <td>{{=app.app}}</td>
    <td>{{=app.responsibles}}</td>
  </tr>
  {{pass}}
  {{BOX_TOP_ROW(3)}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('app')}}:</td>
          <td> {{=T('responsible')}}:</td>
        </tr>
        <tr>
          <td>
            <img src={{=URL(r=request,c='static',f='add.png')}} style="border:0" title={{=T('create application')}} onClick='javascript:show_eid("inputs");document.svcform.appctl.value="add";document.svcform.addapp.focus()'>
            <img src={{=URL(r=request,c='static',f='del.png')}} style="border:0" title={{=T('remove the selected application')}} onClick='javascript:document.svcform.appctl.value="del";document.svcform.submit()'>
          </td>
          <td width=220>
            <select name=users>
              <option value=0>choose</option>
              {{for user in users:
              if str(user.id) == str(request.vars.users):
                  selected = 'selected'
              else:
                  selected = ''
                  pass
              }}
              <option value={{=user.id}} {{=selected}}>{{=user.first_name}} {{=user.last_name}}</option>
              {{pass}}
            </select>
            <input type=image src={{=URL(r=request,c='static',f='add.png')}} style="border:0" title={{=T('add this responsible to selected applications')}} onClick='javascript:document.svcform.resp.value="add";document.svcform.submit()'>
            <input type=image src={{=URL(r=request,c='static',f='del.png')}} style="border:0" title={{=T('remove this responsible from selected applications')}} onClick='javascript:document.svcform.resp.value="del";document.svcform.submit()'>
          </td>
        </tr>
        <tr class='hidden' id='inputs'>
          <td>
            <input name=addapp size=4 onKeyPress="checkEnter(event)" onBlur='hide_eid("inputs")'>
            <input id='appctl' name='appctl' type=hidden value="">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  {{BOX_BOTTOM_ROW(3)}}
</table>
<input name=resp type=hidden>
</form>
