{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'panel.html'}}
{{include 'filters.html'}}
{{include 'lib.html'}}
{{
initialize_keys()
now = datetime.datetime.now()
deadline = now - datetime.timedelta(days=1)
def outdated(t):
     if t is None: return True
     if t < deadline: return True
     return False
pass

}}

<a id="listdiv" class="xinfo"><span><div ondblclick="getElementById('listdiv').className='xinfo';" id='listspan'>innerHTML here</div></span></a>
{{=PANEL("column_values")}}
<form action='checks' name='svcform' id='svcform' method='post'>
{{=DB_FILTERS_TABLE(active_filters, available_filters)}}
<table class=datatable>
  <tr class=box>
    {{for key in colkeys:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}">
      {{=colname(checks, key, columns[key]['title'])}}
    </td>
    {{pass}}
  </tr>
  <tr class=box>
    {{for key in colkeys:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}"><input name={{=key}} value='{{=request.vars[key]}}' size={{=columns[key]['size']}} onKeyPress="checkEnter(event)"></td>
    {{pass}}
  </tr>
  {{
    cellclass = 'cell1'
    cellclasses = {'cell1': 'cell2', 'cell2': 'cell1'}
  }}
  {{for check in checks:
      cellclass = cellclasses[cellclass]
  }}
  <tr class={{=cellclass}}>
    {{for key in colkeys:}}

    {{if key == 'chk_svcname':}}
    <td name="tcol_chk_id" style="{{=col_hide('chk_svcname')}}">
      {{=A(
          DIV(
            check.chk_svcname,
            _onclick="""
               getElementById("node").value="%(node)s";
               getElementById("rowid").value="%(id)s";
               ajax("%(url)s",['node', 'rowid'],"id_%(id)s");
               show_eid("tr_id_%(id)s");
            """%dict(url=URL(r=request,f='ajax_service'),
                     node=check.chk_svcname,
                     id=check.id,
                    ),
          ),
          _class="xinfo",
        )
      }}
    {{elif key == 'chk_nodename':}}
    <td name="tcol_chk_id" style="{{=col_hide('chk_nodename')}}">
      {{=A(
          DIV(
            node_icon(check.os_name),
            check.chk_nodename,
            _onclick="""
               getElementById("node").value="%(node)s";
               getElementById("rowid").value="%(id)s";
               ajax("%(url)s",['node', 'rowid'],"id_%(id)s");
               show_eid("tr_id_%(id)s");
            """%dict(url=URL(r=request,f='ajax_node'),
                     node=check.chk_nodename,
                     id=check.id,
                    ),
          ),
          _class="xinfo",
        )
      }}
    </td>
    {{elif key == 'chk_value':
         if check['chk_value'] < check['chk_low'] or check['chk_value'] > check['chk_high']:
             alert = 'color:darkred;font-weight:bold'
         else:
             alert = ''
         pass
    }}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}};{{=alert}}">{{=check[key]}}</td>
    {{elif key == 'chk_low':
         if check['chk_value'] < check['chk_low']:
             alert = 'color:darkred;font-weight:bold'
         else:
             alert = ''
         pass
    }}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}};{{=alert}}">{{=check[key]}}</td>
    {{elif key == 'chk_high':
         if check['chk_value'] > check['chk_high']:
             alert = 'color:darkred;font-weight:bold'
         else:
             alert = ''
         pass
    }}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}};{{=alert}}">{{=check[key]}}</td>
    {{elif key == 'chk_updated':
         if outdated(check['chk_updated']):
             alert = 'color:darkred;font-weight:bold'
         else:
             alert = ''
         pass
    }}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}};{{=alert}}">{{=check[key]}}</td>
    {{else:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}">{{=check[key]}}</td>
    {{pass}}
    {{pass}}
  </tr>
  <tr id='tr_id_{{=check.id}}' class="cloud">
    <td colspan=99 class="details_row {{=cellclass}}">
      <div id='id_{{=check.id}}'>
      </div>
    </td>
  </tr>
  {{pass}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('Export')}}:</td>
        </tr>
        <tr>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='checks_csv', vars=request.vars))}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<input id="node" type="hidden">
<input id="rowid" type="hidden">
<input name="action" type="hidden">
</form>
