{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}

{{
vars = request.vars
for key in ['svc_name',
            'svc_app',
            'responsibles',
            'svc_type',
            'svc_drptype',
            'svc_autostart',
            'svc_nodes',
            'svc_drpnode',
            'svc_drpnodes',
            'svc_wave',
            ]:
    if not vars.has_key(key) or vars[key] is None: vars[key]=''
    pass
}}
{{
def show_nodes(nodes):
    for n in nodes.split():
}}
        {{=A(n, _href=URL(request.application,'default','node?nodename='+n))}}
    {{pass}}
{{pass}}
<form action='drplan' name='svcform' id='svcform'> 
<table>
  {{BOX_TOP_ROW(11)}}
  <tr class=box>
    <td class=box></td>
    <td class=box></td>
    <td>{{=T('Service name')}}</td>
    <td width=10>{{=T('App')}}</td>
    <td width=10>{{=T('Resp')}}</td>
    <td width=10>{{=T('Service type')}}</td>
    <td width=10>{{=T('DR type')}}</td>
    <td>{{=T('Node')}}</td>
    <td>{{=T('Nodes')}}</td>
    <td>{{=T('DR node')}}</td>
    <td>{{=T('DR nodes')}}</td>
    <td>{{=T('Wave')}}</td>
    <td class=box></td>
  </tr>
  <tr class=box>
    <td class=box></td>
    <td><input type=checkbox id=check_all onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'))"></td>
    <td><input name=svc_name value='{{=vars.svc_name}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=svc_app value='{{=vars.svc_app}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=responsibles value='{{=vars.responsibles}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svc_type value='{{=vars.svc_type}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svc_drptype value='{{=vars.svc_drptype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svc_autostart value='{{=vars.svc_autostart}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svc_nodes value='{{=vars.svc_nodes}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svc_drpnode value='{{=vars.svc_drpnode}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svc_drpnodes value='{{=vars.svc_drpnodes}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svc_wave value='{{=vars.svc_wave}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td class=box></td>
  </tr>
  {{BOX_BOTTOM_ROW(11)}}
  {{
    svcname = ''
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
  }}
  {{for svc in services:}}
  <tr>
    {{if svcname != svc.v_services.svc_name:
          cellclass = cellclasses[cellclass]
          svcname = svc.v_services.svc_name
          pass
      checked = getattr(vars, 'check_'+svc.v_services.svc_name)
      if checked is not None:
          checked = 'checked=on'
          pass
      if svc.drpservices.drp_wave is None:
          drp_wave = ''
      else:
          drp_wave = svc.drpservices.drp_wave
          pass
      if svc.drpservices.drp_project_id is None:
          drp_project_id = ''
      else:
          drp_project_id = svc.drpservices.drp_project_id
          pass
      if svc.v_services.responsibles:
          responsibles = IMG(_src=URL(r=request,c='static',f='guy.png'),_border=0, _title=svc.v_services.responsibles)
      else:
          responsibles = ''
          pass
      }}
    <td style='padding:0'></td>
    <td class={{=cellclass}}><input type=checkbox name=check_{{=svc.v_services.svc_name}} {{=checked}}></td>
    <td class={{=cellclass}}>{{=svc.v_services.svc_name}}</td>
    <td class={{=cellclass}}>{{=svc.v_services.svc_app}}</td>
    <td class={{=cellclass}}>{{=responsibles}}</td>
    <td class={{=cellclass}}>{{=svc.v_services.svc_type}}</td>
    <td class={{=cellclass}}>{{=svc.v_services.svc_drptype}}</td>
    <td class={{=cellclass}}>{{show_nodes(svc.v_services.svc_autostart)}}</td>
    <td class={{=cellclass}}>{{show_nodes(svc.v_services.svc_nodes)}}</td>
    <td class={{=cellclass}}>{{show_nodes(svc.v_services.svc_drpnode)}}</td>
    <td class={{=cellclass}}>{{show_nodes(svc.v_services.svc_drpnodes)}}</td>
    <td class={{=cellclass}}>{{=drp_wave}}</td>
  </tr>
  {{pass}}
  {{BOX_TOP_ROW(11)}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <input name=setwave type=hidden>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('Export')}}:</td>
          <td> {{=T('set wave')}}:</td>
          <td> {{=T('project')}}:</td>
        </tr>
        <tr>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='drplan_csv', vars=vars))}}
          </td>
          <td>
            {{=IMG(_src=URL(r=request,c='static',f='wave0.png'),_border=0,_onclick='javascript:document.svcform.setwave.value=0;document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='wave1.png'),_border=0,_onclick='javascript:document.svcform.setwave.value=1;document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='wave2.png'),_border=0,_onclick='javascript:document.svcform.setwave.value=2;document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='wave3.png'),_border=0,_onclick='javascript:document.svcform.setwave.value=3;document.svcform.submit()')}}
            {{=IMG(_src=URL(r=request,c='static',f='del.png'),_border=0,_title=T("remove the selected services from the DR plan"), _onclick='javascript:document.svcform.setwave.value="del";document.svcform.submit()')}}
          </td>
          <td width=500>
            <input name=delproject type=hidden>
            <select name=prjlist onChange='document.svcform.submit()'>
              <option value=0>choose</option>
              {{for project in projects:
              if str(project.drp_project_id) == str(request.vars.prjlist):
                  selected = 'selected'
              else:
                  selected = ''
                  pass
              }}
              <option value={{=project.drp_project_id}} {{=selected}}>{{=project.drp_project_id}}: {{=project.drp_project}}</option>
              {{pass}}
            </select>
            {{=IMG(_src=URL(r=request,c='static',f='add.png'),_border=0, _title=T("create new project"), _onclick='javascript:show_eid("addproject_row");document.svcform.addproject.focus()')}}
            {{=IMG(_src=URL(r=request,c='static',f='clone.png'),_border=0, _title=T("clone the current project"), _onclick='javascript:show_eid("cloneproject_row");document.svcform.cloneproject.focus()')}}
            {{=IMG(_src=URL(r=request,c='static',f='del.png'),_border=0, _title=T("trash the current project"), _onclick='javascript:document.svcform.delproject.value=1;document.svcform.submit()')}}
            {{=A(IMG(_src=URL(r=request,c='static',f='gen.png'),_border=0, _title=T("generate the DR scripts for the current project")),_href=URL(r=request,f='drplan_scripts', vars=vars))}}
          </td>
        </tr>
        <tr class='hidden' id='cloneproject_row'>
          <td></td>
          <td></td>
          <td>
            <input name=cloneproject onKeyPress="checkEnter(event)" onBlur="hide_eid('cloneproject_row')">
          </td>
        </tr>
        <tr class='hidden' id='addproject_row'>
          <td></td>
          <td></td>
          <td>
            <input name=addproject onKeyPress="checkEnter(event)" onBlur="hide_eid('addproject_row')">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  {{BOX_BOTTOM_ROW(11)}}
</table>
</form>
