{{extend 'layout.html'}}
{{include 'box.html'}}
{{include '../static/jslib.html'}}
{{include 'filters.html'}}
{{

tmo = datetime.datetime.now() - datetime.timedelta(minutes=15)

def svc_status(svc, cellclass="cell2", nestedin=None):
    cl = {}
    for k in ['mon_overallstatus',
              'mon_containerstatus',
              'mon_ipstatus',
              'mon_fsstatus',
              'mon_diskstatus',
              'mon_syncstatus',
              'mon_appstatus']:
        if nestedin is None:
            if svc[k] is None:
                cl[k] = 'status_undef'
            elif 'mon_updated' in svc and svc['mon_updated'] < tmo:
                cl[k] = 'status_expired'
            else:
                cl[k] = 'status_'+svc[k].replace(" ", "_")
            pass
        else:
            if svc[nestedin][k] is None:
                cl[k] = 'status_undef'
            elif 'mon_updated' in svc[nestedin] and svc[nestedin]['mon_updated'] < tmo:
                cl[k] = 'status_expired'
            else:
                cl[k] = 'status_'+svc[nestedin][k].replace(" ", "_")
            pass
        pass
    pass

    if nestedin is None:
        overallstatus = svc.mon_overallstatus
    else:
        overallstatus = svc[nestedin].mon_overallstatus
    pass

    t = TABLE(
      TR(
        TD(overallstatus,
           _colspan=6, 
           _class=cellclass+' status '+cl['mon_overallstatus'],
        ),
      ),
      TR(
        TD("vm", _class=cellclass+' '+cl['mon_containerstatus']),
        TD("ip", _class=cellclass+' '+cl['mon_ipstatus']),
        TD("fs", _class=cellclass+' '+cl['mon_fsstatus']),
        TD("dg", _class=cellclass+' '+cl['mon_diskstatus']),
        TD("sync", _class=cellclass+' '+cl['mon_syncstatus']),
        TD("app", _class=cellclass+' '+cl['mon_appstatus']),
      ),
    )
    return t
    pass


""" Service status not updated
"""
def svcmon_not_updated_line(line, cellclass):
    tr = TR(
      TD(A(line.mon_svcname, _href=URL(r=request, f='svcmon', vars={'svcname':line.mon_svcname})), _class=cellclass),
      TD(A(line.mon_nodname, _href=URL(r=request, f='svcmon', vars={'nodename':line.mon_nodname})), _class=cellclass),
      TD(line.mon_updated, _class=cellclass),
      TD(svc_status(line, cellclass), _class=cellclass),
    )
    return tr
    pass

def svcmon_not_updated_header():
    tr = TR(
      TH(T("Service")),
      TH(T("Node")),
      TH(T("Last updated date")),
      TH(T("Last known status"), _style="text-align:center"),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def svcmon_not_updated_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in svcnotupdated:
        cellclass = cellclasses[cellclass]
        lines += [svcmon_not_updated_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Service status not updated"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        svcmon_not_updated_header(),
        lines,
    )
    return t
    pass

def svcmon_not_updated():
    if len(svcnotupdated) == 0:
        return DIV()
    d = DIV(
      svcmon_not_updated_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Last status changes
"""
def last_changes_line(line, cellclass):
    tr = TR(
      TD(A(line.svcmon_log.mon_begin, _href=URL(r=request, f='svcmon_log', vars={'mon_svcname':line.svcmon_log.mon_svcname})), _class=cellclass),
      TD(A(line.svcmon_log.mon_svcname, _href=URL(r=request, f='svcmon', vars={'svcname':line.svcmon_log.mon_svcname})), _class=cellclass),
      TD(A(line.svcmon_log.mon_nodname, _href=URL(r=request, f='svcmon', vars={'nodename':line.svcmon_log.mon_nodname})), _class=cellclass),
      TD(svc_status(line, cellclass, nestedin='svcmon_log'), _class=cellclass),
    )
    return tr
    pass

def last_changes_header():
    tr = TR(
      TH(T("Date")),
      TH(T("Service")),
      TH(T("Node")),
      TH(T("Status"), _style="text-align:center"),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def last_changes_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in lastchanges:
        cellclass = cellclasses[cellclass]
        lines += [last_changes_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Last service status changes"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        last_changes_header(),
        lines,
    )
    return t
    pass

def last_changes():
    if len(lastchanges) == 0:
        return DIV()
    d = DIV(
      last_changes_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Services with unacknowleged errors
"""
def svc_with_errors_line(line, cellclass):
    tr = TR(
      TD(A(line.svc_name, _href=URL(r=request, f='svcmon', vars={'svcname':line.svc_name})), _class=cellclass),
      TD(A(line.mon_nodname, _href=URL(r=request, f='svcmon', vars={'nodename':line.mon_nodname})), _class=cellclass),
      TD(line.svc_type, _class=cellclass),
      TD(A(line.err, _href=URL(r=request,f='svcactions', vars={'svcname': line.svc_name, 'status': 'err', 'ack': '!1|empty'})), _class=cellclass),
      TD(svc_status(line, cellclass), _class=cellclass),
    )
    return tr
    pass

def svc_with_errors_header():
    tr = TR(
      TH(T("Service")),
      TH(T("Node")),
      TH(T("Env")),
      TH(T("Error count")),
      TH(T("Status"), _style="text-align:center"),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def svc_with_errors_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in svcwitherrors:
        cellclass = cellclasses[cellclass]
        lines += [svc_with_errors_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Services with errors"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        svc_with_errors_header(),
        lines,
    )
    return t
    pass

def svc_with_errors():
    if len(svcwitherrors) == 0:
        return DIV()
    d = DIV(
      svc_with_errors_table(),
      _style="padding:10px",
    )
    return d
    pass


""" pkg differences amongst cluster nodes
"""
def pkg_diff_line(line, cellclass):
    tr = TR(
      TD(line, _class=cellclass),
      TD(pkgdiff[line], _class=cellclass),
    )
    return tr
    pass

def pkg_diff_header():
    tr = TR(
      TH(T("Cluster")),
      TH(T("Number of package differences")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def pkg_diff_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in pkgdiff:
        cellclass = cellclasses[cellclass]
        lines += [pkg_diff_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Package differences amongst cluster nodes"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        pkg_diff_header(),
        lines,
    )
    return t
    pass

def pkg_diff():
    if len(pkgdiff) == 0:
        return DIV()
    d = DIV(
      pkg_diff_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Services not up on all nodes
"""
def svc_not_up_line(line, cellclass):
    tr = TR(
      TD(A(line.v_svc_group_status.svcname, _href=URL(r=request, f='svcmon', vars={'svcname':line.v_svc_group_status.svcname})), _class=cellclass),
      TD(line.v_svc_group_status.svctype, _class=cellclass),
      TD(line.v_svc_group_status.nodes, _class=cellclass),
      TD(line.v_svc_group_status.groupstatus, _class=cellclass),
    )
    return tr
    pass

def svc_not_up_header():
    tr = TR(
      TH(T("Service")),
      TH(T("Env")),
      TH(T("Cluster")),
      TH(T("Cluster status")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def svc_not_up_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in svcnotup:
        cellclass = cellclasses[cellclass]
        lines += [svc_not_up_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Services not up"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        svc_not_up_header(),
        lines,
    )
    return t
    pass

def svc_not_up():
    if len(svcnotup) == 0:
        return DIV()
    d = DIV(
      svc_not_up_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Services not up on their primary node
"""
def svc_not_on_primary_line(line, cellclass):
    tr = TR(
      TD(A(line.svc_name, _href=URL(r=request, f='svcmon', vars={'svcname':line.svc_name})), _class=cellclass),
      TD(A(line.svc_autostart, _href=URL(r=request, f='svcmon', vars={'nodename':line.svc_autostart})), _class=cellclass),
      TD(line.svc_type, _class=cellclass),
      TD(svc_status(line, cellclass), _class=cellclass),
    )
    return tr
    pass

def svc_not_on_primary_header():
    tr = TR(
      TH(T("Service")),
      TH(T("Primary")),
      TH(T("Env")),
      TH(T("Status on primary"), _style="text-align:center"),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def svc_not_on_primary_table(svcnotonprimary):
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in svcnotonprimary:
        cellclass = cellclasses[cellclass]
        lines += [svc_not_on_primary_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Services not up on primary"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        svc_not_on_primary_header(),
        lines,
    )
    return t
    pass

def svc_not_on_primary():
    svcnotup_names = [s.v_svc_group_status.svcname for s in svcnotup]
    list = [s for s in svcnotonprimary if s.svc_name not in svcnotup_names]
    if len(list) == 0:
        return DIV()
    d = DIV(
      svc_not_on_primary_table(list),
      _style="padding:10px",
    )
    return d
    pass


""" Applications without responsibles
"""
def app_wo_resp_line(line, cellclass):
    tr = TR(
      TD(line.app, _class=cellclass),
    )
    return tr
    pass

def app_wo_resp_header():
    tr = TR(
      TH(T("App")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def app_wo_resp_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in appwithoutresp:
        cellclass = cellclasses[cellclass]
        lines += [app_wo_resp_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
           H2(T("Application without responsibles"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        app_wo_resp_header(),
        lines,
    )
    return t
    pass

def app_wo_resp():
    if len(appwithoutresp) == 0:
        return DIV()
    d = DIV(
      app_wo_resp_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Systems obsolescent (alert)
"""
def obs_os_alert_line(line, cellclass):
    tr = TR(
      TD(A(line.v_nodes.nodename, _href=URL(r=request, f='svcmon', vars={'nodename':line.v_nodes.nodename})), _class=cellclass),
      TD(line.obsolescence.obs_name, _class=cellclass),
      TD(line.obsolescence.obs_alert_date, _class=cellclass),
    )
    return tr
    pass

def obs_os_alert_header():
    tr = TR(
      TH(T("Nodename")),
      TH(T("Operating system")),
      TH(T("Alert since")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def obs_os_alert_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in obsosalert:
        cellclass = cellclasses[cellclass]
        lines += [obs_os_alert_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Nodes with obsolescent operating system (alert)"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        obs_os_alert_header(),
        lines,
    )
    return t
    pass

def obs_os_alert():
    if len(obsosalert) == 0:
        return DIV()
    d = DIV(
      obs_os_alert_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Systems obsolescent (warning)
"""
def obs_os_warn_line(line, cellclass):
    tr = TR(
      TD(A(line.v_nodes.nodename, _href=URL(r=request, f='svcmon', vars={'nodename':line.v_nodes.nodename})), _class=cellclass),
      TD(line.obsolescence.obs_name, _class=cellclass),
      TD(line.obsolescence.obs_warn_date, _class=cellclass),
    )
    return tr
    pass

def obs_os_warn_header():
    tr = TR(
      TH(T("Nodename")),
      TH(T("Operating system")),
      TH(T("Warning since")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def obs_os_warn_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in obsoswarn:
        cellclass = cellclasses[cellclass]
        lines += [obs_os_warn_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Nodes with obsolescent operating system (warn)"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        obs_os_warn_header(),
        lines,
    )
    return t
    pass

def obs_os_warn():
    if len(obsoswarn) == 0:
        return DIV()
    d = DIV(
      obs_os_warn_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Model obsolescent (warning)
"""
def obs_hw_warn_line(line, cellclass):
    tr = TR(
      TD(A(line.v_nodes.nodename, _href=URL(r=request, f='svcmon', vars={'nodename':line.v_nodes.nodename})), _class=cellclass),
      TD(line.obsolescence.obs_name, _class=cellclass),
      TD(line.obsolescence.obs_warn_date, _class=cellclass),
    )
    return tr
    pass

def obs_hw_warn_header():
    tr = TR(
      TH(T("Nodename")),
      TH(T("Model")),
      TH(T("Warning since")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def obs_hw_warn_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in obshwwarn:
        cellclass = cellclasses[cellclass]
        lines += [obs_hw_warn_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Nodes with obsolescent hardware (warn)"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        obs_hw_warn_header(),
        lines,
    )
    return t
    pass

def obs_hw_warn():
    if len(obshwwarn) == 0:
        return DIV()
    d = DIV(
      obs_hw_warn_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Model obsolescent (alert)
"""
def obs_hw_alert_line(line, cellclass):
    tr = TR(
      TD(A(line.v_nodes.nodename, _href=URL(r=request, f='svcmon', vars={'nodename':line.v_nodes.nodename})), _class=cellclass),
      TD(line.obsolescence.obs_name, _class=cellclass),
      TD(line.obsolescence.obs_alert_date, _class=cellclass),
    )
    return tr
    pass

def obs_hw_alert_header():
    tr = TR(
      TH(T("Nodename")),
      TH(T("Model")),
      TH(T("Alert since")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def obs_hw_alert_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in obshwalert:
        cellclass = cellclasses[cellclass]
        lines += [obs_hw_alert_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Nodes with obsolescent hardware (alert)"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        obs_hw_alert_header(),
        lines,
    )
    return t
    pass

def obs_hw_alert():
    if len(obshwalert) == 0:
        return DIV()
    d = DIV(
      obs_hw_alert_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Obsolescence information missing
"""
def obs_miss():
    if obswarnmiss + obsalertmiss == 0:
        return DIV()
    return DIV(
      TABLE(
        TR(
          TD(
            H2(T("Items with missing obsolescence information")),
            _colspan=99,
          ),
        ),
        TR(
          TH(T("Date not set")),
          TH(T("Item count")),
          _style="border-bottom:4px solid darkorange",
        ),
        TR(
          TD(T("Warn")),
          TD(A(obswarnmiss, _href=(URL(r=request, f='obsolescence_config', vars={'obs_warn_date': 'empty|0000-00-00 00:00:00'})))),
        ),
        TR(
          TD(T("Alert"), _class="cell1"),
          TD(A(obsalertmiss, _href=(URL(r=request, f='obsolescence_config', vars={'obs_alert_date': 'empty|0000-00-00 00:00:00'}))), _class="cell1"),
        )
      )
    )
    pass


""" Nodes without asset
"""
def nodes_without_asset_line(line, cellclass):
    tr = TR(
      TD(A(line.mon_nodname, _href=URL(r=request, f='svcmon', vars={'nodename':line.mon_nodname})), _class=cellclass),
    )
    return tr
    pass

def nodes_without_asset_header():
    tr = TR(
      TH(T("Nodename")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def nodes_without_asset_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in nodeswithoutasset:
        cellclass = cellclasses[cellclass]
        lines += [nodes_without_asset_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Nodes without asset information"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        nodes_without_asset_header(),
        lines,
    )
    return t
    pass

def nodes_without_asset():
    if len(nodeswithoutasset) == 0:
        return DIV()
    d = DIV(
      nodes_without_asset_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Frozen services
"""
def frozen_line(line, cellclass):
    tr = TR(
      TD(A(line.mon_svcname, _href=URL(r=request, f='svcmon', vars={'svcname':line.mon_svcname})), _class=cellclass),
      TD(A(line.mon_nodname, _href=URL(r=request, f='svcmon', vars={'nodename':line.mon_nodname})), _class=cellclass),
    )
    return tr
    pass

def frozen_header():
    tr = TR(
      TH(T("Service")),
      TH(T("Nodename")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def frozen_table():
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    for line in frozen:
        cellclass = cellclasses[cellclass]
        lines += [frozen_line(line, cellclass)]
        pass

    t = TABLE(
        TR(
          TD(
            H2(T("Frozen services"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        frozen_header(),
        lines,
    )
    return t
    pass

def frozen_services():
    if len(frozen) == 0:
        return DIV()
    d = DIV(
      frozen_table(),
      _style="padding:10px",
    )
    return d
    pass


""" Summary
"""
def summary_table():
    def color(i):
        if i > 0:
            return 'color:darkred;font-weight:bold;'
        else:
            return ''
        pass

    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    lines = []

    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Services not up"), _class=cellclass),
      TD(len(svcnotup), _class=cellclass, _style=color(len(svcnotup))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Frozen services"), _class=cellclass),
      TD(len(frozen), _class=cellclass, _style=color(len(frozen))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Service status not updated"), _class=cellclass),
      TD(len(svcnotupdated), _class=cellclass, _style=color(len(svcnotupdated))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Services with errors"), _class=cellclass),
      TD(len(svcwitherrors), _class=cellclass, _style=color(len(svcwitherrors))),
    )]
    svcnotup_names = [s.v_svc_group_status.svcname for s in svcnotup]
    list = [s for s in svcnotonprimary if s.svc_name not in svcnotup_names]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Services not up on primary"), _class=cellclass),
      TD(len(list), _class=cellclass, _style=color(len(list))),
    )]
    now = datetime.datetime.now()
    onehourago = now - datetime.timedelta(minutes=60)
    hrate = len([c for c in lastchanges if c.svcmon_log.mon_begin > onehourago])
    if hrate == 20:
        shrate = "+20/h"
    else:
        shrate = "%s/h"%str(hrate)
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Last service status changes"), _class=cellclass),
      TD(shrate, _class=cellclass, _style=color(hrate)),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Application without responsibles"), _class=cellclass),
      TD(len(appwithoutresp), _class=cellclass, _style=color(len(appwithoutresp))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Nodes with obsolescent operating system (alert)"), _class=cellclass),
      TD(len(obsosalert), _class=cellclass, _style=color(len(obsosalert))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Nodes with obsolescent operating system (warn)"), _class=cellclass),
      TD(len(obsoswarn), _class=cellclass, _style=color(len(obsoswarn))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Nodes with obsolescent hardware (alert)"), _class=cellclass),
      TD(len(obshwalert), _class=cellclass, _style=color(len(obshwalert))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Nodes with obsolescent hardware (warn)"), _class=cellclass),
      TD(len(obshwwarn), _class=cellclass, _style=color(len(obshwwarn))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Items with missing obsolescence information (alert)"), _class=cellclass),
      TD(obswarnmiss, _class=cellclass, _style=color(obswarnmiss)),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Items with missing obsolescence information (warn)"), _class=cellclass),
      TD(obsalertmiss, _class=cellclass, _style=color(obsalertmiss)),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Nodes without asset information"), _class=cellclass),
      TD(len(nodeswithoutasset), _class=cellclass, _style=color(len(nodeswithoutasset))),
    )]
    cellclass = cellclasses[cellclass]
    lines += [TR(
      TD(T("Clusters with package differences amongst nodes"), _class=cellclass),
      TD(len(pkgdiff), _class=cellclass, _style=color(len(pkgdiff))),
    )]

    t = TABLE(
        TR(
          TD(
            H2(T("Summary"), _style="padding:10px;text-align:center"),
            _colspan=99,
          ),
        ),
        summary_header(),
        lines,
    )
    return t
    pass

def summary_header():
    tr = TR(
      TH(T("Report")),
      TH(T("Status")),
      _style="border-bottom:4px solid darkorange",
    )
    return tr
    pass

def summary():
    d = DIV(
      summary_table(),
      _style="padding:10px",
    )
    return d
    pass
}}

{{=FORM(
     DB_FILTERS_TABLE(active_filters, available_filters),
     _action=URL(r=request, f='index'),
     _name='svcform',
     _id='svcform',
   )
}}
{{=DIV(
     summary(),
     svc_not_up(),
     frozen_services(),
     svcmon_not_updated(),
     svc_with_errors(),
     svc_not_on_primary(),
     last_changes(),
     app_wo_resp(),
     obs_os_alert(),
     obs_os_warn(),
     obs_hw_alert(),
     obs_hw_warn(),
     obs_miss(),
     nodes_without_asset(),
     pkg_diff(),
     _style="
       padding-left:2em;
       padding-right:2em;
       -moz-column-width:50em;
       -moz-column-gap:2em;
       -webkit-column-width:50em;
       -webkit-column-gap:2em;
     "
   )
}}

