{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'filters.html'}}
{{

def img(o):
    return SPAN(
             IMG(
               _src=URL(r=request,c='static',f='stat_lifecycle_'+o+'.png'),
               _border=0,
             ), 
           )
    pass

def lc_display(o="", title=True):
    if o is None:
        return SPAN()
    if title:
        title = H2(o, _style="padding:10px")
    else:
        title = SPAN()
        pass
    return DIV(
             title,
             img(o),
             _class="float",
           )
    pass

}}
{{=DIV(
     DIV(
       H1(T("Operating systems lifecycle")),
       lc_display('os_name', None),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class="container"
     ),
     DIV(
       H1(T("Per operating system lifecycle")),
       SPAN(map(lc_display, os)),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class="container",
     ),
   )
}}
