{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'filters.html'}}
{{

def img(o):
    return SPAN(
             IMG(
               _src=URL(r=request,c='static',f='stat_lifecycle_'+o+'.png'),
               _border=0,
             ), 
           )
    pass

def lc_display(o="", title=None):
    if title is None:
        title = o
        pass
    if o is None:
        return SPAN()
    return SPAN(
             H2(T(title), _style="padding:10px"),
             img(o),
             _style="padding:10px",
           )
    pass

}}
{{=DIV(
     lc_display('os_name', 'Operating systems'),
     SPAN(map(lc_display, os)),
     _style="
       text-align:left;
       padding-left:2em;
       padding-right:2em;
     "
   )
}}
