{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'panel.html'}}
{{include 'filters.html'}}
{{include 'lib.html'}}
{{
initialize_keys()
}}

<script type="text/javascript">
function selected_nodes() {
	var l = new Array();
	var elem = document.svcform.elements;
	for(var i = 0; i < elem.length; i++) {
		if (elem[i].type == 'checkbox' && elem[i].disabled == false && elem[i].name.match(/^check_/) && elem[i].checked) {
			l.push(elem[i].id.replace("check_",""));
		}
	}
	return l.join(",");
}
</script>

<a id="listdiv" class="xinfo"><span><div ondblclick="getElementById('listdiv').className='xinfo';" id='listspan'>innerHTML here</div></span></a>
{{=PANEL("column_values")}}
<form action='nodes' name='svcform' id='svcform' method='post'>
{{=DB_FILTERS_TABLE(active_filters, available_filters)}}
<table class=datatable>
  <tr class=box>
    <td></td>
    <td></td>
    {{for key in colkeys:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}">
      {{=colname(nodes, key, columns[key]['title'])}}
    </td>
    {{pass}}
  </tr>
  <tr class=box>
    <td><input type=checkbox id=check_all onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'))"></td>
    <td></td>
    {{for key in colkeys:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}"><input name={{=key}} value='{{=request.vars[key]}}' size={{=columns[key]['size']}} onKeyPress="checkEnter(event)"></td>
    {{pass}}
  </tr>
  {{
    cellclass = 'cell1'
    cellclasses = {'cell1': 'cell2', 'cell2': 'cell1'}
  }}
  {{for node in nodes:
      cellclass = cellclasses[cellclass]

      checked = getattr(request.vars, 'check_'+str(node.id))
      if checked is not None:
          checked = 'checked=on'
          pass

  }}
  <tr class={{=cellclass}}>
    <td class={{=cellclass}}><input type=checkbox name=check_{{=node.id}} id=check_{{=node.nodename}} {{=checked}}></td>
    <td>{{=A(
             IMG(
               _src=URL(r=request,c='static',f='edit.png'),
               _border=0,
             ),
             _href=URL(r=request, f='node_edit', vars={'node':node['nodename']}),
           )
        }}
    </td>
    <td name="tcol_nodename" style="{{=col_hide('nodename')}}" ondblclick="svcform.nodename.value='{{=node.nodename}}';svcform.submit()">
      {{=SPAN(
          node_icon(node.os_name),
          A(
            node.nodename,
            _onclick="""
               getElementById("node").value="%(node)s";
               getElementById("rowid").value="%(id)s";
               ajax("%(url)s",['node', 'rowid'],"id_%(id)s");
               show_eid("tr_id_%(id)s");
            """%dict(url=URL(r=request,f='ajax_node'),
                     node=node.nodename,
                     id=node.nodename,
                    ),
          ),
          _class="xinfo",
        )
      }}
    </td>
    {{for key in [k for k in colkeys if k != 'nodename']:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}" ondblclick="svcform.{{=key}}.value='{{=node[key]}}';svcform.submit()">{{=node[key]}}</td>
    {{pass}}
  </tr>
  <tr id='tr_id_{{=node.nodename}}' class="cloud">
    <td colspan=99 class="details_row {{=cellclass}}">
      <div id='id_{{=node.nodename}}'>
      </div>
    </td>
  </tr>
  {{pass}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('Export')}}:</td>
          <td> {{=T('Add node')}}:</td>
          <td> {{=T('Delete nodes')}}:</td>
          <td> {{=T('Package differences')}}:</td>
          <td> {{=T('Group performance')}}:</td>
        </tr>
        <tr>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='nodes_csv', vars=request.vars))}}
          </td>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='add.png'),_border=0, _title=T("add a new node")),_href=URL(r=request,f='node_insert'))}}
          </td>
          <td>
            {{=IMG(
                _src=URL(r=request,c='static',f='del.png'),
                _border=0,
                _title=T("delete selected nodes"),
                _onclick="""
                   document.svcform.action.value="delnodes";
                   document.svcform.submit();
                """
              )
            }}
          </td>
          <td>
            {{=IMG(
                _src=URL(r=request,c='static',f='pkg.png'),
                _border=0,
                _title=T("display installed package differences between selected nodes"),
                _onclick="""
                  getElementById("node").value=selected_nodes();
                  ajax("%(url)s",['node'],"panelbody_%(a)s");
                  getElementById("panel_%(a)s").className="panel_shown";
                  getElementById("panel_%(a)s").style.top=event.pageY+'px';
               """%dict(url=URL(r=request,f='ajax_pkgdiff'), a='pkgdiff'),
              )
            }}
          </td>
          <td>
            {{=IMG(
                _src=URL(r=request,c='static',f='chart24.png'),
                _border=0,
                _title=T("compare performance metrics between selected nodes"),
                _onclick="""getElementById("perfcmp_row").style.display='table-row';
                         """,
              )
            }}
        </tr>
        <tr id="perfcmp_row" style="display:none">
          <td colspan=99>
{{
    now = datetime.datetime.now()
    s = now - datetime.timedelta(days=0,
                                 hours=now.hour,
                                 minutes=now.minute,
                                 microseconds=now.microsecond)
    e = s + datetime.timedelta(days=1)
    timepicker = """Calendar.setup({inputField:this.id, ifFormat:"%Y-%m-%d %H:%M:%S", showsTime: true,timeFormat: "24" });"""
}}
{{=SPAN(
            INPUT(
              _value=s.strftime("%Y-%m-%d %H:%M"),
              _id='begin',
              _class='datetime',
              _onfocus=timepicker,
            ),
            INPUT(
              _value=e.strftime("%Y-%m-%d %H:%M"),
              _id='end',
              _class='datetime',
              _onfocus=timepicker,
            ),
            INPUT(
              _value='gen',
              _type='button',
              _onClick="""
                  getElementById("node").value=selected_nodes();
                  ajax("%(url)s",['node', 'begin', 'end'],"perfcmp_div");
              """%dict(url=URL(r=request,f='ajax_perfcmp')),
            ),
  )
}}
             <div id="perfcmp_div"></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{=PANEL('pkgdiff')}}
<input id="node" type="hidden">
<input id="rowid" type="hidden">
<input name="action" type="hidden">
</form>
