{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'panel.html'}}
{{include 'filters.html'}}
{{
vars = request.vars

for key in colkeys:
    if not vars.has_key(key) or vars[key] is None: request.vars[key]=''
    pass
}}

<a id="listdiv" class="xinfo"><span><div ondblclick="getElementById('listdiv').className='xinfo';" id='listspan'>innerHTML here</div></span></a>
{{=PANEL("column_values")}}
<form action='nodes' name='svcform' id='svcform'>
<table>
  {{BOX_TOP_ROW(len(colkeys))}}
  <tr class=box>
    <td class=box></td>
    {{for key in colkeys:}}
    <td>
      {{=colname(nodes, key, columns[key]['title'])}}
    </td>
    {{pass}}
    <td class=box></td>
  </tr>
  <tr class=box>
    <td class=box></td>
    {{for key in colkeys:}}
    <td><input name={{=key}} value='{{=request.vars[key]}}' size={{=columns[key]['size']}} onKeyPress="checkEnter(event)"></td>
    {{pass}}
    <td class=box></td>
  </tr>
  {{BOX_BOTTOM_ROW(len(colkeys))}}
  {{
    cellclass = 'cell1'
    cellclasses = {'cell1': 'cell2', 'cell2': 'cell1'}
  }}
  {{for node in nodes:
      cellclass = cellclasses[cellclass]
  }}
  <tr class={{=cellclass}}>
    <td style='padding:0'></td>
    <td>
      {{nodename = node['nodename'].lower()}}
      {{=PANEL('node_'+nodename)}}
      {{=A(
          DIV(
            nodename,
            _onclick="""
               getElementById("node").value="%(node)s";
               ajax("%(url)s",['node'],"panelbody_node_%(a)s");
               getElementById("panel_node_%(a)s").className="panel_shown";
               getElementById("panel_node_%(a)s").style.top=event.pageY+'px';
            """%dict(url=URL(r=request,f='ajax_node'),
                     node=nodename,
                     a=nodename.replace('.', '_'),
                    ),
          ),
          _class="xinfo",
        )
      }}
    </td>
    {{for key in [k for k in colkeys if k != 'nodename']:}}
    <td>{{=node[key]}}</td>
    {{pass}}
    <td style='padding:0'></td>
  </tr>
  {{pass}}
  <input id="node" type="hidden">
  {{BOX_TOP_ROW(len(colkeys))}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('Export')}}:</td>
          <td> {{=T('Add node')}}:</td>
          <td> {{=T('Active filters')}}:</td>
          <td> {{=T('Add filter')}}:</td>
        </tr>
        <tr>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='nodes_csv', vars=vars))}}
          </td>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='add.png'),_border=0, _title=T("add a new node")),_href=URL(r=request,f='node_insert'))}}
          </td>
          <td>{{FILTERS_ACTIVE(session.nodes_filters)}}</td>
          <td>{{FILTERS_AVAIL(session.nodes_filters)}}</td>
        </tr>
      </table>
    </td>
  </tr>
  {{BOX_BOTTOM_ROW(len(colkeys))}}
</table>
</form>
