{{extend 'layout.html'}}
{{include 'box.html'}}
{{if node is not None:}}
{{node=node[0]}}
<table>
  <tr><td>
    <table width='100%'>
      {{BOX_TOP_ROW(4)}}
      <tr class=box>
        <td class=box></td>
        <td colspan=2 width=50%>{{=T('location')}}</td>
        <td colspan=2 width=50%>{{=T('power')}}</td>
        <td class=box></td>
      </tr>
      {{BOX_BOTTOM_ROW(4)}}
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('country')}}</td>
        <td>{{=node['loc_country']}}</td>
        <td style='font-style:italic'>{{=T('nb power supply')}}</td>
        <td>{{=node['power_supply_nb']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('city')}}</td>
        <td>{{=node['loc_city']}}</td>
        <td style='font-style:italic'>{{=T('power cabinet #1')}}</td>
        <td>{{=node['power_cabinet1']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('zip')}}</td>
        <td>{{=node['loc_zip']}}</td>
        <td style='font-style:italic'>{{=T('power cabinet #2')}}</td>
        <td>{{=node['power_cabinet2']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('address')}}</td>
        <td>{{=node['loc_addr']}}</td>
        <td style='font-style:italic'>{{=T('power protector')}}</td>
        <td>{{=node['power_protect']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('building')}}</td>
        <td>{{=node['loc_building']}}</td>
        <td style='font-style:italic'>{{=T('power protector breaker')}}</td>
        <td>{{=node['power_protect_breaker']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('floor')}}</td>
        <td>{{=node['loc_floor']}}</td>
        <td style='font-style:italic'>{{=T('power breaker #1')}}</td>
        <td>{{=node['power_breaker1']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('room')}}</td>
        <td>{{=node['loc_room']}}</td>
        <td style='font-style:italic'>{{=T('power breaker #2')}}</td>
        <td>{{=node['power_breaker2']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('rack')}}</td>
        <td>{{=node['loc_rack']}}</td>
        <td style='font-style:italic'></td>
        <td></td>
        <td style='padding:0'></td>
      </tr>
    </table>
  </td></tr>
  <tr><td>
    <table width='100%'>
      {{BOX_TOP_ROW(8)}}
      <tr class=box>
        <td class=box></td>
        <td colspan=2>{{=T('server')}}</td>
        <td colspan=2>{{=T('cpu')}}</td>
        <td colspan=2>{{=T('memory')}}</td>
        <td colspan=2>{{=T('operating system')}}</td>
        <td class=box></td>
      </tr>
      {{BOX_BOTTOM_ROW(8)}}
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('model')}}</td>
        <td>{{=node['model']}}</td>
        <td style='font-style:italic'>{{=T('cpu frequency')}}</td>
        <td>{{=node['cpu_freq']}}</td>
        <td style='font-style:italic'>{{=T('memory banks')}}</td>
        <td>{{=node['mem_banks']}}</td>
        <td style='font-style:italic'>{{=T('os name')}}</td>
        <td>{{=node['os_name']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('type')}}</td>
        <td>{{=node['type']}}</td>
        <td style='font-style:italic'>{{=T('cpu cores')}}</td>
        <td>{{=node['cpu_cores']}}</td>
        <td style='font-style:italic'>{{=T('memory slots')}}</td>
        <td>{{=node['mem_slots']}}</td>
        <td style='font-style:italic'>{{=T('os release')}}</td>
        <td>{{=node['os_release']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('serial')}}</td>
        <td>{{=node['serial']}}</td>
        <td style='font-style:italic'>{{=T('cpu dies')}}</td>
        <td>{{=node['cpu_dies']}}</td>
        <td style='font-style:italic'>{{=T('memory total')}}</td>
        <td>{{=node['mem_bytes']}}</td>
        <td style='font-style:italic'>{{=T('os update')}}</td>
        <td>{{=node['os_update']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('warranty end')}}</td>
        <td>{{=node['warranty_end']}}</td>
        <td style='font-style:italic'>{{=T('cpu vendor')}}</td>
        <td>{{=node['cpu_vendor']}}</td>
        <td></td>
        <td></td>
        <td style='font-style:italic'>{{=T('os segment')}}</td>
        <td>{{=node['os_segment']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('team responsible')}}</td>
        <td>{{=node['team_responsible']}}</td>
        <td style='font-style:italic'>{{=T('cpu model')}}</td>
        <td>{{=node['cpu_model']}}</td>
        <td></td>
        <td></td>
        <td style='font-style:italic'>{{=T('os kernel')}}</td>
        <td>{{=node['os_kernel']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('status')}}</td>
        <td>{{=node['status']}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style='font-style:italic'>{{=T('os arch')}}</td>
        <td>{{=node['os_arch']}}</td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('role')}}</td>
        <td>{{=node['role']}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style='padding:0'></td>
      </tr>
      <tr>
        <td style='padding:0'></td>
        <td style='font-style:italic'>{{=T('env')}}</td>
        <td>{{=node['environnement']}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style='padding:0'></td>
      </tr>
    </table>
  </td></tr>
</table>
{{=A(T("edit"), _href=URL(r=request, f='node_edit', vars={'node':node['nodename']}))}}
{{pass}}
