{{extend 'layout.html'}}
{{include 'box.html'}}

{{=DIV(
     DIV(
       H1(T("Services")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_service.png')),
         _class='float',
       ),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_service_clustered.png')),
         _class='float',
       ),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_service_type.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Nodes")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_node.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Actions")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_action.png')),
         _class='float',
       ),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_action_err.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Disks")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_disk.png')),
         _class='float',
       ),
       DIV(
         IMG(_src=URL(r=request,c='static',f=stat_disk_svc)),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Computing ressource usage")),
       DIV(
         IMG(_src=URL(r=request,c='static',f=stat_cpu_avg_day)),
         P(T("(yesterday's average)")),
         _class='float',
       ),
       DIV(
         IMG(_src=URL(r=request,c='static',f=stat_mem_avail)),
         P(T("(yesterday's average)")),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Application codes")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_app.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Collector user accounts")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_accounts.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
   )
}}
