{{extend 'layout.html'}}
{{include 'box.html'}}

{{=TABLE(
  TR(
    TD(H2(T("Services")), _style="text-align:center", _colspan=2),
  ),
  TR(
    TD(IMG(_src=URL(r=request,c='static',f='stat_service.png'), _border=0)),
    TD(IMG(_src=URL(r=request,c='static',f='stat_service_clustered.png'), _border=0)),
  ),
  TR(
    TD(H2(T("Services by type")), _style="text-align:center"),
    TD(H2(T("Nodes")), _style="text-align:center"),
  ),
  TR(
    TD(IMG(_src=URL(r=request,c='static',f='stat_service_type.png'), _border=0)),
    TD(IMG(_src=URL(r=request,c='static',f='stat_node.png'), _border=0)),
  ),
  TR(
    TD(H2(T("Actions")), _style="text-align:center", _colspan=2),
  ),
  TR(
    TD(IMG(_src=URL(r=request,c='static',f='stat_action.png'), _border=0)),
    TD(IMG(_src=URL(r=request,c='static',f='stat_action_err.png'), _border=0)),
  ),
  TR(
    TD(H2(T("Disks")), _style="text-align:center"),
    TD(H2(T("Top disks/service")), _style="text-align:center"),
  ),
  TR(
    TD(IMG(_src=URL(r=request,c='static',f='stat_disk.png'), _border=0)),
    TD(IMG(_src=URL(r=request,c='static',f=stat_disk_svc), _border=0)),
  ),
  TR(
    TD(H2(T("Processor usage per node")), T("(yesterday's average)"), _style="text-align:center"),
    TD(H2(T("Available memory per node")), T("(yesterday's average)"), _style="text-align:center"),
  ),
  TR(
    TD(IMG(_src=URL(r=request,c='static',f=stat_cpu_avg_day), _border=0)),
    TD(IMG(_src=URL(r=request,c='static',f=stat_mem_avail), _border=0)),
  ),
  TR(
    TD(H2(T("Applications")), _style="text-align:center"),
    TD(H2(T("Accounts")), _style="text-align:center"),
  ),
  TR(
    TD(IMG(_src=URL(r=request,c='static',f='stat_app.png'), _border=0)),
    TD(IMG(_src=URL(r=request,c='static',f='stat_accounts.png'), _border=0)),
  ),
),
}}
