{{extend 'layout.html'}}
{{include 'box.html'}}
{{
if stat_cpu_avg_day is None:
   img_stat_cpu_avg_day = SPAN()
else:
   img_stat_cpu_avg_day = SPAN(
         IMG(_src=URL(r=request,c='static',f=stat_cpu_avg_day)),
         P(T("(yesterday's average)")),
   )
pass

if stat_mem_avail is None:
   img_stat_mem_avail = SPAN()
else:
   img_stat_mem_avail = SPAN(
         IMG(_src=URL(r=request,c='static',f=stat_mem_avail)),
         P(T("(yesterday's average)")),
   )
pass

if stat_cpu_avg_day is None:
   img_stat_disk_svc = SPAN()
else:
   img_stat_disk_svc = IMG(_src=URL(r=request,c='static',f=stat_disk_svc)),
pass
}}

{{=DIV(
     DIV(
       H1(T("Services")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_service.png')),
         _class='float',
       ),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_service_clustered.png')),
         _class='float',
       ),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_service_type.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Nodes")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_node.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Actions")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_action.png')),
         _class='float',
       ),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_action_err.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Disks")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_disk.png')),
         _class='float',
       ),
       DIV(
         img_stat_disk_svc,
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Computing ressource usage")),
       DIV(
         img_stat_cpu_avg_day,
         _class='float',
       ),
       DIV(
         img_stat_mem_avail,
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Application codes")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_app.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Collector user accounts")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_accounts.png')),
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
   )
}}
