{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{
vars = request.vars
for key in ['svcname', 'app', 'responsibles', 'action', 'status', 'begin', 'end', 'hostname', 'pid', 'status_log']:
    if not vars.has_key(key) or vars[key] is None: vars[key]=''
    pass
}}
{{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='svcactions_csv', vars=vars))}}
{{=A(IMG(_src=URL(r=request,c='static',f='rss.png'),_border=0),_href=URL(r=request,f='svcactions_rss', vars=vars))}}
{{=nav}}
<form action='svcactions' name='svcform' id='svcform'> 
<table>
  <tr>
    <td></td>
    <td>{{=T('Service')}}</td>
    <td>{{=T('App')}}</td>
    <td>{{=T('Resp')}}</td>
    <td>{{=T('Node')}}</td>
    <td>{{=T('Action')}}</td>
    <td>{{=T('Status')}}</td>
    <td>{{=T('Begin')}}</td>
    <td>{{=T('End')}}</td>
    <td>{{=T('Pid')}}</td>
    <td>{{=T('Log')}}</td>
  </tr>
  <tr>
    <td><input type=checkbox id=check_all onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'))"></td>
    <td><input name=svcname value='{{=vars.svcname}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=app value='{{=vars.app}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=responsibles value='{{=vars.responsibles}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=hostname value='{{=vars.hostname}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=action value='{{=vars.action}}' size=8 onKeyPress="checkEnter(event)"></td>
    <td><input name=status value='{{=vars.status}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=begin value='{{=vars.begin}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=end value='{{=vars.end}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=pid value='{{=vars.pid}}' size=5 onKeyPress="checkEnter(event)"></td>
    <td><input name=status_log value='{{=vars.status_log}}' size=20 onKeyPress="checkEnter(event)"></td>
  {{
    pid = ''
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
  }}
  {{for action in actions:}}
    {{if pid != action.pid:
          cellclass = cellclasses[cellclass]
          pid = action.pid
          pass
      checked = getattr(vars, 'check_'+action.svcname)
      if checked is not None:
          checked = 'checked=on'
          pass
      if action.status == 'ok':
          disabled = 'disabled'
      else:
          disabled = ''
          pass
      if action.ack == 1:
          trigger = "onMouseOver='javascript:show_ack(%s)' onMouseOut='javascript:hide_ack(%s)'"%(action.id, action.id)
          ack = TR(TD(B("acked by "),action.acked_by,B(" on "),action.acked_date,B(" with comment: "),action.acked_comment,_colspan=99), _class='ack', _id='ack_'+str(action.id))
      else:
          trigger = ""
          ack = TR(TD("", _colspan=99), _class='ack', _id='ack_'+str(action.id))
          pass
      if not action.status_log:
          action.status_log = ''
          metaactionclass = 'metaaction'
      else:
          metaactionclass = ''
          pass
      if action.responsibles:
          responsibles = IMG(_src=URL(r=request,c='static',f='guy.png'),_border=0, _title=action.responsibles)
      else:
          responsibles = ''
          pass
    }}
  <tr>
    <td class={{=cellclass}}><input type=checkbox name=check_{{=action.id}} {{=checked}} {{=disabled}}></td>
    <td class={{=cellclass}}>{{=action.svcname}}</td>
    <td class={{=cellclass}}>{{=action.app}}</td>
    <td class={{=cellclass}}>{{=responsibles}}</td>
    <td class={{=cellclass}}>{{=action.hostname}}</td>
    <td class="{{=cellclass}} {{=metaactionclass}}">{{=action.action}}</td>
    <td class="{{=cellclass}} status_{{=action.status}} ack_{{=action.ack}} {{=metaactionclass}}" {{=trigger}}>{{=action.status}}</td>
    <td class={{=cellclass}}>{{=action.begin}}</td>
    <td class={{=cellclass}}>{{=action.end}}</td>
    <td class={{=cellclass}}>{{=action.pid}}</td>
    <td class={{=cellclass}}>{{=action.status_log}}</td>
  </tr>
  {{=ack}}
  {{pass}}
  <tr>
    <td colspan=20>
      <table>
        <tr>
          <td valign=center>
            {{=IMG(_src=URL(r=request,c='static',f='ack.png'),_border=0, _title=T('acknowledge selected errors'), _onclick='javascript:document.getElementById("div_ackcomment").style.visibility="visible";document.svcform.ackcomment.focus()')}}
            <div id=div_ackcomment class=invisible_div>
              {{=T('Acknowledge with comment')}}:<br>
              <input name=ack value="" type=hidden>
              <input name=ackcomment onKeyPress="checkEnter(event)">
            </div>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
