{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'panel.html'}}
{{include 'filters.html'}}
{{include 'lib.html'}}
{{
initialize_keys()
}}
{{
def pid_to_filter(pid):
    if pid is None:
        return ''
    return pid.replace(',', '|')
pass
}}
{{=PANEL("column_values")}}
<form action='svcactions' name='svcform' id='svcform' method='post'> 
<input id='node' type='hidden'>
<input id='rowid' type='hidden'>
{{=DB_FILTERS_TABLE(active_filters, available_filters)}}
<table class=datatable>
  <tr class=box>
    <td class=box></td>
    {{for key in colkeys:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}">
      {{=colname(actions, key, columns[key]['title'])}}
    </td>
    {{pass}}
  </tr>
  <tr class=box>
    <td><input type=checkbox id=check_all onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'))"></td>
    {{for key in colkeys:}}
    <td name="tcol_{{=key}}" style="{{=col_hide(key)}}"><input name={{=key}} value='{{=request.vars[key]}}' size={{=columns[key]['size']}} onKeyPress="checkEnter(event)"></td>
    {{pass}}
  </tr>
  {{
    pid = ''
    svcname = ''
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    r = range(len(actions))
    r.reverse()
  }}
  {{for i in r:}}
    {{action = actions[i]}}
    {{
      if pid != action.pid or svcname != action.svcname or pid is None:
          cellclass = cellclasses[cellclass]
          pid = action.pid
          svcname = action.svcname
          new = True
      else:
          new = False
          pass

      checked = getattr(request.vars, 'check_'+str(action.id))

      if checked is not None:
          checked = 'checked=on'
          pass

      if action.status == 'err':
          disabled = ''
      else:
          disabled = 'disabled'
          pass

      eid = 'ack_'+str(action.id)

      if action.ack == 1:
          trigger = """onMouseOver='javascript:show_eid("%s")' onMouseOut='javascript:hide_eid("%s")'"""%(eid, eid)
          ack = TR(TD(B("acked by "),action.acked_by,B(" on "),action.acked_date,B(" with comment: "),action.acked_comment,_colspan=99), _class='ack', _id=eid)
      else:
          trigger = ""
          ack = TR(TD("", _colspan=99), _class='ack', _id=eid)
          pass

      if not action.status_log:
          action.status_log = ''
          metaactionclass = 'metaaction'
      else:
          metaactionclass = ''
          pass

      if action.responsibles:
          responsibles = IMG(_src=URL(r=request,c='static',f='guy.png'),_border=0, _title=action.responsibles)
      else:
          responsibles = ''
          pass

      if action.end is None:
          end = action.begin
      else:
          end = action.end
          pass

      if action.pid is None:
          action_pid = SPAN(
              _id="spin_span_pid_"+str(action.id),
          )
      else:
          action_pid = A(
             action.pid,
             _href=URL(
                     r=request,
                     vars={
                       'pid':pid_to_filter(action.pid),
                       'hostname':action.hostname,
                       'svcname':action.svcname,
                       'begin':'>'+str(action.begin-datetime.timedelta(days=1)),
                       'end':'<'+str(end+datetime.timedelta(days=1)),
                       'perpage':0,
                     }
            ),
          )
          pass

      if action.end is None:
          action_end = SPAN(
              _id="spin_span_end_"+str(action.id),
          )
      else:
          action_end = action.end
          pass

      if action.status is None:
          action_status = SPAN(
            INPUT(
              _id="spin_"+str(action.id),
              _type="hidden",
            ),
            SPAN(
              IMG(
                _src=URL(r=request,c='static',f='spinner_16.png'),
                _border=0,
                _title=T("unfinished"),
                _onload="""
                  var spintimer_%(id)s;
                  getElementById('spin_%(id)s').value=%(id)s;
                  clearTimeout(spintimer_%(id)s);
                  spintimer=setTimeout(function validate(){ajax('%(url)s', ['spin_%(id)s'], 'spin_span_%(id)s')}, 3000);
                """%dict(
                      url=URL(r=request,f='ajax_action_status'),
                      id=action.id,
                    )
              ),
              _id="spin_span_"+str(action.id),
            ),
          )
      else:
          action_status = action.status
          pass
    }}
  <tr>
    <td class={{=cellclass}}><input type=checkbox name=check_{{=action.id}} {{=checked}} {{=disabled}}></td>
    <td name="tcol_svcname" class={{=cellclass}}>
      {{if new:}}
      {{=A(
          DIV(
            action.svcname,
            _onclick="""
               getElementById("node").value="%(node)s";
               getElementById("rowid").value="%(id)s";
               ajax("%(url)s",['node', 'rowid'],"id_%(id)s");
               show_eid("tr_id_%(id)s");
            """%dict(url=URL(r=request,f='ajax_service'),
                     node=action.svcname,
                     id=action.id,
                    ),
          ),
          _class="xinfo",
        )
      }}
      {{pass}}
    </td>
    <td name="tcol_hostname" class={{=cellclass}}>
      {{if new:}}
      {{=A(
          DIV(
            action.hostname,
            _onclick="""
               getElementById("node").value="%(node)s";
               getElementById("rowid").value="%(id)s";
               ajax("%(url)s",['node', 'rowid'],"id_%(id)s");
               show_eid("tr_id_%(id)s");
            """%dict(url=URL(r=request,f='ajax_node'),
                     node=action.hostname,
                     id=action.id,
                    ),
          ),
          _class="xinfo",
        )
      }}
      {{pass}}

    </td>
    <td style="{{=col_hide('pid')}}" name="tcol_pid" class={{=cellclass}}>{{=action_pid}}</td>
    <td style="{{=col_hide('action')}}" name="tcol_action" class="{{=cellclass}} {{=metaactionclass}}">{{=action.action}}</td>
    <td style="{{=col_hide('status')}}" name="tcol_status" class="{{=cellclass}} status_{{=action.status}} ack_{{=action.ack}} {{=metaactionclass}}" {{=trigger}}>{{=action_status}}</td>
    <td style="{{=col_hide('begin')}}" name="tcol_begin" class={{=cellclass}}>{{=action.begin}}</td>
    <td style="{{=col_hide('end')}}" name="tcol_end" class={{=cellclass}}>{{=action_end}}</td>
    <td style="{{=col_hide('status_log')}}" name="tcol_status_log" class={{=cellclass}}><pre>{{=action.status_log}}</pre></td>
    <td style="{{=col_hide('time')}}" name="tcol_time" class={{=cellclass}}>{{=action.time}}</td>
    <td style="{{=col_hide('id')}}" name="tcol_id" class={{=cellclass}}>{{=action.id}}</td>
    <td style="{{=col_hide('ack')}}" name="tcol_ack" class={{=cellclass}}>{{=action.ack}}</td>
    <td style="{{=col_hide('app')}}" name="tcol_app" class={{=cellclass}}>{{=action.app}}</td>
    <td style="{{=col_hide('responsibles')}}" name="tcol_responsibles" class={{=cellclass}}>{{=action.responsibles}}</td>
  </tr>
  <tr id='tr_id_{{=action.id}}' class=cloud>
    <td colspan=99 class="details_row {{=cellclass}}">
      <div id='id_{{=action.id}}'>
      </div>
    </td>
  </tr>
  {{=ack}}
  {{pass}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr class=box>
          <td> {{=T('Export')}}:</td>
          <td> {{=T('Rss')}}:</td>
          <td> {{=T('Actions')}}:</td>
        </tr>
        <tr class=box>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='svcactions_csv', vars=request.vars))}}
          </td>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='rss.png'),_border=0),_href=URL(r=request,f='svcactions_rss', vars=request.vars))}}
          </td>
          <td>
            {{=IMG(_src=URL(r=request,c='static',f='ack.png'),_border=0, _title=T('acknowledge selected errors'), _onclick='javascript:getElementById("ackflag").value=1;show_eid("inputs");document.svcform.ackcomment.focus()')}}
          </td>
        </tr>
        <tr class=hidden id="inputs">
          <td></td>
          <td></td>
          <td>
            {{=T('Acknowledge with comment')}}:<br>
            <input name=ackflag id=ackflag value=0 type=hidden>
            <input name=ackcomment onKeyPress="checkEnter(event)" onBlur="getElementById('ackflag').value=0;hide_eid('inputs')">
          </td>
        </tr>
      </table>
    </td>
   </tr>
</table>
</form>
