{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'panel.html'}}
{{include 'filters.html'}}

{{
vars = request.vars

def sort_by_avail(x, y):
    return cmp(h[x]['availability'], h[y]['availability'])

op = None
avail = None
if vars.mon_availability != "" and vars.mon_availability is not None and len(vars.mon_availability) > 1:
    if vars.mon_availability[0] == '>':
        op = 'sup'
        avail = vars.mon_availability[1:]
    elif vars.mon_availability[0] == '<':
        op = 'inf'
        avail = vars.mon_availability[1:]
    elif vars.mon_availability[0] == '=':
        op = 'eq'
        avail = vars.mon_availability[1:]
    else:
        op = 'eq'
        avail = vars.mon_availability
    pass
    if isinstance(avail, str):
        avail = float(avail)
    pass
    if isinstance(avail, (float,int,long,complex)):
        avail = float(avail)
    else:
        avail = None
    pass
pass

k = h.copy()

if op in ["sup", "inf", "eq"]:
    for svc in k:
        if op == "sup":
            if k[svc]['availability'] < avail:
                del h[svc]
            pass
        elif op == "inf":
            if k[svc]['availability'] > avail:
                del h[svc]
            pass
        elif op == "eq":
            if k[svc]['availability'] != avail:
                del h[svc]
            pass
        pass
    pass
pass


k = h.keys()
k.sort(sort_by_avail)

for key in ['mon_svcname',
            'mon_nodname',
            'mon_availability',
            'mon_duration',
            'mon_begin',
            'mon_end']:
    if not vars.has_key(key) or vars[key] is None: vars[key]=''
    pass


now = datetime.datetime.now()
seven_days_ago = now - datetime.timedelta(days=7, microseconds=now.microsecond)
twenty_min_ago = now - datetime.timedelta(seconds=1200, microseconds=now.microsecond)
if vars['mon_begin'] == '': vars['mon_begin']='>'+str(seven_days_ago)
if vars['mon_end'] == '': vars['mon_end']='<'+str(twenty_min_ago)

def node_icon(svc):
    if svc.os_name is None:
        return ''
    if "linux" in svc.os_name.lower():
        img = IMG(_src=URL(r=request,c='static',f='linux.png'), _class='logo')
    elif "HP-UX" in svc.os_name:
	img = IMG(_src=URL(r=request,c='static',f='hpux.png'), _class='logo')
    elif "opensolaris" in svc.os_name.lower():
	img = IMG(_src=URL(r=request,c='static',f='opensolaris.png'), _class='logo')
    elif "solaris" in svc.os_name.lower():
	img = IMG(_src=URL(r=request,c='static',f='solaris.png'), _class='logo')
    else:
        img = ''
        pass
    return img

import re
def parseTimeDelta(s):
    """Create timedelta object representing time delta
       expressed in a string
   
    Takes a string in the format produced by calling str() on
    a python timedelta object and returns a timedelta instance
    that would produce that string.
   
    Acceptable formats are: "X days, HH:MM:SS" or "HH:MM:SS".
    """
    if s is None:
        return None
    try:
        d = re.match(
            r'((?P<days>\d+) days, )?(?P<hours>\d+):'
            r'(?P<minutes>\d+):(?P<seconds>\d+)',
            str(s)).groupdict(0)
    except:
        return None
    return datetime.timedelta(**dict(( (key, int(value))
                              for key, value in d.items() )))

def filter_match(key, fval):
    if fval == '':
        fval = parseTimeDelta("00:00:00")
        pass
    if key not in vars or vars[key] is None or vars[key] == "":
        return True
    op = None
    a = None
    if vars[key] != "" and vars[key] is not None and len(vars[key]) > 1:
        if vars[key][0] == '>':
            op = 'sup'
            a = vars[key][1:]
        elif vars[key][0] == '<':
            op = 'inf'
            a = vars[key][1:]
        elif vars[key][0] == '=':
            op = 'eq'
            a = vars[key][1:]
        else:
            op = 'eq'
            a = vars[key]
        pass
    pass

    if a is None:
        return False
    if len(a) == 0:
        return True

    a = parseTimeDelta(a)
    if a is None:
        return False

    k = h.copy()

    if op in ["sup", "inf", "eq"]:
        if op == "sup":
            if a > fval:
                return False
            pass
        if op == "inf":
            if a < fval:
                return False
            pass
    else:
        if a != fval:
            return False
        pass
    return True

    def date(d, b, e, svc):
      return A(
            d,
            _border=0,
            _title=T("click to view state transition"),
            _onclick="""
               getElementById("svcname").value="%(svcname)s";
               getElementById("begin").value="%(begin)s";
               getElementById("end").value="%(end)s";
               getElementById("panel_transition").style.top=event.pageY+'px';
               ajax("%(url)s",['svcname', 'begin', 'end'],"panelbody_transition");
               getElementById("panel_transition").className="panel_shown";
            """%dict(url=URL(r=request,f='ajax_svcmon_log_transition'),
                     svcname=svc,
                     a=svc.replace('.', '_'),
                     begin=b,
                     end=e,
                    ),
          _class="xinfo",
         )

}}

<script type="text/javascript">

function update_ack_dates(b, e) {
    ab = document.svcform.ack_begin;
    ae = document.svcform.ack_end;
    if (b[0] == "<" || b[0] == ">") {
        b = b.substr(1);
    }
    if (e[0] == "<" || e[0] == ">") {
        e = e.substr(1);
    }

    if ((b < ab.value) || (ab.value == "")) {
        ab.value = b;
    }
    if ((e > ae.value) || (ae.value == "")) {
        ae.value = e;
    }
}
</script>

<form action='svcmon_log' name='svcform' id='svcform'> 
{{=DB_FILTERS_TABLE(active_filters, available_filters)}}

{{if img is not None:}}
{{=IMG(_src=URL(r=request,c='static',f='avail.png'), _border=0)}}
{{pass}}

<table class=datatable>
  <tr class=box>
    <td class=box></td>
    <td>{{=colname(rows, 'mon_svcname', T('Service'), nestedin='svcmon_log')}}</td>
    <td>{{=T('Availability')}}</td>
    <td>{{=T('Unavailability begin')}}</td>
    <td>{{=T('Unavailability end')}}</td>
    <td>{{=T('Duration')}}</td>
  </tr>
  <tr class=box>
    <td>
      <input type=checkbox id=check_all 
             onClick="select_all(document.getElementById('check_all').checked, document.getElementById('svcform'));
                      update_ack_dates('{{=vars.mon_begin}}', '{{=vars.mon_end}}');">
    </td>
    <td><input name=mon_svcname value='{{=vars.mon_svcname}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=mon_availability value='{{=vars.mon_availability}}' size=6 onKeyPress="checkEnter(event)"></td>
    <td><input name=mon_begin value='{{=vars.mon_begin}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=mon_end value='{{=vars.mon_end}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=mon_duration value='{{=vars.mon_duration}}' size=6 onKeyPress="checkEnter(event)"></td>
  </tr>
  {{
    svcname = ''
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
  }}
  {{for svc in k:
      n = 0
      if len(h[svc]['holes']) == 0:
          h[svc]['holes'] = [dict(begin="",
                                  end="",
                                  acked=0,
                                  acked_comment='',
                                  acked_by_comment='',
                                  acked_on='',
                                 )]
          pass
      for _h in h[svc]['holes']:
          n += 1
          b = _h['begin']
          e = _h['end']
          ack = _h['acked']
          if b == "" or e == "":
              d = ""
          else:
              d = e - b
              pass
          if not filter_match('mon_duration', d):
              continue

          eid = "ack_"+svc+"_"+str(n)
          if _h['acked'] == 1:
              if _h['acked_account'] == 0:
                  strike = 'text-decoration:line-through'
              else:
                  strike = ''
                  pass
              trigger = """onMouseOver='javascript:show_eid("%(eid)s")'
                           onMouseOut='javascript:hide_eid("%(eid)s")'
                        """%dict(eid=eid)
              ackline = TR(
                          TD(_style='padding:0'),
                          TD(
                            B("acked by "),
                            _h['acked_by'],
                            B(" on "),
                            _h['acked_on'],
                            B(" with comment: "),
                            _h['acked_comment'],
                            _colspan=99,
                            _style='max-width:20em',
                          ),
                          TD(_style='padding:0'),
                          _class='ack',
                          _id=eid
                        )

          else:
              strike = ''
              ackline = SPAN()
              trigger = ''
              pass

      if svcname != svc:
          cellclass = cellclasses[cellclass]
          svcname = svc
          newsvc = True
      else:
          newsvc = False
          pass

      checked = getattr(vars, 'check_'+svc+'_'+str(n))
      if checked is not None:
          checked = 'checked=on'
          pass

    }}
  <tr>
    <td class={{=cellclass}}>
      <input type=checkbox name=check_{{=svc}}_{{=n}} {{=checked}}
             onclick="update_ack_dates('{{=b}}', '{{=e}}');">
      {{if newsvc:}}
      {{=A(
          IMG(
            _src=URL(r=request,c='static',f='action16.png'),
            _border=0,
            _title="service actions",
          ),
          _href=URL(request.application,'default','svcactions?svcname='+svc+'&status_log=empty&begin=>'+yesterday),
        )
     }}
    {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=svc}}
      {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{="%0.2f%%"%h[svc]['availability']}}
      {{pass}}
    </td>
    <td class={{=cellclass}} style={{=strike}} {{=trigger}}>
      {{=date(b, b, e, svc)}}
    </td>
    <td class={{=cellclass}} style={{=strike}} {{=trigger}}>
      {{=date(e, b, e, svc)}}
    </td>
    <td class={{=cellclass}} style={{=strike}} {{=trigger}}>
        {{=d}}
    </td>
    <td style='padding:0'></td>
  </tr>
  {{=ackline}}
  {{pass}}
  {{pass}}
  <tr class=box>
    <td colspan=9>
      <table>
        <tr class=box>
          <td>
            {{=IMG(_src=URL(r=request,c='static',f='ack.png'),_border=0, _title=T('acknowledge selected unavailability ranges'), _onclick='javascript:show_eid("inputs");document.svcform.ackcomment.focus()')}}
          </td>
        </tr>
        <tr class=hidden id="inputs">
          <td>
            {{=T("Begin")}}
            <br>
            <input name="ack_begin" id="ack_begin" value=""
                   onKeyPress="checkEnter(event)"
                   onFocus="getElementById('ackflag').value=1"
                   onBlur="getElementById('ackflag').value=0"
            >
          </td>
          <td>
            {{=T("End")}}
            <br>
            <input name="ack_end" id="ack_end" value=""
                   onKeyPress="checkEnter(event)"
                   onFocus="getElementById('ackflag').value=1"
                   onBlur="getElementById('ackflag').value=0"
            >
          </td>
          <td>
            {{=T('Acknowledge with comment')}}:<br>
            <input name=ackflag id=ackflag value=0 type=hidden>
            <input name=ackcomment
                   onKeyPress="checkEnter(event)"
                   onFocus="getElementById('ackflag').value=1"
                   onBlur="getElementById('ackflag').value=0"
            >
          </td>
          <td>
            {{=T("Account in availability ratio")}}
            <br>
            {{=INPUT(_id='ac',
               _type='checkbox',
               _onChange='this.value=this.checked',
              )
            }}
          </td>
        </tr>
      </table>
    </td>
   </tr>
</table>
<input id="svcname" type="hidden">
<input id="begin" type="hidden">
<input id="end" type="hidden">
{{=PANEL("column_values")}}
{{=PANEL("transition")}}
{{=PANEL("ack")}}
</form>
