{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'panel.html'}}
{{include 'filters.html'}}

{{
vars = request.vars
toolong = datetime.datetime.today()-datetime.timedelta(hours=1)
for key in ['svcname',
            'containertype',
            'svcapp',
            'responsibles',
            'svctype',
            'svcautostart',
            'containerstatus',
            'ipstatus',
            'fsstatus',
            'diskstatus',
            'syncstatus',
            'appstatus',
            'overallstatus',
            'nodename',
            'nodetype',
            'mon_updated']:
    if not vars.has_key(key) or vars[key] is None: vars[key]=''
    pass

def node_icon(svc):
    if svc.os_name is None:
        return ''
    if "linux" in svc.os_name.lower():
        img = IMG(_src=URL(r=request,c='static',f='linux.png'), _class='logo')
    elif "HP-UX" in svc.os_name:
	img = IMG(_src=URL(r=request,c='static',f='hpux.png'), _class='logo')
    elif "opensolaris" in svc.os_name.lower():
	img = IMG(_src=URL(r=request,c='static',f='opensolaris.png'), _class='logo')
    elif "solaris" in svc.os_name.lower():
	img = IMG(_src=URL(r=request,c='static',f='solaris.png'), _class='logo')
    else:
        img = ''
        pass
    return img

def ajax_status(svc, name, cssclass):
    a = svc.mon_nodname+'_'+svc.svc_name
    a = a.replace('.', '_')
    return A(
          DIV(
            name,
            _class=cssclass,
            _onclick="""
               getElementById("node").value="%(node)s";
               getElementById("svcname").value="%(svcname)s";
               ajax("%(url)s",['node', 'svcname'],"panelbody_%(a)s");
               getElementById("panel_%(a)s").className="panel_shown";
               getElementById("panel_%(a)s").style.top=event.pageY+'px';
            """%dict(url=URL(r=request,f='ajax_res_status'), node=svc.mon_nodname, svcname=svc.svc_name, a=a),
          ),
          _style="cursor:help",
        )
    pass


def svc_status(svc, cellclass="cell2"):
    cl = {}
    import time
    time_format = "%Y-%m-%d %H:%M:%S"
    updated = svc.mon_updated
    for k in ['mon_overallstatus',
              'mon_containerstatus',
              'mon_ipstatus',
              'mon_fsstatus',
              'mon_diskstatus',
              'mon_syncstatus',
              'mon_appstatus']:
        if svc[k] is None:
            cl[k] = 'status_undef'
        elif updated < toolong:
            cl[k] = 'status_expired'
        else:
            cl[k] = 'status_'+svc[k].replace(" ", "_")
        pass
    pass

}}
{{=PANEL(svc.mon_nodname+'_'+svc.svc_name)}}
{{
    t = TABLE(
      TR(
        TD(ajax_status(svc,
                       svc.mon_overallstatus,
                       ' '.join(["status", cl['mon_overallstatus']])),
           _colspan=6,
           _title="since "+str(svc.mon_updated),
        ),
      ),
      TR(
        TD("vm", _class=cellclass+' '+cl['mon_containerstatus']),
        TD("ip", _class=cellclass+' '+cl['mon_ipstatus']),
        TD("fs", _class=cellclass+' '+cl['mon_fsstatus']),
        TD("dg", _class=cellclass+' '+cl['mon_diskstatus']),
        TD("sync", _class=cellclass+' '+cl['mon_syncstatus']),
        TD("app", _class=cellclass+' '+cl['mon_appstatus']),
      ),
    )
    return t
    pass

}}

<input id="svcname" type="hidden">
<input id="node" type="hidden">
{{=PANEL("column_values")}}
<form action='svcmon' name='svcform' id='svcform'> 
<table>
  {{BOX_TOP_ROW(10)}}
  <tr class=box>
    <td class=box></td>
    <td class=box></td>
    <td>{{=colname(services, 'svc_name', T('Service'))}}</td>
    <td width=10>{{=colname(services, 'svc_containertype', T('Container type'))}}</td>
    <td width=10>{{=colname(services, 'svc_app', T('App'))}}</td>
    <td width=10>{{=colname(services, 'responsibles', T('Resp'))}}</td>
    <td width=10>{{=colname(services, 'svc_autostart', T('Preferred node'))}}</td>
    <td width=10>{{=colname(services, 'mon_svctype', T('Service type'))}}</td>
    <td width=10>{{=colname(services, 'mon_nodtype', T('Node type'))}}</td>
    <td>{{=colname(services, 'mon_nodname', T('Node'))}}</td>
    <td width=10 class=status_t>{{=T('Status')}}</td>
    <td class=box></td>
  </tr>
  <tr class=box>
    <td style='padding:0'></td>
    <td style='padding:0'></td>
    <td><input name=svcname value='{{=vars.svcname}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=containertype value='{{=vars.containertype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svcapp value='{{=vars.svcapp}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=responsibles value='{{=vars.responsibles}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svcautostart value='{{=vars.svcautostart}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svctype value='{{=vars.svctype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=nodetype value='{{=vars.nodetype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=nodename value='{{=vars.nodename}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td class=status_t><input name=overallstatus value='{{=vars.overallstatus}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td style='padding:0'></td>
  </tr>
  {{BOX_BOTTOM_ROW(10)}}
  {{
    svcname = ''
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    yesterday = str(datetime.datetime.today()-datetime.timedelta(days=1))
  }}

  {{for svc in services:}}
  <tr>
    {{if svcname != svc.mon_svcname:
          cellclass = cellclasses[cellclass]
          svcname = svc.mon_svcname
          newsvc = True
      else:
          newsvc = False
          pass
      if svc.responsibles:
          responsibles = IMG(_src=URL(r=request,c='static',f='guy.png'),_border=0, _title=svc.responsibles)
      else:
          responsibles = ''
          pass
      if svc.svc_vmname != "" and svc.svc_vmname is not None:
          vmname = svc.svc_vmname
      else:
          vmname = ''
          pass

      if svc.err>0:
          err = A(IMG(_src=URL(r=request,c='static',f='exclamation_red.png'), _border=0, _title="%d unaknowledged errors"%svc.err), _href=URL(r=request,f='svcactions', vars={'svcname': svc.svc_name, 'status': 'err', 'ack': '!1|empty'}))
      else:
          err = ''
          pass
    }}
    <td style='padding:0'></td>
    <td class={{=cellclass}}>
      <input id="{{=svc.mon_svcname}}" value="{{=svc.mon_svcname}}" type="hidden">
      {{if newsvc:}}
      {{=PANEL('envfile_'+svc.mon_svcname)}}
      {{=A(
          IMG(
            _src=URL(r=request,c='static',f='envfile.png'),
            _border=0,
            _title="service configuration file",
            _onclick="""
               getElementById("svcname").value="%(svcname)s";
               ajax("%(url)s",['svcname'],"panelbody_envfile_%(a)s");
               getElementById("panel_envfile_%(a)s").className="panel_shown";
               getElementById("panel_envfile_%(a)s").style.top=event.pageY+'px';
            """%dict(url=URL(r=request,f='envfile'),
                     svcname=svc.mon_svcname,
                     a=svc.mon_svcname.replace('.', '_')),
          ),
          _class="xinfo",
        )
      }}
      {{if svc.svc_name in svcmsg:
          img = URL(r=request,c='static',f='msg1.png')
        else:
          img = URL(r=request,c='static',f='msg0.png')
          pass
      }}
      {{=A(
          IMG(
            _id="msg_img_"+svc.mon_svcname,
            _src=img,
            _border=0,
            _title="comments",
            _onclick="""
               getElementById("svcname").value="%(svcname)s";
               ajax("%(url)s",['svcname'],"msg__%(svcname)s");
               getElementById("panel_msg_%(a)s").className="panel_shown";
               getElementById("panel_msg_%(a)s").style.top=event.pageY+'px';
            """%dict(url=URL(r=request,f='ajax_svc_message_load'),
                     svcname=svc.mon_svcname,
                     a=svc.mon_svcname.replace('.', '_')
                    ),
          ),
          _class="xinfo",
        )
     }}
     {{=PANEL("msg_"+svc.mon_svcname, DIV(
          DIV(
            TEXTAREA(_id="msgbody_"+svc.mon_svcname),
            _id="msg__"+svc.mon_svcname
          ),
          INPUT(
            _value=T("save"),
            _type="button",
            _onclick="""
              ajax("%(url)s",['svcname','msgbody_%(svcname)s'],"msg__%(svcname)s");
              getElementById("panel_msg_%(a)s").className="panel";
              if (getElementById("msgbody_%(svcname)s").value.length>0)
                getElementById("msg_img_%(svcname)s").src="%(img1)s";
              else
                getElementById("msg_img_%(svcname)s").src="%(img0)s";
            """%dict(url=URL(r=request,f='ajax_svc_message_save'),
                     svcname=svc.mon_svcname,
                     a=svc.mon_svcname.replace('.', '_'),
                     img0=URL(r=request,c='static',f='msg0.png'),
                     img1=URL(r=request,c='static',f='msg1.png'),
                    ),
          ),
          _id="msg_"+svc.mon_svcname,
        ))
      }}
      {{=err}}
      {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=A(svc.mon_svcname, _href=URL(request.application,'default','svcactions?svcname='+svc.mon_svcname+'&status_log=empty&begin=>'+yesterday))}}
        {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=DIV(svc.svc_containertype, _title=vmname, _style='vertical-align:middle')}}
        {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=svc.svc_app}}
        {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=responsibles}}
        {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
      {{=PANEL('asn_'+svc.svc_autostart)}}
      {{=A(
          DIV(
            svc.svc_autostart,
            _onclick="""
               getElementById("node").value="%(node)s";
               ajax("%(url)s",['node'],"panelbody_asn_%(a)s");
               getElementById("panel_asn_%(a)s").className="panel_shown";
               getElementById("panel_asn_%(a)s").style.top=event.pageY+'px';
            """%dict(url=URL(r=request,f='ajax_node'),
                     node=svc.svc_autostart,
                     a=svc.svc_autostart.replace('.', '_')
                    ),
          ),
          _class="xinfo",
        )
      }}
      {{pass}}
    </td>
    {{if svc.mon_svctype == 'PRD':
          boldtype = """style='font-weight:bold'"""
      else:
          boldtype = ""
          pass
    }}
    <td class={{=cellclass}} {{=boldtype}}>{{=svc.mon_svctype}}</td>
    {{if svc.mon_nodtype == 'PRD':
          boldtype = """style='font-weight:bold'"""
      else:
          boldtype = ""
          pass
    }}
    <td class={{=cellclass}} {{=boldtype}}>{{=svc.mon_nodtype}}</td>
    <td class={{=cellclass}}>
      {{=PANEL('node_'+svc.svc_autostart)}}
      {{=A(
          DIV(
            node_icon(svc),
            svc.mon_nodname,
            _onclick="""
               getElementById("node").value="%(node)s";
               ajax("%(url)s",['node'],"panelbody_node_%(a)s");
               getElementById("panel_node_%(a)s").className="panel_shown";
               getElementById("panel_node_%(a)s").style.top=event.pageY+'px';
            """%dict(url=URL(r=request,f='ajax_node'),
                     node=svc.mon_nodname,
                     a=svc.mon_nodname.replace('.', '_')
                    ),
          ),
          _class="xinfo",
        )
      }}
    </td>
    <td class="{{=cellclass}}">
      {{=svc_status(svc,cellclass)}}
    </td>
    <td style='padding:0'></td>
  </tr>
  {{pass}}

  <tr>
    <td style='padding:0'></td>
    <td colspan=10>
    {{if viz is not None:}}
      {{=P(IMG(_src=viz, _border=0), _style="text-align:center")}}
    {{pass}}
    </td>
    <td style='padding:0'></td>
  </tr>

  {{BOX_TOP_ROW(10)}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('Export')}}:</td>
          <td> {{=T('Topology')}}:</td>
          <td> {{=T('Active filters')}}:</td>
          <td> {{=T('Add filter')}}:</td>
        </tr>
        <tr>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='svcmon_csv', vars=vars))}}
          </td>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='viz.png'),_border=0, _title=T("print the topology of the current data cursor")),_href=URL(r=request,f='svcmon_viz', vars=vars))}}
          </td>
          <td>{{=DB_FILTERS_ACTIVE(active_filters)}}</td>
          <td>{{=DB_FILTERS_AVAIL(available_filters)}}</td>
        </tr>
      </table>
    </td>
  </tr>
  {{BOX_BOTTOM_ROW(10)}}
</table>
</form>
