{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}

{{
vars = request.vars
for key in ['svcname',
            'containertype',
            'svcapp',
            'responsibles',
            'svctype',
            'svcautostart',
            'containerstatus',
            'ipstatus',
            'fsstatus',
            'diskstatus',
            'overallstatus',
            'nodename',
            'nodetype',
            'mon_updated']:
    if not vars.has_key(key) or vars[key] is None: vars[key]=''
    pass
}}

{{def node_status(svc, cellclass):}}
    <table>
      <tr>
         <td colspan=4 class="status {{=cellclass}} status_{{=svc.mon_overallstatus}}" title="since {{=svc.mon_updated}}">{{=svc.mon_overallstatus}}</td>
      </tr><tr>
        <td class="{{=cellclass}} status_{{=svc.mon_containerstatus}}">vm</td>
        <td class="{{=cellclass}} status_{{=svc.mon_ipstatus}}">ip</td>
        <td class="{{=cellclass}} status_{{=svc.mon_fsstatus}}">fs</td>
        <td class="{{=cellclass}} status_{{=svc.mon_diskstatus}}">dg</td>
      </tr>
    </table>
    {{return ''}}
{{pass}}

<form action='svcmon' name='svcform' id='svcform'> 
<table>
  {{BOX_TOP_ROW(9)}}
  <tr class=box>
    <td class=box></td>
    <td>{{=T('Service')}}</td>
    <td width=10>{{=T('Container type')}}</td>
    <td width=10>{{=T('App')}}</td>
    <td width=10>{{=T('Resp')}}</td>
    <td width=10>{{=T('Preferred node')}}</td>
    <td width=10>{{=T('Service type')}}</td>
    <td width=10>{{=T('Node type')}}</td>
    <td>{{=T('Node')}}</td>
    <td width=10 class=status_t>{{=T('Status')}}</td>
    <td class=box></td>
  </tr>
  <tr class=box>
    <td style='padding:0'></td>
    <td><input name=svcname value='{{=vars.svcname}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=containertype value='{{=vars.containertype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svcapp value='{{=vars.svcapp}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=responsibles value='{{=vars.responsibles}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svcautostart value='{{=vars.svcautostart}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svctype value='{{=vars.svctype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=nodetype value='{{=vars.nodetype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=nodename value='{{=vars.nodename}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td class=status_t><input name=overallstatus value='{{=vars.overallstatus}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td style='padding:0'></td>
  </tr>
  {{BOX_BOTTOM_ROW(9)}}
  {{
    svcname = ''
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
  }}
  {{for svc in services:}}
  <tr>
    {{if svcname != svc.mon_svcname:
          cellclass = cellclasses[cellclass]
          svcname = svc.mon_svcname
          pass
      if svc.responsibles:
          responsibles = IMG(_src=URL(r=request,c='static',f='guy.png'),_border=0, _title=svc.responsibles)
      else:
          responsibles = ''
          pass
    }}
    <td style='padding:0'></td>
    <td class={{=cellclass}}>{{=svc.mon_svcname}}</td>
    <td class={{=cellclass}}>{{=svc.svc_containertype}}</td>
    <td class={{=cellclass}}>{{=svc.svc_app}}</td>
    <td class={{=cellclass}}>{{=responsibles}}</td>
    <td class={{=cellclass}}>{{=svc.svc_autostart}}</td>
    <td class={{=cellclass}}>{{=svc.mon_svctype}}</td>
    <td class={{=cellclass}}>{{=svc.mon_nodtype}}</td>
    <td class={{=cellclass}}>{{=svc.mon_nodname}}</td>
    <td class="{{=cellclass}}">{{=node_status(svc,cellclass)}}</td>
    <td style='padding:0'></td>
  </tr>
  {{pass}}
  {{BOX_TOP_ROW(9)}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('Export')}}:</td>
          <td> {{=T('Active filters')}}:</td>
          <td> {{=T('Add filter')}}:</td>
        </tr>
        <tr>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='svcmon_csv', vars=vars))}}
          </td>
          <td>
            <input type=hidden name=delfilter>
            <table>
              {{for k in session.filters.keys():}}
              {{f = filters[k]}}
              {{if f['active']:}}
              <tr>
                <td>{{=f['name']}}</td>
                <td><img src='{{=URL(r=request,c='static',f='del.png')}}' border=0 title='{{=T("remove filter")}}' onClick='javascript:document.svcform.delfilter.value={{=f["id"]}};document.svcform.submit()'></td>
              </tr>
              {{pass}}
              {{pass}}
              {{pass}}
              </table>
          </td>
          <td valign=center>
            <select name=addfilter onChange="document.getElementById('svcform').submit()">
              <option value=''>{{=T('choose')}}</option>
              {{for k in session.filters.keys():}}
              {{f = filters[k]}}
              {{if not f['active']:}}
              <option value={{=f['id']}}>{{=T(f['name'])}}</option>
              {{pass}}
            </select>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  {{BOX_BOTTOM_ROW(9)}}
</table>
</form>
