{{extend 'layout.html'}}
{{include '../static/jslib.html'}}
{{include 'box.html'}}
{{include 'filters.html'}}

{{
vars = request.vars
toolong = datetime.datetime.today()-datetime.timedelta(hours=1)
for key in ['svcname',
            'containertype',
            'svcapp',
            'responsibles',
            'svctype',
            'svcautostart',
            'containerstatus',
            'ipstatus',
            'fsstatus',
            'diskstatus',
            'syncstatus',
            'appstatus',
            'overallstatus',
            'nodename',
            'nodetype',
            'mon_updated']:
    if not vars.has_key(key) or vars[key] is None: vars[key]=''
    pass

def list_vals_for_key(key, title):
    return DIV(H3(T("""distinct "%(title)s" values in set""",dict(title=title))), PRE('\\n'.join(set([str(n[key]) for n in services]))))
    pass

def colname(key, title):
    values = list_vals_for_key(key, title)
    return A(
          title,
          _onclick="getElementById('listspan').innerHTML='%s';getElementById('listdiv').className='xinfo_shown';"%values,
          _class="xinfo",
        )

def node_icon(svc):
    if svc.os_name is None:
        return ''
    if "linux" in svc.os_name.lower():
        img = IMG(_src=URL(r=request,c='static',f='linux.png'), _class='logo')
    elif "HP-UX" in svc.os_name:
	img = IMG(_src=URL(r=request,c='static',f='hpux.png'), _class='logo')
    elif "opensolaris" in svc.os_name.lower():
	img = IMG(_src=URL(r=request,c='static',f='opensolaris.png'), _class='logo')
    elif "solaris" in svc.os_name.lower():
	img = IMG(_src=URL(r=request,c='static',f='solaris.png'), _class='logo')
    else:
        img = ''
        pass
    return img
}}
{{
def ajax_status(svc, name, cssclass):
    return A(
          DIV(
            DIV(
              name,
              _class=cssclass,
            ),
            _onclick="""
               getElementById("node").value="%(node)s";
               getElementById("svcname").value="%(svcname)s";
               ajax("%(url)s",['node', 'svcname'],"stat_%(name)s_%(node)s_%(svcname)s");
               getElementById("foostat_%(name)s_%(node)s_%(svcname)s").className="xinfo_shown";
            """%dict(url=URL(r=request,f='ajax_res_status'), node=svc.mon_nodname, svcname=svc.svc_name, name=name),
          ),
          SPAN(
            DIV(_id="stat_"+name+"_"+svc.mon_nodname+"_"+svc.svc_name),
            _ondblclick="""
               getElementById("foostat_%(name)s_%(node)s_%(svcname)s").className="xinfo";
            """%dict(node=svc.mon_nodname, svcname=svc.svc_name, name=name),
          ),
          _id="foostat_"+name+"_"+svc.mon_nodname+"_"+svc.svc_name,
          _class="xinfo",
        )
    pass
}}

{{def node_status(svc, cellclass):
    import time
    time_format = "%Y-%m-%d %H:%M:%S"
    updated = svc.mon_updated
    if updated < toolong:
        overallstatus = 'status_expired'
        containerstatus = 'status_expired'
        ipstatus = 'status_expired'
        fsstatus = 'status_expired'
        diskstatus = 'status_expired'
        syncstatus = 'status_expired'
        appstatus = 'status_expired'
    else:
        overallstatus = 'status_'+svc.mon_overallstatus.replace(" ", "_")
        containerstatus = 'status_'+svc.mon_containerstatus.replace(" ", "_")
        ipstatus = 'status_'+svc.mon_ipstatus.replace(" ", "_")
        fsstatus = 'status_'+svc.mon_fsstatus.replace(" ", "_")
        diskstatus = 'status_'+svc.mon_diskstatus.replace(" ", "_")
        syncstatus = 'status_'+svc.mon_syncstatus.replace(" ", "_")
        appstatus = 'status_'+svc.mon_appstatus.replace(" ", "_")
    pass
}}
    <table>
      <tr>
         <td colspan=6 class="{{=cellclass}}" title="since {{=svc.mon_updated}}">{{=ajax_status(svc, svc.mon_overallstatus, ' '.join(["status", overallstatus]))}}</td>
      </tr><tr>
        <td class="{{=cellclass}}">{{=ajax_status(svc, "vm", containerstatus)}}</td>
        <td class="{{=cellclass}}">{{=ajax_status(svc, "ip", ipstatus)}}</td>
        <td class="{{=cellclass}}">{{=ajax_status(svc, "fs", fsstatus)}}</td>
        <td class="{{=cellclass}}">{{=ajax_status(svc, "dg", diskstatus)}}</td>
        <td class="{{=cellclass}}">{{=ajax_status(svc, "sync", syncstatus)}}</td>
        <td class="{{=cellclass}}">{{=ajax_status(svc, "app", appstatus)}}</td>
      </tr>
    </table>
    {{return ''}}
{{pass}}

<a id="listdiv" class="xinfo"><span><div ondblclick="getElementById('listdiv').className='xinfo';" id='listspan'>innerHTML here</div></span></a>
<form action='svcmon' name='svcform' id='svcform'> 
<table>
  {{BOX_TOP_ROW(10)}}
  <tr class=box>
    <td class=box></td>
    <td class=box></td>
    <td>{{=colname('svc_name', T('Service'))}}</td>
    <td width=10>{{=colname('svc_containertype', T('Container type'))}}</td>
    <td width=10>{{=colname('svc_app', T('App'))}}</td>
    <td width=10>{{=colname('responsibles', T('Resp'))}}</td>
    <td width=10>{{=colname('svc_autostart', T('Preferred node'))}}</td>
    <td width=10>{{=colname('mon_svctype', T('Service type'))}}</td>
    <td width=10>{{=colname('mon_nodtype', T('Node type'))}}</td>
    <td>{{=colname('mon_nodname', T('Node'))}}</td>
    <td width=10 class=status_t>{{=T('Status')}}</td>
    <td class=box></td>
  </tr>
  <tr class=box>
    <td style='padding:0'></td>
    <td style='padding:0'></td>
    <td><input name=svcname value='{{=vars.svcname}}' size=12 onKeyPress="checkEnter(event)"></td>
    <td><input name=containertype value='{{=vars.containertype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svcapp value='{{=vars.svcapp}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=responsibles value='{{=vars.responsibles}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svcautostart value='{{=vars.svcautostart}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=svctype value='{{=vars.svctype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=nodetype value='{{=vars.nodetype}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td><input name=nodename value='{{=vars.nodename}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td class=status_t><input name=overallstatus value='{{=vars.overallstatus}}' size=4 onKeyPress="checkEnter(event)"></td>
    <td style='padding:0'></td>
  </tr>
  {{BOX_BOTTOM_ROW(10)}}
  {{
    svcname = ''
    cellclass = 'cell1'
    cellclasses = {}
    cellclasses['cell1'] = 'cell2'
    cellclasses['cell2'] = 'cell1'
    yesterday = str(datetime.datetime.today()-datetime.timedelta(days=1))
  }}
  {{for svc in services:}}
  <tr>
    {{if svcname != svc.mon_svcname:
          cellclass = cellclasses[cellclass]
          svcname = svc.mon_svcname
          newsvc = True
      else:
          newsvc = False
          pass
      if svc.responsibles:
          responsibles = IMG(_src=URL(r=request,c='static',f='guy.png'),_border=0, _title=svc.responsibles)
      else:
          responsibles = ''
          pass
      if svc.svc_vmname != "" and svc.svc_vmname is not None:
          vmname = svc.svc_vmname
      else:
          vmname = ''
          pass

      if svc.err>0:
          err = A(IMG(_src=URL(r=request,c='static',f='exclamation_red.png'), _border=0, _title="%d unaknowledged errors"%svc.err), _href=URL(r=request,f='svcactions', vars={'svcname': svc.svc_name, 'status': 'err', 'ack': '!1|empty'}))
      else:
          err = ''
          pass
    }}
    <td style='padding:0'></td>
    <td class={{=cellclass}}>
      <input id="{{=svc.mon_svcname}}" value="{{=svc.mon_svcname}}" type="hidden">
      {{if newsvc:}}
      {{=A(
          IMG(
            _src=URL(r=request,c='static',f='envfile.png'),
            _border=0,
            _title="service configuration file",
            _onclick="""
               getElementById("svcname").value="%(svcname)s";
               ajax("%(url)s",['svcname'],"info_%(svcname)s");
               getElementById("foo_%(svcname)s").className="xinfo_shown";
            """%dict(url=URL(r=request,f='envfile'), svcname=svc.mon_svcname),
          ),
          SPAN(
            DIV(_id="info_"+svc.mon_svcname),
            _ondblclick="""
               getElementById("foo_%(svcname)s").className="xinfo";
            """%dict(svcname=svc.mon_svcname),
          ),
          _id="foo_"+svc.mon_svcname,
          _class="xinfo",
        )
      }}
      {{if svc.svc_name in svcmsg:
          img = URL(r=request,c='static',f='msg1.png')
        else:
          img = URL(r=request,c='static',f='msg0.png')
          pass
      }}
      {{=A(
          IMG(
            _id="msg_img_"+svc.mon_svcname,
            _src=img,
            _border=0,
            _title="comments",
            _onclick="""
               getElementById("svcname").value="%(svcname)s";
               ajax("%(url)s",['svcname'],"msg__%(svcname)s");
               getElementById("msg_%(svcname)s").className="xinfo_shown";
            """%dict(url=URL(r=request,f='ajax_svc_message_load'),
                     svcname=svc.mon_svcname,
                    ),
          ),
          SPAN(
            DIV(TEXTAREA(_id="msgbody_"+svc.mon_svcname), _id="msg__"+svc.mon_svcname),
            INPUT(
              _value=T("save"),
              _type="button",
              _onclick="""
                ajax("%(url)s",['svcname','msgbody_%(svcname)s'],"msg__%(svcname)s");
                getElementById("msg_%(svcname)s").className="xinfo";
                if (getElementById("msgbody_%(svcname)s").value.length>0)
                  getElementById("msg_img_%(svcname)s").src="%(img1)s";
                else
                  getElementById("msg_img_%(svcname)s").src="%(img0)s";
              """%dict(url=URL(r=request,f='ajax_svc_message_save'),
                       svcname=svc.mon_svcname,
                       img0=URL(r=request,c='static',f='msg0.png'),
                       img1=URL(r=request,c='static',f='msg1.png'),
                      ),
            ),
            _ondblclick="""
               getElementById("msg_%(svcname)s").className="xinfo";
            """%dict(svcname=svc.mon_svcname),
          ),
          _id="msg_"+svc.mon_svcname,
          _class="xinfo",
        )
      }}
      {{=err}}
      {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=A(svc.mon_svcname, _href=URL(request.application,'default','svcactions?svcname='+svc.mon_svcname+'&status_log=empty&begin=>'+yesterday))}}
        {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=DIV(svc.svc_containertype, _title=vmname, _style='vertical-align:middle')}}
        {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=svc.svc_app}}
        {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
        {{=responsibles}}
        {{pass}}
    </td>
    <td class={{=cellclass}}>
      {{if newsvc:}}
      {{=A(
          DIV(
            svc.svc_autostart,
            _onclick="""
               getElementById("node").value="%(node)s";
               ajax("%(url)s",['node'],"asn_info_%(node)s");
               getElementById("asn_%(node)s").className="xinfo_shown";
            """%dict(url=URL(r=request,f='ajax_node'), node=svc.svc_autostart),
          ),
          SPAN(
            DIV(_id="asn_info_"+svc.svc_autostart),
            _ondblclick="""
               getElementById("asn_%(node)s").className="xinfo";
            """%dict(node=svc.svc_autostart),
          ),
          _id="asn_"+svc.svc_autostart,
          _class="xinfo",
        )
      }}
      {{pass}}
    </td>
    {{if svc.mon_svctype == 'PRD':
          boldtype = """style='font-weight:bold'"""
      else:
          boldtype = ""
          pass
    }}
    <td class={{=cellclass}} {{=boldtype}}>{{=svc.mon_svctype}}</td>
    {{if svc.mon_nodtype == 'PRD':
          boldtype = """style='font-weight:bold'"""
      else:
          boldtype = ""
          pass
    }}
    <td class={{=cellclass}} {{=boldtype}}>{{=svc.mon_nodtype}}</td>
    <td class={{=cellclass}}>
      {{=A(
          DIV(
            svc.mon_nodname,
            _onclick="""
               getElementById("node").value="%(node)s";
               ajax("%(url)s",['node'],"info_%(node)s");
               getElementById("foo_%(node)s").className="xinfo_shown";
            """%dict(url=URL(r=request,f='ajax_node'), node=svc.mon_nodname),
          ),
          SPAN(
            DIV(_id="info_"+svc.mon_nodname),
            _ondblclick="""
               getElementById("foo_%(node)s").className="xinfo";
            """%dict(node=svc.mon_nodname),
          ),
          _id="foo_"+svc.mon_nodname,
          _class="xinfo",
        )
      }}
    </td>
    <td class="{{=cellclass}}">
      {{=node_status(svc,cellclass)}}
    </td>
    <td style='padding:0'></td>
  </tr>
  {{pass}}
  <div id="foo"></div>
  <input id="svcname" type="hidden">
  <input id="node" type="hidden">
  {{BOX_TOP_ROW(10)}}
  <tr class=box>
    <td align=center colspan=99>{{=nav}}</td>
  </tr>
  <tr class=box>
    <td colspan=99>
      <table>
        <tr>
          <td> {{=T('Export')}}:</td>
          <td> {{=T('Topology')}}:</td>
          <td> {{=T('Active filters')}}:</td>
          <td> {{=T('Add filter')}}:</td>
        </tr>
        <tr>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='csv.png'),_border=0, _title=T("print the csv representation of the current data cursor")),_href=URL(r=request,f='svcmon_csv', vars=vars))}}
          </td>
          <td>
            {{=A(IMG(_src=URL(r=request,c='static',f='viz.png'),_border=0, _title=T("print the topology of the current data cursor")),_href=URL(r=request,f='svcmon_viz', vars=vars))}}
          </td>
          <td>{{FILTERS_ACTIVE(session.svcmon_filters)}}</td>
          <td>{{FILTERS_AVAIL(session.svcmon_filters)}}</td>
        </tr>
      </table>
    </td>
  </tr>
  {{BOX_BOTTOM_ROW(10)}}
</table>
</form>
