{{
title = {'login': 'Login',
         'retrieve_password': 'Password retrieve',
         'change_password': 'Change password',
         'not_authorized': 'You are not authorized to access this function',
         'profile': 'Edit profile',
         'register': 'Register'}

if request.args[0] in title:
    t = title[request.args[0]]
else:
    t = 'Not found'
pass
}}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
  <head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
    {{response.files.append(URL(request.application,'static','base.css'))}}
    {{include 'web2py_ajax.html'}}
    <link rel="SHORTCUT ICON" href="{{=URL(r=request,c='static',f='favicon.ico')}}">
    {{if 'MSIE 6' in request.env.http_user_agent:}}
    {{=redirect(URL(r=request, c='unsupported', f='index'))}}
    {{pass}}
    <script type="text/javascript">
/*
 * browser can fill this field asynchronously
 */
function email_focus() {
    document.getElementById('auth_user_email').select();
}
function align_login_inputs() {
    var w = "250px"
    $('#auth_user_email').width(w);
    $('#auth_user_password').width(w);
    $('#auth_user_first_name').width(w);
    $('#auth_user_last_name').width(w);
    $("[name='password_two']").width(w);
}
function margins() {
    $('.login').css('margin-top', -$('.login').height()/2-10)
    $('.login').css('margin-left', -$('.login').width()/2-10)
}
jQuery(window).load(function(){
    align_login_inputs()
    margins()
    document.getElementById('auth_user_email').focus();
    setTimeout(email_focus, 500);
});
    </script>
  </head>
  <body>
    {{if response.menu_auth:}}
    <div class='login_menu'>
      {{=MENU(response.menu_auth, _class="login_menu")}}
    </div>
    {{pass}}
    <div class='login'>
      <h2>{{=T(t)}}</h2>
      {{=form}}
    </div>
  </body>
</html>
