{{
title = {'login': 'Login',
         'retrieve_password': 'Password retrieve',
         'change_password': 'Change password',
         'not_authorized': 'You are not authorized to access this function',
         'profile': 'Edit profile',
         'register': 'Register'}

if request.args[0] in title:
    t = title[request.args[0]]
else:
    t = 'Not found'
pass
}}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
  <head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {{include 'web2py_ajax.html'}}
    <link rel="SHORTCUT ICON" href="{{=URL(r=request,c='static',f='favicon.ico')}}">
    {{if 'MSIE 6' in request.env.http_user_agent:}}
    {{=redirect(URL(r=request, c='unsupported', f='index'))}}
    {{pass}}
  </head>
  <body>
    <div id="not_login" class='login_menu header'>
    </div>
    {{pass}}
    <div class='login'>
      <h2>{{=T(t)}}</h2>
      {{=form}}
      {{=extra}}
    </div>
  </body>
  <script>
  nlogin("not_login");
  </script>
</html>
