#crontab
0-59/10 * * * * unxdev01 *default/cron_unfinished_actions
59 23 * * * unxdev01 *default/cron_stats
55 23 * * * unxdev01 *default/refresh_obsolescence
0 1 * * * unxdev01 *default/viz_cron_cleanup
6 1 * * * unxdev01 *default/purge_services_not_updated
5 1 * * * unxdev01 *default/cron_alerts
20 1 * * * unxdev01 *default/alerts_apps_without_responsible
1 * * * * unxdev01 *default/alerts_svcmon_not_updated
1 5 * * * unxdev01 *default/alerts_failed_actions_not_acked
