#crontab
#0-59/4 * * * * unxdev01 *cron/cron_scrub_svcstatus
14 6 * * * unxdev01 *cron/cron_scrub_checks
0-59/10 * * * * unxdev01 *cron/cron_unfinished_actions
0-59/5 * * * * unxdev01 *cron/cron_feed_monitor
0-59/3 * * * * unxdev01 *disks/refresh_b_disk_app
49 23 * * * unxdev01 *charts/metrics_cron
59 23 * * * unxdev01 *cron/cron_stats
55 23 * * * unxdev01 *obsolescence/refresh_obsolescence
0 1 * * * unxdev01 *default/viz_cron_cleanup
1 6 * * * unxdev01 *cron/cron_alerts_daily
1 * * * * unxdev01 *cron/cron_alerts_hourly
2 * * * * unxdev01 *cron/refresh_b_apps
50 23 * * * unxdev01 *compliance/cron_dash_comp
30 7 * * * unxdev01 *cron/cron_perf
