{{extend 'layout.html'}}

<table class="billing">
 <tr>
  <th rowspan=3 class="head1">OS Name</th>
  <th colspan=6 class="head1">PRD</th>
  <th colspan=6 class="head1">Non PRD</th>
  <th colspan=4 class="head1">Total</th>
 </tr>
 <tr>
  <th colspan=3 class="head2">Services</th>
  <th colspan=3 class="head2">Agents without services</th>
  <th colspan=3 class="head2">Services</th>
  <th colspan=3 class="head2">Agents without services</th>
  <th colspan=2 class="head2">Services</th>
  <th colspan=2 class="head2">Agents without services</th>
 </tr>
 <tr>
  <th class="head3">Count</th>
  <th class="head3">Tokens/Unit</th>
  <th class="head3">Tokens</th>
  <th class="head3">Count</th>
  <th class="head3">Tokens/Unit</th>
  <th class="head3">Tokens</th>
  <th class="head3">Count</th>
  <th class="head3">Tokens/Unit</th>
  <th class="head3">Tokens</th>
  <th class="head3">Count</th>
  <th class="head3">Tokens/Unit</th>
  <th class="head3">Tokens</th>
  <th class="head3">Count</th>
  <th class="head3">Tokens</th>
  <th class="head3">Count</th>
  <th class="head3">Tokens</th>
 </tr>
{{
for os in data['os']:
}}
 <tr>
  <td>{{=os}}</td>
{{
    for k in ('svc_prd', 'agents_without_svc_prd', 'svc_nonprd', 'agents_without_svc_nonprd'):
}}
  <td class="numeric">{{=len(data[k][os])}}</td>
  <td class="numeric lighter">{{=billing[k][os]}}</td>
  <td class="numeric">{{=token[k][os]}}</td>
{{
    pass
}}
  <td class="numeric">{{=data['ostotal'][os]['svc']}}</td>
  <td class="numeric">{{=token['ostotal'][os]['svc']}}</td>
  <td class="numeric">{{=data['ostotal'][os]['agents_without_svc']}}</td>
  <td class="numeric">{{=token['ostotal'][os]['agents_without_svc']}}</td>
 </tr>
{{
pass
}}
 <tr>
  <th>Total</th>
  <td class="numeric">{{=data['total']['svc_prd']}}</th>
  <td class="numeric"></td>
  <td class="numeric">{{=token['total']['svc_prd']}}</th>
  <td class="numeric">{{=data['total']['agents_without_svc_prd']}}</th>
  <td class="numeric"></td>
  <td class="numeric">{{=token['total']['agents_without_svc_prd']}}</th>
  <td class="numeric">{{=data['total']['svc_nonprd']}}</th>
  <td class="numeric"></td>
  <td class="numeric">{{=token['total']['svc_nonprd']}}</th>
  <td class="numeric">{{=data['total']['agents_without_svc_nonprd']}}</th>
  <td class="numeric"></td>
  <td class="numeric">{{=token['total']['agents_without_svc_nonprd']}}</th>
  <td class="numeric">{{=data['total']['svc']}}</th>
  <td class="numeric">{{=token['total']['svc']}}</th>
  <td class="numeric">{{=data['total']['agents_without_svc']}}</th>
  <td class="numeric">{{=token['total']['agents_without_svc']}}</th>
 </tr>
</table>


<div style='text-align:left' class="billing">
<hr>
{{
headings = {
  'svc_prd': 'PRD Services',
  'svc_nonprd': 'Non PRD Services',
  'agents_without_svc_prd': 'PRD Agents without services',
  'agents_without_svc_nonprd': 'Non PRD Agents without services',
}

for k in ('svc_prd', 'agents_without_svc_prd', 'svc_nonprd', 'agents_without_svc_nonprd'):
    for os in data[k]:
        if len(data[k][os]) == 0:
            continue
}}
<h2>{{=headings[k]}} : {{=os}}</h2>
{{
        for o in data[k][os]:
}}
  <span>{{=o.lower()}} </span>
{{
        pass
    pass
pass
}}
</div>
