{{extend 'layout.html'}}
{{include '../static/jslib.html'}}

{{=TABLE(
     TR(
       TD(
         H1(T('Edit record')),
         _style="border-bottom:4px solid darkorange;text-align:center"
       ),
     ),
     TR(
       TD(form),
     )
   )
}}

<script>
$("#pdns_records_domain_id").change(
  function(){
    var reg = new RegExp("[.]+", "g");
    var l = $("#pdns_records_name").val().split(reg);
    $("#pdns_records_name").val(
      l[0]+'.'+$("#pdns_records_domain_id :selected").text()
    )
    $("#pdns_records_name").focus()
  }
)
</script>

