<!DOCTYPE html> 

<html> 
	<head> 
	<title>OpenSVC</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
        {{include '../views/m/inc.html'}}
</head> 
<body> 

<div data-role="page" id="actionpage">	

	<div data-position="fixed" data-role="header">
		<a href="#nav" data-icon="home">Nav</a> 
		<h1>OSVC actions</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<ul id="actionlist" data-role="listview" data-theme="g" data-filter="true">
		</ul>
	</div><!-- /content -->

	<div data-id="footer" data-role="footer">
		<label for="select-choice-0" class="select">Filter:</label>
		<select name="select-choice-0" id="filters">
		</select>
	</div>
</div><!-- /page -->

{{include '../views/m/nav.html'}}

</body>

<script>

{{include '../static/m.js'}}

function init_actionlist(event, data) {
	append_actionlist(0, 20, null) 
}

function append_actionlist(start, end, s) {
	$.getJSON("{{=URL(r=request, f='call/json/json_actions')}}/"+start+"/"+end+"/"+s, function(data) {
		$("#actionlist").html("")
                $("#actionlist").append(format_actions(data)).trigger('create')
		$('#actionlist').listview('refresh')
	});
}

function init(event, data) {
        init_actionlist(event, data)
        init_filters(event, data)
	$("[role=search]").bind('submit', search)
	web2py_websocket('wss://{{=request.env.http_host.split(':')[0]}}:8889/realtime/generic', ws_switch)
}

function ws_switch(e) {
	data = eval('('+e.data+')')
	ws_action_switch(data)
}

function search(event, data) {
	s = $("[data-type=search]").val()
	$("#actionlist").empty()
	append_actionlist(0, 20, s) 
}

$('#actionpage').bind("pageinit", init)


</script>

</html>
