<link rel="stylesheet" href="{{=URL(request.application,'static','js/m/jquery.mobile-1.0.1.min.css')}}" />
<link rel="stylesheet" href="{{=URL(r=request,c='static',f='jqplot/jquery.jqplot.min.css')}}" />
<link rel="stylesheet" href="{{=URL(request.application,'static','m.css')}}" />
<script src="{{=URL(request.application,'static','js/jquery.js')}}"></script>
<script src="{{=URL(request.application,'static','js/m/jquery.mobile-1.0.1.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/jquery.jqplot.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.highlighter.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.canvasTextRenderer.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.categoryAxisRenderer.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.dateAxisRenderer.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.barRenderer.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.ohlcRenderer.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.cursor.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.enhancedLegendRenderer.min.js')}}"></script>
<script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.pieRenderer.min.js')}}"></script>
<script src="{{=URL(request.application,'static','js/jquery-ui-1.7.2.custom.min.js')}}"></script>
<script src="{{=URL(request.application,'static','js/web2py.js')}}"></script>

