<div data-role="page" id="nav">	

	<div data-role="header">
		<h1>Navigation</h1>
	</div>

	<div data-role="content">
		<ul data-role="listview" data-theme="g">
			<li><a href="{{=URL(r=request, f='alerts')}}" rel="external">Alerts</a></li>
			<li><a href="{{=URL(r=request, f='services')}}" rel="external">Services</a></li>
			<li><a href="{{=URL(r=request, f='nodes')}}" rel="external">Nodes</a></li>
			<li><a href="{{=URL(r=request, f='actions')}}" rel="external">Actions</a></li>
			<li><a href="{{=URL(r=request, f='stats')}}" rel="external">Stats</a></li>
			<li><a href="{{=URL(r=request, f='log')}}" rel="external">Log</a></li>
		</ul>
	</div><!-- /content -->

</div><!-- /page -->
