<!DOCTYPE html> 

<html> 
	<head> 
	<title>OpenSVC</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="{{=URL(request.application,'static','m.css')}}" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body> 

<div data-role="page" id="servicepage">	

	<div data-position="fixed" data-role="header">
		<a href="{{=URL(r=request, f='nav')}}" data-rel="dialog" data-icon="home">Nav</a> 
		<h1>OSVC services</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<ul id="servicelist" data-role="listview" data-theme="g" data-filter="true">
		</ul>
	</div><!-- /content -->

	<div data-position="fixed" data-id="footer" data-role="footer" class="ui-bar">
		<label for="select-choice-0" class="select">Filter:</label>
		<select name="select-choice-0" id="filters">
		</select>
	</div>
</div><!-- /page -->

</body>

<script>

{{include '../static/m.js'}}

function init_servicelist(event, data) {
        append_servicelist(0, 20, null) 
}

function append_servicelist(start, end, s) {
	$.getJSON("{{=URL(r=request, f='call/json/json_services')}}/"+start+"/"+end+"/"+s, function(data) {
		$("#servicelist").html("")
		e = format_service(data)
		$("#servicelist").append(e)
		$('#servicelist').listview('refresh')
	});
}

function search(event, data) {
        s = $("[data-type=search]").val()
        $("#servicelist").empty()
        append_servicelist(0, 20, s) 
}

function init(event, data) {
        init_servicelist(event, data)
        init_filters(event, data)
        $("[role=search]").bind('submit', search)
}

$('#servicepage').bind("pageinit", init)

</script>

</html>
