<!DOCTYPE html> 

<html> 
	<head> 
	<title>OpenSVC</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
        {{include '../views/m/inc.html'}}
</head> 
<body> 

<div data-role="page" id="logpage">	

        <div data-position="fixed" data-role="header">
                <a href="#nav" data-icon="home">Nav</a>
                <h1>OSVC services</h1>
        </div><!-- /header -->

	<div data-role="content">	
		<ul id="loglist" data-role="listview" data-theme="g">
		</ul>
	</div><!-- /content -->

        <div data-id="footer" data-role="footer">
                <label for="select-choice-0" class="select">Filter:</label>
                <select name="select-choice-0" id="filters">
                </select>
        </div>

</div><!-- /page -->

{{include '../views/m/nav.html'}}

</body>

<script>

{{include '../static/m.js'}}

function init(event, data) {
	$.getJSON("{{=URL(r=request, f='call/json/json_show_action', args=[action_id])}}", function(data) {
		e = format_show_actions(data)
		$("#loglist").append(e).trigger('create')
	});
        init_filters(event, data)
}

$('#logpage').bind('pageinit', init)

</script>

</html>
