<!DOCTYPE html> 

<html> 
	<head> 
	<title>OpenSVC</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="{{=URL(request.application,'static','m.css')}}" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
        <link rel="stylesheet" href="{{=URL(r=request,c='static',f='jqplot/jquery.jqplot.min.css')}}" />
        <script src="{{=URL(request.application, c='static', f='jqplot/jquery.jqplot.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.highlighter.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.canvasTextRenderer.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.categoryAxisRenderer.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.dateAxisRenderer.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.barRenderer.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.ohlcRenderer.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.cursor.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.enhancedLegendRenderer.min.js')}}"></script>
        <script src="{{=URL(request.application, c='static', f='jqplot/plugins/jqplot.pieRenderer.min.js')}}"></script>
</head> 
<body> 

<div data-role="page" id="statspage">	

	<div data-position="fixed" data-role="header">
		<a href="{{=URL(r=request, f='nav')}}" data-rel="dialog">Nav</a> 
		<h1>Stats</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<h2>Applications</h2>
		<div id="stats_day_apps"></div>
		<h2>Services</h2>
		<div id="stats_day_svc_type"></div>
		<div id="stats_day_svc_cluster"></div>
		<div id="stats_day_svc_drp"></div>
		<h2>Nodes</h2>
		<div id="stats_day_nodes"></div>
		<div id="stats_day_nodes_ram"></div>
		<div id="stats_day_nodes_core"></div>
		<h2>Virtualization</h2>
		<div id="stats_day_virt_nodes"></div>
		<div id="stats_day_nb_vcpu"></div>
		<div id="stats_day_nb_vmem"></div>
		<h2>Actions</h2>
		<div id="stats_day_actions"></div>
		<div id="stats_day_err"></div>
		<h2>Storage</h2>
		<div id="stats_day_disk"></div>
		<h2>Accounts</h2>
		<div id="stats_day_accounts"></div>
		<div id="stats_day_resp_accounts"></div>
	</div><!-- /content -->

	<div data-id="footer" data-role="footer">
		<label for="select-choice-0" class="select">Filter:</label>
		<select name="select-choice-0" id="filters">
		</select>
	</div>
</div><!-- /page -->

</body>

{{include '../static/jslib.html'}}

<script>

{{include '../static/m.js'}}

function init(event, data) {
        stat_day("{{=URL(r=request, c='stats', f='call/json/json_stat_day', vars={})}}", "stats_day")
}

$('#statspage').bind('pageinit', init)

</script>

</html>
