{{extend 'layout.html'}}
{{include 'box.html'}}
{{include '../static/jslib.html'}}
{{
if stat_cpu_avg_day is None:
   img_stat_cpu_avg_day = SPAN()
else:
   img_stat_cpu_avg_day = SPAN(
         IMG(_src=URL(r=request,c='static',f=stat_cpu_avg_day)),
         P(T("(yesterday's average)")),
   )
pass

if stat_mem_avail is None:
   img_stat_mem_avail = SPAN()
else:
   img_stat_mem_avail = SPAN(
         IMG(_src=URL(r=request,c='static',f=stat_mem_avail)),
         P(T("(yesterday's average)")),
   )
pass

if stat_cpu_avg_day is None:
   img_stat_disk_svc = SPAN()
else:
   img_stat_disk_svc = IMG(_src=URL(r=request,c='static',f=stat_disk_svc)),
pass
}}

{{=DIV(
     DIV(
       H1(T("Services")),
       DIV(
         _id='stat_day_svc_drp',
         _class='float',
       ),
       DIV(
         _id='stat_day_svc_cluster',
         _class='float',
       ),
       DIV(
         _id='stat_day_svc_type',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Nodes")),
       DIV(
         _id='stat_day_nodes',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Actions")),
       DIV(
         _id='stat_day_actions',
         _class='float',
       ),
       DIV(
         _id='stat_day_err',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Disks")),
       DIV(
         IMG(_src=URL(r=request,c='static',f='stat_disk.png')),
         _class='float',
       ),
       DIV(
         img_stat_disk_svc,
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Computing ressource usage")),
       DIV(
         img_stat_cpu_avg_day,
         _class='float',
       ),
       DIV(
         img_stat_mem_avail,
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Application codes")),
       DIV(
         _id='stat_day_apps',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H1(T("Collector user accounts")),
       DIV(
         _class='float',
         _id='stat_day_accounts',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     SCRIPT(
       "stat_day('%(url)s', 'stat_day');"%dict(
         url=URL(r=request,
                 f='call/json/json_stat_day')
       )
     ),
   )
}}
