{{extend 'layout.html'}}
{{include 'box.html'}}
{{include '../static/jslib.html'}}

{{=DIV(
     DIV(
       H2(T("Services")),
       DIV(
         _id='stat_day_svc_drp',
         _class='float',
       ),
       DIV(
         _id='stat_day_svc_cluster',
         _class='float',
       ),
       DIV(
         _id='stat_day_svc_type',
         _class='float',
       ),
       DIV(
         _id='stat_day_apps',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H2(T("Nodes")),
       DIV(
         _id='stat_day_nodes',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H2(T("Actions")),
       DIV(
         _id='stat_day_actions',
         _class='float',
       ),
       DIV(
         _id='stat_day_err',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H2(T("Disks")),
       DIV(
         _id='stat_day_disk',
         _class='float',
       ),
       DIV(
         _id='stat_day_svc_disk',
         _class='float',
       ),
       DIV(
         _id='stat_day_svc_disk',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H2(T("Computing ressource usage")),
       DIV(
         _id='stat_day_node_cpu',
         _class='float',
       ),
       DIV(
         _id='stat_day_node_mem',
         _class='float',
       ),
       DIV(
         _id='stat_day_node_swp',
         _class='float',
       ),
       DIV(
         _id='stat_day_node_proc_runq_sz',
         _class='float',
       ),
       DIV(
         _id='stat_day_node_proc_plist_sz',
         _class='float',
       ),
       DIV(
         _id='stat_day_node_block_tps',
         _class='float',
       ),
       DIV(
         _id='stat_day_node_block_bps',
         _class='float',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     DIV(
       H2(T("Collector user accounts")),
       DIV(
         _class='float',
         _id='stat_day_accounts',
       ),
       DIV(
         XML('&nbsp;'),
         _class='spacer',
       ),
       _class='container',
     ),
     SCRIPT(
       "stat_day('%(url)s', 'stat_day');"%dict(
         url=URL(r=request,
                 f='call/json/json_stat_day'),
       ),
       "stats_avg_cpu_for_nodes('%(url)s', 'stat_day_node_cpu');"%dict(
         url=URL(r=request,
                 f='call/json/json_avg_cpu_for_nodes',
                 vars={'higher':15}
          )
       ),
       "stats_avg_mem_for_nodes('%(url)s', 'stat_day_node_mem');"%dict(
         url=URL(r=request,
                 f='call/json/json_avg_mem_for_nodes',
                 vars={'lower':15}
          )
       ),
       "stats_avg_proc_for_nodes('%(url)s', 'stat_day_node_proc');"%dict(
         url=URL(r=request,
                 f='call/json/json_avg_proc_for_nodes',
                 vars={'higher':15}
          )
       ),
       "stats_avg_block_for_nodes('%(url)s', 'stat_day_node_block');"%dict(
         url=URL(r=request,
                 f='call/json/json_avg_block_for_nodes',
                 vars={'higher':15}
          )
       ),
       "stats_avg_swp_for_nodes('%(url)s', 'stat_day_node_swp');"%dict(
         url=URL(r=request,
                 f='call/json/json_avg_swp_for_nodes',
                 vars={'lower':15}
          )
       ),
       "stats_disk_for_svc('%(url)s', 'stat_day_svc_disk');"%dict(
         url=URL(r=request,
                 f='call/json/json_disk_for_svc',
                 vars={'higher':15}
          )
       ),
     ),
   )
}}
