@charset "UTF-8";

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(160,160,160,0.7);
}
::-webkit-scrollbar-track {
	background-color: transparent;
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 900;
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
//	font-weight: 400;
	src: url("../webfonts/OpenSans-Regular.woff") format("woff2");
}

.jqstooltip {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.icon_fixed_width:before {
	display: inline-block;
	width: 1.3em;
	text-align: left;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.icon {
	white-space: nowrap;
}
.icon:before {
	display: inline-block;
	margin-right: 0.3em;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

td {
	padding: 0.2rem;
}

.ui-datepicker {
	z-index: 2000 !important;
}

.ui-menu {
	z-index: 2000 !important;
}

input.aci, input.aci:focus {
	background-image: url("/init/static/images/search.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 12px;
	background-origin: content-box;
}

.ace_editor {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
	line-height: 1.3rem !important;
}
.ace_keyword {
	color: #0d47a1 !important;
}


.export_data {
	width:100%;
	height:30em;
	font-family:monospace;
	background:rgba(0,0,0,0);
	border:rgba(0,0,0,0);
	padding:1em;
	box-sizing:border-box;
	font-size:0.9em;
}

.trunc20 {
	max-width: 20em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis {
	text-overflow: ellipsis;
}

.greened {
	color: darkgreen;
}

.grayed {
	color: gray;
}
.lightgrayed,
.lightgrayed:before {
	color: lightgray !important;
}

.stick {
	background-color: white !important;
	position: fixed;
	top: 3em;
	z-index: 2;
}

.im:before {
	content: "\f27a";
}
.second:before {
	content: '\f0e7';
}
.minute:before {
	content: '\f017';
	font-weight: 400;
}
.hour:before {
	content: '\f254';
	font-weight: 400;
}
.day:before {
	content: '\f133';
	font-weight: 400;
}
.week:before {
	content: '\f272';
	font-weight: 400;
}
.month:before {
	content: '\f073';
	font-weight: 400;
}
.year:before {
	content: '\f073';
	font-weight: 400;
}


.tags {
	min-height: 5em;
}

.tag_container {
	display: flex;
	flex-wrap: wrap;
}

.d-flex.flex-wrap > div > table > tbody > tr > th {
	font-weight: normal;
	color: gray;
	width: 10em;
}

.var_content_tab {
	display: flex;
	flex-wrap: wrap;
}

.var_content_tab > div {
	padding: 1em;
	display: inline-block;
}

.var_content_tab  #var_name {
	font-weight: bold;
	padding-top: 0.3em;
	font-size: 1.25em;
	font-style: italic;
}

.var_content_tab > div > table > tbody > tr > th {
	font-weight: normal;
	width: 7em;
}

.run_status_tab {
	display: flex;
	flex-wrap: wrap;
}

.run_status_tab > div {
	padding: 1em;
	display: inline-block;
}

.line {
	position: relative;
	z-index: 1;
	padding-bottom: 0.2em;
	margin-bottom: 0.2em;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	text-transform: capitalize;
}
.line :before {
	font-style: normal;
}

.line > span {
	padding-right: 0.5em;
	margin-left: 0;
}
.line.#dddd66 > span {
	background: #E0E1CD;
	padding-right: 0.5em;
	margin-left: 0;
}

.panselector10 {
	max-height: 10em;
	overflow-y: scroll;
}

.ui-autocomplete {
	position: fixed;
	top: 100%;
	left: 0;
	z-index: 3000;
	float: left;
	display: none;
	min-width: 160px; 
	max-height: 20em;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 4px 0;
	margin: 0 0 10px 25px;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
	text-decoration: none;
}

.ui-state-hover, .ui-state-active {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}

.corner-top:hover {
	background-image: url('../images/cornertop8.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}
.corner:hover {
	background-image: url('../images/corner8.png');
	background-position: 0 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.group_hidden_menu_entry {
	display: table;
	height: 4em;
	width: 20em;
	margin: 0.2em;
	float: left;
}
.group_hidden_menu_entry > input {
	margin-top: 0.2em;
}
.group_hidden_menu_entry > div {
	vertical-align: top;
	display: table-cell;
	width: 18em;
}
.group_hidden_menu_entry > div > div {
	height: 48px;
}
.user_group {
	display: table;
	height: 3em;
	width: 12em;
	margin: 0.2em;
	float: left;
}
.user_group > input {
	margin-top: 0.2em;
}
.user_group > div {
	vertical-align: top;
	display: table-cell;
	width: 10em;
}

.d-flex > .tl {
	border: 1px solid #ddd;
}

.d-flex > .tl > .cell {
	flex-grow: 1;
}

.table_scroll_zone {
	display: flex;
	position: relative;
}
.table_scroll_zone > div:first-child {
	flex-shrink: 0;
}

.table_scroll_zone > div:last-child {
	width: 100%;
	overflow-x: auto;
}
.table_scroll_zone > div > table {
	width: 100%;
}

.scroll_left {
	width:1em !important;
	position:absolute;
	top:0;
	height:100%;
	content: ' ';
	display:none;
	background: -webkit-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
	background: -webkit-linear-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
	background: -moz-linear-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
	background: -ms-linear-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
	background: -o-linear-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
	cursor: pointer;
	z-index: 1;
}
.scroll_right {
	width:1em !important;
	position:absolute;
	right:0;
	top:0;
	height:100%;
	content: ' ';
	display:none;
	background: -webkit-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	background: -webkit-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	background: -moz-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	background: -ms-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	background: -o-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	cursor: pointer;
	z-index: 1;
}

tr.tl {
	border-bottom: 1px solid rgba(220, 220, 220, 0.2);
	height: 2em;
}
tr.tl:last-child {
	border-bottom: none;
}

.h:hover {
	outline: 1px solid #aaa;
}

.tools > label {
	user-select: none; /* CSS3 (little to no support) */
	-ms-user-select: none; /* IE 10+ */
	-moz-user-select: none; /* Gecko (Firefox) */
	-webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.tools {
	cursor: context-menu;
	width: 16px;
}

.chart {
	text-align: center;
}

.datetime {
	white-space: nowrap;
}

.form_group {
	text-align: left;
	margin-bottom: 1em;
}
.form_vertical div.form_group {
	padding-left: 1rem;
}
.form_tool:before {
	color: gray;
}
.form_tool:hover:before {
	color: inherit;
}
.form_tool:hover {
	cursor: pointer;
	color: inherit;
}
.form_tool {
	padding: 0.3em 0 0 0.2em;
	display: inline-block;
	color: gray;
	border: unset;
	background-color: unset;
	text-align: left;
}
.postit th {
	width: 30%;
}

.header_logo {
	padding: 0 0.5em;
	white-space: nowrap;
	cursor: pointer;
}
.header_logo a {
	color: lightgray;
}
.header_logo a:hover {
	text-decoration: none;
	color: white;
}

img {
	border: 0;
}

.logo {
	vertical-align: middle;
	padding-right: 0.5em;
	height: 16px;
	width: 16px;
}

.current_page {
	color: #990000;
	font-weight: bold;
}

.current_page:hover {
	text-decoration: none;
}

.tag_input {
	outline: none;
	font-weight: bold;
	color: white;
	border: 0;
	background-color:#5d5d5d;
	width:5em;
	line-height: 1.6em;
}
.tag_input:focus {
	background-color:#5d5d5d;
}
.tag_del:before {
	content: '\f146';
}
.tag_del {
	flex: 1 0 100%;
	padding: 0 20px 0 20px;
	min-height: 16px;
	line-height: 1.7em;
	margin: 0.1em;
	font-weight: bold;
	font-size: 85%;
	text-align: center;
	color: white;
	-ms-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#5d5d5d;
	overflow:hidden;
	cursor: pointer;
	white-space: nowrap;
}
.tag_del_active {
	background-color:#5d9d5d;
}
.tag_del_hover {
	background-color:#EE5464;
}
.tag_add:before {
	content: '\f0fe';
}
.tag_add {
	flex: 1 0 100%;
	white-space: nowrap;
	line-height: 1.7em;
	margin: 0.1em;
	font-weight: bold;
	font-size: 85%;
	text-align: center;
	color: white;
	-ms-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#5d5d5d;
	padding: 0 20px 0 20px;
	overflow:hidden;
	cursor: pointer;
}
.tag_create, .tag_create:focus {
	background-color:#EE5464;
}
.tag_drag {
}
.tag:before {
	color: whitesmoke !important;
}
.tag_container.grow > * {
	flex-grow: 1;
}
.tag {
	display: inline-flex;
	white-space: nowrap;
	margin: 0.1em;
	font-size: 95%;
	text-align: center;
	color: whitesmoke;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding: 1px 10px 1px 10px;
	overflow: hidden;
	justify-content: center;
}
.tag:hover {
	cursor: pointer;
}
.flash > .tag_container > .tag:hover {
	cursor: pointer;
}
.tag_attached {
	background-color:#008099;
}
.tag_candidate {
	background-color:#5d5d5d;
	cursor: pointer !important;
}

.boxed_small {
	text-align: center;
	color: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #008099;
	padding: 0.1rem 0.3rem;
	overflow: hidden;
}

.boxed {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	background-color:#F3F1E1;
	padding-left:0.8em;
	padding-right:0.8em;
	padding-top:0.4em;
	padding-bottom:0.4em;
	overflow:hidden;
}

.box {
	background-color:#F3F1E1;
	padding:0;
	overflow:hidden;
}

.action {
	white-space: nowrap;
}

.metaaction {
	font-weight: bold;
	white-space: nowrap;
}

.ack_1 {
	text-decoration:line-through;
}

.ack {
	display: none;
	background: #000000;
	color: #ffffff;
}

.hidden {
	display: none;
}

.toolbar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	align-items: center;
}
.toolbar > div {
	padding: 0.2rem 0.5rem;
	white-space: nowrap;
}

.cell1 {
	background: #fafaf4;
}
.cell2 {
	background-color: white;
}
.cell3 {
	background-color: white;
}

div.tl.tl_checked {
	background-color: #fffffb;
}
.tl_checked.cell1 {
	background-color: rgb(237, 232, 212);
}
.tl_checked.cell2 {
	background-color: rgb(232, 225, 212);
}

.pie_hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.status_icon:before {
	content: '\f111';
}

.status_n\/a, .status_undef {
	color: #666666;
}

.status_up, .status_ok, .status_stdby_up {
	color: #009900;
}

.status_down, .status_err {
	color: #990000;
}

.status_stdby_down {
	color: #990000;
	background-color: rgba(77,77,00,0.4);
}

.status_warn {
	color: orange;
}

.status_t {
	text-align: center;
}

.aggstatus {
	border-bottom: solid 1px #dddddd;
	text-align: center;
}

body {
	background: transparent;
	width:100%;
	overflow-x: hidden;
}

.b {
	font-weight: bold;
}

.prewrap {
	/* for status_log wrapping */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
}

.pre {
	font-size: 0.9em;
	font-family: monospace, courier;
	padding-left: 0em;
	padding-top: 0em;

	/* for status_log wrapping */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.header .api_error {
	color: lightgray;
}
.api_error {
	padding: 2em 0;
}

.err {
	color: red;
}

.h1 {
	padding-top: 0.5em;
	font-size: 2em;
}

.h2 {
	padding-top: 0.4em;
	font-size: 1.5em;
}

.h3 {
	padding-top: 0.3em;
	font-size: 1.25em;
	font-style: italic;
}

.a {
	cursor: pointer;
	color: #000000;
}

.a {
	text-decoration: none;
}

html {
	font-size: 10pt;
	background-color: #2d2d2d; 
}

.flash {
	padding: 1rem;
}

div.error {
	background-color: red;
	color: white;
	padding: 3px;
}

.menu_section > a,
.menu_section > * > a,
.menu_section > * > * > a,
.menu_section > * > * > * > a,
.menu_section > * > * > * > * > a,
.menu_section > * > * > * > * > * > a,
.menu_section > * > * > * > * > * > * > a {
	margin-right: 1em;
	color: white;
}
.menu_section > div {
	display: flex;
	flex-wrap: wrap;
}
.menu_current {
	background: #1f1f1f;
}
.menu_selected {
	background: rgba(100,100,100,0.2);
}
.menu_entry:hover {
	background: #252525;
}
.menu_entry > a {
	text-decoration: none;
}
.menu_section > a {
	text-decoration: none;
	height: 3rem;
	font-size: 2rem;
}
.meta_not_found > a > div {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.menu {
	left: 0;
	top: 3em;
	display: none;
	position: fixed;
	z-index: 1001;
	width: 100%;
	max-height: 87%;
	background: #2d2d2d;
	box-shadow: black -0px 20px 25px;
	box-sizing: border-box;
	overflow-y: scroll;
}
.menu_section {
	padding: 1em;
	font-size: 1.1em;
	clear: both;
	border-top:1px solid #2f2f2f;
}
.menu_entry {
	padding: 1em;
	transition: all 0.1s ease-in-out;
	min-height: 60px;
	flex: 0 0 19rem;
	color: #ccc;
}
.menu_entry * {
	color: #aaa;
}

div.menu_box {
	display: flex;
}
.menu_box > div {
	display: inline-block;
	align-self: center;
	height: 100%;
}
.menu_icon {
	height: 100%;
	margin-right: .5em;
	font-size: x-large;
	width: 1em;
	text-align: center;
}
.menu_icon:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	width: 1em;
}
.menu_icon > i {
	top: -1em;
	font-size: 1.5rem;
	left: -1em;
	position: relative;
}
.menu .menu_title {
	color: white;
}
.menu_subtitle {
	font-size: 0.8em;
}


.warn {
	background-color: #dddd66;
	color: black;
	padding: 5px;
}

.info {
	background-color: #E5FFE5;
	color: black;
	padding: 5px;
}

.error {
	background-color: red;
	color: white; padding: 5px;
}

.wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.layout {
	font-family: 'Open Sans';
	width: 100%;
	padding: 3em 0 0 0;
	border: 0;
	border-spacing: 0;
	background: #fff;
}

textarea.flash {
	border: rgba(0,0,0,0);
	color: lightgray;
	background: rgba(0,0,0,0);
	padding: 1em 0 0 0;
}
textarea.flash:focus {
	border: rgba(0,0,0,0.5);
}

.header {
	display: flex;
	background: #2d2d2d;
	color: white;
	width: 100%;
	position: fixed;
	z-index: 2000;
	height: 3em;
}
.header :focus {
	outline: none;
}
.header > div {
	color: lightgray;
	align-self: center;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}
.header option {
	color: initial;
}
.header select {
	color: white;
	border: 0;
}

.footer {
	background: #2d2d2d;
	color: #aaa;
	text-align: center;
	height: 3em;
	padding: 0.8rem;
}
.footer a {
	color: #aaa;
}

.movable {
	cursor: move;
}
.movable:before {
	cursor: move;
}

.cloud {
	display: none;
	padding: 0.5em;
}

.extraline {
	padding: 0;
}
.extraline > td:last-child {
	padding: 0.8em;
}
.extraline > td > table, .extraline > td:last-child > div {
	box-shadow: 0 0 20px 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
}
.tab {
	padding:0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid rgb(240,240,240);
	background-color: rgb(253,253,253);
}
.tab:after {
	content: ".";
	height: 0;
	display: block;
	clear: both;
}
.tab ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.tab li {
	text-align: center;
	margin: 0.2rem;
	padding: 0.3rem 0.5rem;
	cursor: pointer;
	color: black;
	list-style: none;
	border: 1px solid rgba(0,0,0,0);
	border-right: 1px solid rgba(220,220,220,0.3);
	text-transform: capitalize;
}
.tab li:first-child {
	text-transform: none;
	margin: 0;
	border: 0;
}
.tab li:first-child:hover {
	border: 0;
}
.tab > ul > li > p {
	margin: 0;
}
.tab > ul > li:hover {
	background-color: white;
	transition: all 0.1s ease-in-out;
	border: 1px solid lightgray;
	border-radius: 3px;
}
.tab .closetab:hover {
	color: whitesmoke;
}

.tab .tab_active {
	background: white;
	border: 1px solid lightgray;
	box-shadow: inset 0 1px 0px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,.4);
	border-radius: 3px;
}
.layout > div > .tabs .closetab,
.layout > .tabs .closetab {
	border-radius: 0px;
}
.tab .closetab {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #2D2D2D;
	color:whitesmoke;
	border: none;
	padding: 0.2em 0;
	width: 100%;
}
.closetab:before {
	color: whitesmoke !important;
}
.closetab > span > span:before {
	color: whitesmoke !important;
}

.action_menu {
	padding: 0.5em;
	background-color: white;
}

.action_menu_popup {
	overflow-x: auto;
	min-width: 20em;
	max-width: 75%;
	border-right: 1px solid rgba(220, 220, 220, 0.3);
	z-index: 2;
}
.action_menu > ul {
	padding: 0.5em;
	margin: 0 0 0 0.3em;
}
.action_menu > ul > li > ul {
	padding: 0;
}
.action_menu > ul > li > ul > li > ul {
	border-left: 1px dotted lightgray;
	padding: 0.2em 1.2em;
	margin: 0.4em 0.2em;
}
li.action_menu_folder {
	cursor: pointer;
}
.action_menu li.action_menu_leaf,.action_menu li.action_menu_folder,.action_menu > ul > li,.action_menu > ul > li > ul {
	list-style: none;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
.action_menu_leaf_selected {
	color: cadetblue;
	font-size: large;
}
.action_menu_leaf_selected:before {
	color: cadetblue !important;
}

.action_menu_selector > div {
	padding: 0.3em 0;
}

.action_menu_selector {
	white-space: nowrap;
	width: 100%;
	padding: 0.4em 0;
	display: flex;
}
.action_menu_selector > div:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.action_menu_selector > div:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.action_menu_selector > div {
	overflow: hidden;
	white-space: nowrap;
	flex: 1;
	text-align: center;
	background: transparent;
	margin: 0.5px;
	box-shadow: inset 0 0px 1px rgba(0,0,0,0.5);
}
.action_menu_selector > div.action_menu_selector_disabled {
	color: gray;
}
.action_menu_selector > div.action_menu_selector_selected {
	background-color: rgba(220,220,220,0.2);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,.4);
}

.chartcontainer {
	float:left;
	width:45%;
	min-width:350px;
	padding:10px;
	padding-left:30px;
	padding-right:30px
}

div.float {
	float: left;
	margin-left:1em;
	margin-right:1em;
}

div.float h2 {
	text-align: center;
}

div.spacer {
	height: 0;
	clear: both;
}

div.svcstatus {
	text-align: center;
	display: inline-block;
}

div.svcstatus table,
div.svcstatus tr,
div.svcstatus td {
	padding: 0;
	padding-left: 0.3em;
	padding-right: 0.3em;
	margin: 0;
	width: auto;
	text-align: center;
}

.numeric {
	text-align: right;
}

.white_float {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-left-color: #AAA;
	border-left-style: solid;
	border-right-color: black;
	border-right-style: solid;
	border-top-color: #AAA;
	border-top-style: solid;
	border-width: 0;
	color: black;
	cursor: default;
	margin: 0;
	padding: 8px;
	position: absolute;
	vertical-align: baseline;
	text-align: left;
	z-index: 499;
	background-color: white;
	box-shadow: 0 0 20px 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.sort_helper {
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px 2px;
}

.link_ta:focus {
	background: none;
}
textarea.link_ta {
	background: none;
	border: 0;
}

.floatw {
	float: right;
	margin-left:0.4em;
	margin-right:0.4em;
	padding: 3px;
}

.floatw a {
	text-decoration: none;
}

.floatw input {
	vertical-align: middle;
}

div.floatw:hover {
	background-color: rgba(0,0,0,0.02);
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px rgba(0,0,0,0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
div.floatw:active {
	background-color: rgba(0,0,0,0.1);
}

.login_menu {
	float: left;
	color: white;
}
.login_menu a,
.login_menu ul {
	white-space: nowrap;
	color: #aaa;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.login_menu li,
.login_menu ul {
	list-style: none;
}
.login_menu a:hover {
	text-decoration: none;
	color: #fff;
}
ul.login_menu ul {
	border-top: 1px solid white;
}

.login label {
	color: white;
}
div.login {
	color: white;
	padding: 6rem 3rem;
}
.login h2 {
	margin: 0 0 1rem 1rem;
}
.login input,select {
	max-width: 30em;
}

.common16:before {
	content: '\f05b';
}

.os_vmware {
	background: transparent url('../images/vmware16.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_win {
	background: transparent url('../images/win24.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_aix {
	background: transparent url('../images/aix24.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_opensolaris {
	background: transparent url('../images/opensolaris.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_tru64 {
	background: transparent url('../images/tru64.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_hpux {
	background: transparent url('../images/hpux.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_darwin {
	background: transparent url('../images/darwin.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_solaris {
	background: transparent url('../images/solaris.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_freebsd {
	background: transparent url('../images/freebsd.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.os_linux {
	background: transparent url('../images/linux.png') no-repeat;
	background-size: 16px 16px;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.docker_repository16:before {
	color: #27b8e8;
	content: '\f04d';
}
.docker_registry16:before {
	color: #27b8e8;
	content: '\f009';
}
.key:before {
	content: '\f084';
}
.login16:before {
	content: '\f090';
}
.logout:before {
	content: '\f011';
}
.mail:before {
	content: '\f0e0';
}
.fa-status:before {
	content: '\f0f1';
}
.settings:before {
	content: '\f1de';
}
.menu16:before {
	content: '\f00a';
}
.startup:before {
	content: '\f062';
}
.dia16:before {
	content: '\f0e8';
}
.detach16:before {
	content: '\f127';
}
.attach16:before {
	content: '\f0c1';
}
.prov:before {
	color: seagreen;
	content: '\f0d0';
}
.lock:before {
	content: '\f023';
}
.bookmark16:before {
	content: '\f02e';
}
.del16:before {
	content: '\f146';
}
.add16:before {
	content: '\f0fe';
}
.fw16:before {
	color: cadetblue;
	content: '\f06d';
}
.alert16:before {
	color: orange;
	content: '\f071';
}
.metric16:before {
	color: sandybrown;
	content: '\f121';
}
.chart16:before {
	color: sandybrown;
	content: '\f201';
}
.report16:before {
	color: sandybrown;
	content: '\f200';
}
.values_to_filter:before {
	content: '\f112';
}
.clear16:before {
	content: '\f1f8';
}
.invert16:before {
	content: '\f042';
}
.columns:before {
	content: '\f0db';
}
.csv:before {
	content: '\f019';
}
.csv_disabled:before {
	content: '\f019';
	color: rgba(0, 0, 0, 0.5);
}
.dashlink16:before {
	color: orange;
	content: '\f0c1';
}
.link16:before {
	content: '\f0c1';
}
.refresh16:before {
	content: '\f021';
	display: inline-block;
}
.dns16:before {
	color: #1ab2a3;
	content: '\f0e1';
	font-family: 'Font Awesome 5 Brands';
}
.repl16:before {
	content: '\f362';
}
.segment16:before {
	color: cadetblue;
	content: '\f1dd';
}
.net16:before {
	color: cadetblue;
	content: '\f362';
}
.cluster:before {
	color: cornflowerblue;
	content: '\f1ce';
}
.ip16:before {
	color: cadetblue;
	content: '\f124';
}
.down {
	background: transparent url('../images/down16.png') no-repeat;
	padding: 0 0 0 15px;
	background-size: 12px 12px;
	background-position-y: 2px;
	min-height: 16px;
}
.right {
	background: transparent url('../images/right16.png') no-repeat;
	padding: 0 0 0 15px;
	background-size: 12px 12px;
	background-position-y: 2px;
	min-height: 16px;
}
.right16:before {
	content: '\f0da';
}
.down16:before {
	content: '\f0d7';
}
.cd16:before,
.save16:before {
	color: #949413;
	content: '\f0c7';
}
.designer16:before {
	color: #EE5464;
	content: '\f12e';
}
.wf16:before {
	color: palevioletred;
	content: '\f12e';
}
.hv16:before {
	color: cornflowerblue;
	content: '\f0c2';
}
.db16:before {
	content: '\f1c0';
}
.quota16:before {
	color: #949413;
	content: '\f1b2';
}
.diskgroup:before {
	color: #949413;
	content: '\f009';
}
.array:before {
	color: #949413;
	content: '\f00a';
}
.hd16:before {
	color: #949413;
	content: '\f1c0';
}
.pkg16:before {
	color: #CC9966;
	content: '\f1b3';
}
.complog:before {
	color: #EE5464;
	content: '\f1da';
}
.batchs16:before {
	content: '\f085';
}
.log16:before {
	content: '\f1da';
}
.bill16:before {
	content: '\f0d6';
}
.dockertag16:before {
	color: #27b8e8;
	content: '\f02b';
}
.tag16:before {
	color: darkcyan;
	content: '\f02b';
}
.cpu16:before {
	color: cornflowerblue;
	content: '\f2db';
}
.na:before {
	content: '\f0c8';
	color: lightgray;
}
.hw16:before {
	color: cornflowerblue;
	content: '\f2db';
}
.mem16:before {
	color: cornflowerblue;
	content: '\f0c8';
}
.obs16:before {
	color: cornflowerblue;
	content: '\f1b8';
}
.os16:before {
	color: cornflowerblue;
	content: '\f268';
	font-family: 'Font Awesome 5 Brands';
}
.fixable16 {
	background: transparent url('../images/fixable16.png') no-repeat;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.safe16:before {
	color: #EE5464;
	content: '\f023';
}
.rset16:before {
	color: #df3d4e;
	content: '\f1b2';
}
.comp16:before {
	color: #EE5464;
	content: '\f140';
}
.ok:before {
	content: '\f00c';
	color: green;
}
.compstatus:before {
	color: #EE5464;
	content: '\f00c';
}
.check16:before {
	color: green;
	content: '\f00c';
}
.admin:before {
	content: '\f007';
	color: gold;
}
.guy16:before {
	color: salmon;
	content: '\f007';
}
.admins16:before {
	content: '\f0c0';
	color: gold;
}
.privilege16:before {
	color: goldenrod;
	content: '\f0a3';
}
.resp16:before {
	color: goldenrod;
	content: '\f0c0';
}
.guys16:before {
	color: salmon;
	content: '\f0c0';
}
.app16:before {
	color: #cc1377;
	content: '\f069';
}
.node_env16:before {
	color: cornflowerblue;
	content: '\f24d';
}
.svc_env16:before {
	color: seagreen;
	content: '\f24d';
}
.resource:before {
	color: seagreen;
	content: '\f292';
}
.svcinstance:before {
	color: seagreen;
	content: '\f042';
}
.svc:before {
	color: seagreen;
	content: '\f111';
}
.svc-c:before {
	content: '\f111';
	color: #D4E5CA;
}
.help:before {
	content: '\f059';
}
.nok:before {
	content: '\f00d';
	color: red;
}
.node16:before {
	color: cornflowerblue;
	content: '\f233';
}
.drp16:before {
	content: '\f1e2';
}
.key16 {
	background: transparent url('../images/key16.png') no-repeat;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.frozen16 {
	background: transparent url('../images/frozen16.png') no-repeat;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.action_toc_16 {
	background: transparent url('../images/action_toc_16.png') no-repeat;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.action_sync_16:before {
	content: '\f362';
	color: orange;
}
.action_stop_16:before {
	content: '\f063';
	color: #EE5464;
}
.action_stonith_16 {
	background: transparent url('../images/action_stonith_16.png') no-repeat;
	padding: 0 0 0 20px;
	min-height: 16px;
}
.action_start_16:before {
	content: '\f062';
	color: green;
}
.action_restart_16:before {
	content: '\f021';
	color: green;
}
.action_switch_16:before {
	content: '\f061';
	color: green;
}
.www16:before {
	content: '\f0ac';
}
.gear16:before {
	content: '\f013';
	color: lightgray;
}
.mod16:before {
	color: #EE5464;
	content: '\f013';
}
.action16:before {
	color: seagreen;
	content: '\f013';
}
.file16:before {
	content: '\f15b';
}
.edit16:before {
	content: '\f303';
}
.edit:before {
	content: '\f303';
}
.pwr:before {
	color: cornflowerblue;
	content: '\f0e7';
}
.time16:before {
	content: '\f017';
	font-weight: 400;
}
.filters:before,
.filter16:before {
	content: '\f0b0';
}
.loc:before {
	color: cornflowerblue;
	content: '\f041';
}
.search16:before {
	content: '\f002';
}
.avail16:before {
	color: seagreen;
	content: '\f21e';
}
.api:before {
	content: '\f121';
}
.keyboard:before {
	content: '\f11c';
}
.dockertags16:before {
	color: #27b8e8;
	content: '\f02c';
}
.fa-tags:before {
	color: darkcyan;
	content: '\f02c';
}
.modset16:before {
	color: #d32436;
	content: '\f085';
}
.actions:before {
	color: seagreen;
	content: '\f085';
}
.patch:before {
	color: #CC9966;
	content: '\f1b2';
}
.folder-closed:before {
	content: '\f07b';
}
.nologo16 {
	padding: 0 0 0 20px;
}
.nologo48 {
	padding: 0 0 0 52px;
}
.api48 {
	background: transparent url('../images/api48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.tag48 {
	background: transparent url('../images/tag48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.alert48 {
	background: transparent url('../images/alert48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.obs48 {
	background: transparent url('../images/obs48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.filter48 {
	background: transparent url('../images/filter48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.drp48 {
	background: transparent url('../images/drp48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.prov48 {
	background: transparent url('../images/prov48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.guys48 {
	background: transparent url('../images/guys48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.stats48 {
	background: transparent url('../images/stats48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.billing48 {
	background: transparent url('../images/billing48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.rsetattach48 {
	background: transparent url('../images/rsetattach48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.modsetattach48 {
	background: transparent url('../images/modsetattach48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.log48 {
	background: transparent url('../images/log48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.wf48 {
	background: transparent url('../images/wf48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.key48 {
	background: transparent url('../images/key48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.logout48 {
	background: transparent url('../images/logout48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.svc48 {
	background: transparent url('../images/svc48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.cd48 {
	background: transparent url('../images/cd48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.edit48 {
	background: transparent url('../images/edit48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.question48 {
	background: transparent url('../images/question48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.action48 {
	background: transparent url('../images/action48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.comp48 {
	background: transparent url('../images/comp48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.parent48 {
	background: transparent url('../images/folder48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.dns48 {
	background: transparent url('../images/dns48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.folderoracle48 {
	background-image: url('../images/oracle48.png'),url('../images/folder48.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 52px;
}
.folderapache48 {
	background-image: url('../images/apache48.png'),url('../images/folder48.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 52px;
}
.s_net48 {
	background: transparent url('../images/net48.png') no-repeat left center;
	width: 48px;
}
.s_filter48 {
	background: transparent url('../images/filter48.png') no-repeat left center;
	width: 48px;
}
.s_svc48 {
	background: transparent url('../images/svc48.png') no-repeat left center;
	width: 48px;
}
.s_node48 {
	background: transparent url('../images/node48.png') no-repeat left center;
	width: 48px;
}
.s_disk48 {
	background: transparent url('../images/disk48.png') no-repeat left center;
	width: 48px;
}
.s_guy48 {
	background: transparent url('../images/guy48.png') no-repeat left center;
	width: 48px;
}
.s_guys48 {
	background: transparent url('../images/guys48.png') no-repeat left center;
	background-size: 40px 40px;
	width: 48px;
}
.folder48 {
	background: transparent url('../images/folder48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.net48 {
	background: transparent url('../images/net48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.pkg48 {
	background: transparent url('../images/pkg48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.svc48 {
	background: transparent url('../images/svc48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.node48 {
	background: transparent url('../images/node48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.disk48 {
	background: transparent url('../images/disk48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.guy48 {
	background: transparent url('../images/guy48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.completed48 {
	background: transparent url('../images/completed48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.reject48 {
	background: transparent url('../images/reject48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.disk48 {
	background: transparent url('../images/disk48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.backup48 {
	background: transparent url('../images/backup48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.addnode48 {
	background: transparent url('../images/addnode48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.axway48 {
	background: transparent url('../images/axway48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.apache48 {
	background: transparent url('../images/apache48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.tomcat48 {
	background: transparent url('../images/tomcat48.png') no-repeat left center;
	padding: 0 0 0 52px;
}
.oracle48 {
	background: transparent url('../images/oracle48.png') no-repeat left center;
	padding: 0 0 0 52px;
}

.action_q_widget {
	float: right;
}
a.search-link {
	color: gray !important;
}
a.search-link:hover {
	color: inherit;
}
.search-section-icon {
	width: 1.7em;
	color: gray;
}
.search {
	padding-right:0.2em;
	padding-left:0.5em;
}
.searchidle > input {
	background-color: #292b2c;
	background-size: 14px;
	background-position-y: 4px;
	transition: 0.2s all ease-in-out;
}
.searchidle > input:focus {
	background-color: #292b2c;
	transition: 0.2s all ease-in-out;
	outline: none;
}
.search > input {
	color: lightgray;
	width: 9rem;
	height: 2rem;
	padding: 0 0.6em;
	border: 1px solid #666;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-appearance: none;
}
.search > input:focus  {
	width: 20rem;
	outline: none;
	border: 1px solid #ccc;
}
.searching > input {
	background-color: #292b2c;
	animation: searching 1s infinite linear;
}
@keyframes searching {
  0% {
    border: 1px solid #ccc;
  }
  50% {
    border: 1px solid #666;
  }
  100% {
    border: 1px solid #ccc;
  }
}
.search_selector {
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
}
.search_selector > button {
	background: none;
	color: lightgray;
	border: 0 solid white;
	border-bottom-width: 3px;
	border-radius: 0;
	flex-grow: 1;
	cursor: pointer;
}
.search_selector_selected {
	color: white !important;
	font-size: 1.3em;
}
.search > * > menu_section > table {
	padding-bottom: 0.4em;
}
.search td > p {
	white-space: nowrap;
	margin-bottom: 0;
}
.search img {
	vertical-align: top;
	padding-right: 0.2em;
	padding-top: 0.2em;
}
.search_entry:hover {
	background-color: #252525;
}

.action_q_widget a {
	margin-top: 0.5em;
	white-space: nowrap;
}
.iconlist {
	font-spacing: 0.2em;
	white-space: nowrap;
}
.end {
	padding-left: 0.2em;
}
.end > input {
	background: white url('../images/end16.png') no-repeat;
	color: black;
	width: 10em;
	padding-left: 18px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: 0;
	-webkit-appearance: none;
	position: relative;
	top: -2px;
}

.begin {
	padding-left: 0.2em;
}
.begin > input {
	background: white url('../images/begin16.png') no-repeat;
	color: black;
	width: 10em;
	padding-left: 18px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: 0;
	-webkit-appearance: none;
	position: relative;
	top: -2px;
}

.filter {
	padding-left: 0.2em;
}
.filter > input {
	background: white url('../images/filter16.png') no-repeat;
	color: black;
	width: 20em;
	padding-left: 18px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: 0;
	-webkit-appearance: none;
	position: relative;
	top: -2px;
}

.floatw > a {
	color: black;
}

.highlight_light {
	font-weight: bold;
	color: white;
}
.tag_kill:before {
	content: '\f1f8' !important;
}
.tag_kill {
	background-color: #EE5464 !important;
}
.highlight {
	color: #990000;
	font-weight: bold;
}
.floatw .current_page {
	color: #EE5464;
	font-weight: bold;
}

.menu_item {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color: #DCDDE6;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin: 0.2em;
	float: left;
}


/*
 * table class
 */
.tableo {
	position: relative;
}
.tableo > .table_scroll_zone {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}
.tableo a:hover {
	cursor: pointer;
}
.tl > td, .theader > th {
	padding: 0.75rem;
}
.table_title {
	flex: 1;
	font-size: 1.75rem;
	transition: all 0.3s ease-in-out;
}
.table_refresh {
	color: #990000;
	transition: all 0.3s ease-in-out;
}

.theader {
	color: #555;
	padding: 1px 0 0 0;
	margin-top: 0;
	margin-bottom: 0;
	z-index: 2;
}
.theader > th {
	vertical-align: bottom;
	align-self: flex-end;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: lightgray;
}
th.col-filter-changed {
	border-bottom-color: orange;
	border-bottom-width: thick;
}
th.col-filtered {
	border-bottom-color: #990000;
	border-bottom-width: thick;
}
th.col-filtered-volatile {
	border-bottom-color: #2d2d2d;
	border-bottom-width: thick;
}

div.col-filter-changed {
	color: orange;
	font-weight: bold;
}
div.col-filtered {
	color: #990000;
	font-weight: bold;
}
div.col-filtered-volatile {
	color: #2d2d2d;
	font-weight: bold;
}

.clickable:hover {
	cursor: pointer;
}

.forms {
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

.pdf:before {
	color: #EE5464 !important;
	content: '\f1c1';
}
.link:hover {
	cursor: pointer;
	color: #EE5464 !important;
}

div.formentry {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	cursor: pointer;
	display: flex;
	padding: 0.8rem;
	flex: 1 0 20rem;
	margin: 0.5rem;
	background: rgb(252,252,252);
	border: 1px solid lightgray;
}
div.formentry.form_folder {
	background: rgb(255,251,247);
}
.formentry:hover,.formentry.form_folder:hover {
	background-color: #f6f6f0;
}
.formentry > div:first-child {
	width: 64px;
	min-height: 48px;
	display: inline-block;
	align-self: center;
	font-size: 36px;
	background-position-x: center;
	text-align: center;
}
.formentry > div:last-child {
	display: inline-block;
	align-self: center;
}

.perf_plot {
	flex: 1 1 600px;
	margin: 0.5em 0;
}

.nowrap {
	white-space: nowrap;
}

.right_click_menu > table {
	width: 100%;
	border-collapse: separate;
}
.right_click_menu {
	word-break: break-word;
}

.right_click_menu td {
	text-align: center;
	height: 2.5rem;
	border: 1px solid rgb(245,245,245);
	border-radius: 4px;
}

.right_click_menu td:hover {
	text-align: center;
	cursor: pointer;
	background: #2d2d2d;
	color: whitesmoke;
}

.action_queue {
	width: 100%;
	display: none;
	max-height: 150px;
	overflow: auto;
	background: white;
}
.ax_form li {
	list-style: none;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ax_form .highlight {
	text-decoration: none;
	font-weight: inherit;
	color: inherit;
}
.ax_form ul {
	width:31em;
	columns:2 15em;
	-webkit-columns:15em 2;
	-moz-column-width:15em;
	-moz-column-count:2;
}
.xset ul li {
	list-style: none;
}
.xset > ul > li {
	font-weight: bold;
}
.modname {
	font-weight: normal;
	font-family: monospace;
	list-style: none;
}

.postit {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	min-height: 1em;
	border-radius: 4px;
	padding: 1.5em;
	outline: 1px solid #eee;
	background-color: rgb(252,252,252);
	overflow: auto;
}
.postit table {
	width:100%;
}
.postit input,textarea {
	width:100%;
}

.syntax_blue {
	color: blue;
}
.syntax_green {
	color: green;
}
.syntax_red {
	color: red;
}

.bgorange {
	background-color: orange;
}
.bgred {
	background-color: #990000;
	color: whitesmoke;
}
.bgdarkred {
	background-color: #660000;
}
.bggreen {
	background-color: #009900;
}
.bgblack {
	background-color: #2d2d2d;
}

.alertorange:before {
	content: '\f0c8';
	color: orange;
}
.alertred:before {
	content: '\f0c8';
	color: #990000;
}
.alertdarkred:before {
	content: '\f0c8';
	color: #660000;
}
.alertgreen:before {
	content: '\f0c8';
	color: #009900;
}
.alertblack:before {
	content: '\f0c8';
}


.table0 {
	display:table;
}

.table0 > div {
	display:table-row;
}

.table0 > div > div {
	display:table-cell;
	padding:0 0.5em 0 0;
	vertical-align: middle;
	height: 1.5em;
}

.bluer {
	color: #333388;
}

.jqplot-highlighter-tooltip,.jqplot-canvasOverlay-tooltip {
	background: rgba(255,255,255,0.6) !important;
	border: 0px !important;
	border-radius: 3px;
}
.jqplot-image-button {
	float: right;
	position: relative;
}

div.jqplot-image-container {
	display: none;
	background-color: #fff;
	border: 1px solid #999;
	display: inline-block;
	margin-top: 25px;
}

div.jqplot-image-container-header {
	font-size: 1.0em;
	font-weight: bold;
	padding: 5px 15px;
	background-color: #eee;
}

div.jqplot-image-container-content {
	padding: 15px;
}

a.jqplot-image-container-close {
	float: right;
}

.jqplot-table-legend {
	max-width: 10em;
	border: 0px !important;
}
.jqplot-table-legend-swatch-outline {
	border: 0px !important;
}

.slider-selection-blue {
	background-image: linear-gradient(to bottom,#d9e9f9 0,#d5e5f5 100%);
}
.slider-selection-red {
	background: #c9302c;
}

.lighter {
	color: #999999;
}

.batchs {
	padding: 1em;
	text-align: left;
}
.batchs li {
	list-style: none;
}

.licenses {
	padding: 1em;
}
.licenses h1 {
	text-align: left;
}

.licenses li {
	list-style: none;
	text-align: justify
}

.searchtab {
	box-shadow: 0 0 20px #555;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 20px 0;
	padding-bottom: 4px;
}
.searchtab > div {
    background: white;
    color: initial;
    border-radius: 6px;
}
.searchtab > table {
	width: 100%;
}
.searchtab > table > tbody {
	color: black;
	background: white;
}
div.searchtab {
	color: black;
	background: white;
}
.ui-combobox {
	position: relative;
	display: inline-block;
	padding-right: 30px;
}

.ui-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}

.ui-combobox-input {
	margin: 0;
	padding: 0;
}

.keyboard {
	white-space: nowrap;
	margin: 0.3em;
}

/* provisioning template selector */
.template_selector input[type=radio] {
	display: none;
}
.template_selector input + label > div {
	padding: 0.3em;
}
.template_selector label {
	width: 100%;
}
.template_selector form {
	padding: 0.3em 0 0.3em 0;
}
.template_selector .template_beautified {
	margin-top: 0.8em;
}
.template_selector .template_comment {
	padding-top: 0.1em;
	padding-left: 0.6em;
	margin: 0 0 1px 0;
	color: #333;
	font-size: 90%;
	font-weight: normal;
}
.template_selector input + label > div {
	background: rgba(0, 0, 0, 0.1);
}
.template_selector input:checked + label > div {
	background: cadetblue;
}

/* styled checkbox */
.ocb {
	width: 14px;
	margin: 14px auto;
	position: relative;
}
input.ocb {
	width: 0;
	visibility: hidden;
	position: fixed;
}


.ocb + label {
	cursor: pointer;
	width: 16px;
	height: 16px;
	top: 2px;
	border-radius: 4px;
	border: 1px solid lightgray;
	position: relative
}

.ocb + label:after {
	content: '\f00c';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	min-width: 14px;
	height: 14px;
	background: transparent;
	border: none;
	color: rgba(0,0,0,0);
	padding: 1px;
	position: relative;
	top: -1px;
	left: 0px;
}

.ocb + label:hover::after {
	content: '\f00c';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	min-width: 14px;
	height: 14px;
	color: rgba(0,0,0,0.3);
	border: none;
	padding: 1px;
	position: relative;
	top: -1px;
	left: 0px;
}

input[type=checkbox].ocb:checked + label:after {
	content: '\f00c';
	width: 14px;
	height: 14px;
	color: black;
	border: none;
	padding: 1px;
	position: relative;
	top: -1px;
	left: 0px;
}

input[disabled].ocb + label {
	background: rgba(0,0,0,0.25);
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sectiontitle {
	font-size:26px;
}

.section {
	overflow:hidden;
	padding-bottom: 5px;
	padding-top : 0.5em;
	/*border-bottom: thin solid gray;*/
	margin-left:1em;
	clear:both;
}

.link_ta_sub:focus {
	background: white;
}
textarea.link_ta_sub {
	background: white;
	/*border: 0;*/
}

.ql {
	vertical-align: middle;
	font-size: 18px;
}

.button_div {
	cursor: pointer;
	//display:table-cell;
	vertical-align:middle;
	background-color: rgba(0,0,0,0);
	border: 0;
	border-radius: 3px;
	padding: 0.3rem 1rem;
}

.button_div:focus {
	background-color: rgba(0,0,0,0.01);
	box-shadow: inset 0 0px 1px rgba(0,0,0,0.2), inset 0 0px 1px rgba(0,0,0,0.4);
	border-color: rgba(0,0,0,0);
}
.button_div:hover {
	background-color: rgba(0,0,0,0.02);
	box-shadow: inset 0 0px 1px rgba(0,0,0,0.3), inset 0 0px 1px rgba(0,0,0,0.5);
	border-color: rgba(0,0,0,0);
}
.button_div:active {
	background-color: rgba(0,0,0,0.1);
}
.button_div_active, .button_div.menu_selected {
	box-shadow: inset 0 0px 1px rgba(0,0,0,0.3), inset 0 0px 1px rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.1);
}

.del16_allow:before {
	content: '\f146';
}
.editable-placeholder:after {
	color: #dddddd;
}
.editable-placeholder:hover:after {
	color: black;
}
.editable:after {
	content: '\f303';
	padding-left: 0.3em;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	vertical-align: bottom;
}

.oi {
	background-color: rgba(100,100,100,0.02);
	border-radius: 3px;
	border-width: 1px;
	border-color: rgba(0,0,0,0.1);
	padding: 0.3rem 1rem;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input.oi:focus, textarea.oi:focus {
	background-color: rgba(100,100,100,0.05);
	outline-color: rgba(0,0,0,0.1);
}

textarea.oidefinition {
	box-sizing: border-box;
	padding: 1em;
	font-family: monospace;
	min-height: 30em;
	width: 100%;
	position: relative;
}

.candidates_violation,input.candidates_violation:focus,textarea.candidates_violation:focus,
.mandatory_violation,input.mandatory_violation:focus,textarea.mandatory_violation:focus,
.constraint_violation,input.constraint_violation:focus,textarea.constraint_violation:focus {
	background-color: #fff4f2;
}


.link_white {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-left-color: #AAA;
	border-left-style: solid;
	border-right-color: black;
	border-right-style: solid;
	border-top-color: #AAA;
	border-top-style: solid;
	border-width: 0;
	color: black;
	cursor: default;
	margin: 0;
	padding: 8px;
	vertical-align: baseline;
	text-align: left;
	z-index: 500;
	background-color: white;
	box-shadow: 0 0 20px 2px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width:auto;
	height:auto;
}

div.containertrans {
	border-top: 1px solid #ddc;
	border-left: 1px solid #ddc;
	border-right: 1px solid #eed;
	border-bottom: 1px solid #eed;
	margin:0.2em;
	padding:0.2em;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.vis-item {
	text-align: left !important;
	background-color: #ECF3F5 !important;
	border-color: lightgray !important;
}
.vis-item.vis-selected {
	border-color: #FFC200 !important;
}

.vis-item.red {
	color: white;
	background-color: #FF8080;
	border-color: #EE5464;
}
.vis-item.redlight {
	color: white;
	background-color: #FF6666;
	border-color: #EE5464;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 10px;
}
.timeline-label {
	font-family: sans-serif;
	font-size: 12px;
}
#timeline2 .axis {
	transform: translate(0px,40px);
	-ms-transform: translate(0px,40px); /* IE 9 */
	-webkit-transform: translate(0px,40px); /* Safari and Chrome */
	-o-transform: translate(0px,40px); /* Opera */
	-moz-transform: translate(0px,40px); /* Firefox */
}

div.designer {
	text-align:left;
	display: flex;
	height: 100%;
}
.casep {
	cursor: col-resize;
	width: 0.5em;
	border-left: 1px solid #eee;
}
.cainfo {
	overflow-y:auto;
	padding: 1rem;
	flex: 1;
}
.catree {
	overflow-x: auto;
	overflow-y: auto;
	padding: 0.5em;
	height: 100%;
}
.casearch {
}

.reports_section {
	margin: 1%;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 10px;
	max-width: 100%;
}
div.reports_data {
	padding: 1rem;
	max-width: calc(100% - 15rem)
}
div.reports_selector {
	overflow: hidden;
	background-color: white;
	overflow-y: auto;
	max-width: 15rem;
	border-right: 1px solid rgba(220, 220, 220, 0.3);
	padding-bottom: 1rem;
}
div.reports_folder {
	max-width: 3rem;
	border-right: 1px solid rgba(220, 220, 220, 0.3);
}

.param {
	font-family: monospace, courier;
	background: #444;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

pre.api_doc {
	white-space: pre-wrap;
	background: #333;
	color: lightgrey;
	box-shadow: #333 1px 1px 20px 0;
	border-radius: 4px;
	padding: 1em;
	margin: 0.5em;
}

.api_handler .param {
	top: 0.3em;
	position: relative;
}
.api_handler td {
	vertical-align: top;
}

[section=paths] > tbody > tr:nth-child(even) {
	background-color: #fafafa;
}

.diff_table > tbody > tr.diff_line:nth-child(even) {
	background-color: #fafafa;
}

.generic_selector_object {
	padding: 0.2em 0.5em 0.2em 0.5em;
	display: inline-block;
}
.generic_selector_selected {
	background-color: cadetblue;
}

.container_head > table {
	border-collapse: initial;
	border-spacing: 0.3em;
	border-spacing: 0 0.6em;
}
.postit div.toggle,.container_head div.toggle {
	height: 2.15em !important;
	width: 100% !important;
}
.form_vertical td,.form_vertical th {
	display: block;
}

.group_hidden_menu {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
}
.group_hidden_menu > h2 {
	flex: 0 0 100%;
}
.group_hidden_menu > div {
	flex: 0 0 28rem;
}
.group_hidden_menu label {
	align-self: center;
	margin: 1em;
}
.group_hidden_menu .menu_icon {
	color: black;
}
.group_hidden_menu .menu_title {
	color: black;
}
.group_hidden_menu .menu_entry {
	padding: 0.5em;
	width: 18em;
}
.group_hidden_menu .menu_entry:hover {
	background: none;
}

.user_groups {
	width: 100%;
}
.user_groups > div > div {
	padding: 1em;
	word-wrap: break-word;
	word-break: break-word;
}
.user_groups div {
	width: 13em;
	display: inline-flex;
	align-self: center;
}
.user_groups label {
	align-self: center;
}

/* for svc avail timeline */
.box-orange {
	background-color: orange !important;
	min-width: 5px;
}
.box-lightorange {
	background-color: #ffecc8 !important;
	min-width: 5px;
}
.box-lightgreen {
	background-color: #e4f9e4 !important;
	min-width: 5px;
}
.box-green {
	background-color: #009900 !important;
	min-width: 5px;
}
.box-gray {
	background-color: #666666 !important;
	min-width: 5px;
}
.box-lightred {
	background-color: #fbe4e6 !important;
	min-width: 5px;
}
.box-red {
	background-color: #990000 !important;
	min-width: 5px;
}

.text-orange {
	color: orange;
}
.text-lightred {
	color: #dd0000;
}
.text-red {
	color: #990000;
}
.text-green {
	color: #009900;
}
.text-gray {
	color: #666666;
}
.icon-orange:before {
	color: orange;
}
.icon-red:before {
	color: #990000;
}
.icon-green:before {
	color: #009900;
}
.icon-gray:before {
	color: #666666;
}
.icon-black:before {
	color: black !important;
}
.icon-lightgray:before {
	color: #eeeeee;
}
.icon-blue:before {
	color: cornflowerblue;
}

.nocolor:before {
	color: inherit;
}

.fset_designer_item {
	padding: 1em;
	margin: 0.2em;
	background-color: rgba(0,0,0,0.05);
}
.fset_designer_adder > span {
}
.fset_designer_adder {
	padding: 1em;
	margin: 0.2em;
	background-color: rgba(0,0,0,0.02);
}
.fset_designer_placeholder {
	height: 3em;
	margin: 0.2em;
	background-color: rgba(0,0,0,0.1);
}
.fset_designer_item > span, .fset_designer_adder > span {
	padding: 0 1em;
}

.tab_display {
	padding: 0;
	overflow-x: auto;
}

.checklist > div {
	padding: 0.3em 0;
}
.menu_flash {
	flex: 1 1;
	cursor: pointer;
}

.tabs th {
	text-transform: capitalize;
}
.tabs > .otools {
	color: whitesmoke;
}
.otools > * {
	position: static;
	padding: 0.2em 0.3em;
	display: inline-block;
}
.otools {
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	cursor: pointer;
	display: none !important;
	padding: initial !important;
	width: initial !important;
	z-index: 1;
}
.otooled:hover > .otools {
	display: block !important;
}

.template_form_line > div {
	font-weight: bold;
}
.template_beautified > pre {
	max-height: 30em;
	overflow-y: auto;
}

.log_out {
	border-left: 0.5em solid green;
	padding-left: 1em;
}
.log_err {
	border-left: 0.5em solid red;
	padding-left: 1em;
}
.cursor-help {
	cursor: help;
} 

.nodata {
	width: 100%;
	text-align: center;
	background-color: #fafaf4;
	line-height: 20em;
	color: darkgray;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
span.spinner_text {
    vertical-align: bottom;
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  padding-right: 0.3em;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 6s steps(90, end) infinite;
}

@media screen and (max-width:960px) and (orientation: landscape) {
	body {
		-webkit-text-size-adjust: 70%;
	}
}

/* begin small screen */
@media all and (max-width:640px) {
	body {
		font-size: 12pt;
	}
	.theader {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.hide_text_on_small:before {
		margin-right: 0;
		font-size: initial;
	}
	.hide_text_on_small:after {
		font-size: initial;
		content: '\00a0';
	}
	.hide_text_on_small {
		font-size: 0;
	}
	.search > input {
		width: 5em;
	}
	.tab li {
		font-size: 0px;
		border: 1px solid transparent;
	}
	.tab li.closetab {
		font-size: initial;
	}
	.tab li:before {
		font-size: initial;
		margin: 0px;
	}
	.numeric {
		text-align: inherit;
	}
}
/* end small screen */


@media print {
	.header,.footer,.reports_folder,.reports_selector {
		display: none;
	}
	.reports_section {
		page-break-inside: avoid;
	}
}
