@charset "UTF-8";

.asset_tab {
  display: inline-table;
}

.asset_tab > div {
  padding: 1em;
  width: 24em;
  display: inline-block;
}

.asset_tab > div > table > tbody > tr > td {
  font-weight: bold;
}

.asset_tab > div > table > tbody > tr > th {
  font-weight: normal;
  width: 10em;
}

.line {
  position: relative;
  z-index: 1;
  padding-bottom: 0.2em;
  border-bottom: none;
}
.line:before {
  border-top: 1px solid grey;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.line > span {
  background: #fff;
  padding-right: 0.5em;
  margin-left: 0;
}

.groups > span {
  padding: 0.2em 0.5em 0.2em 0px;
  cursor: pointer;
}
.groups > span:hover {
  color: cadetblue;
}

.panselector10 {
  max-height: 10em;
  overflow-y: scroll;
}

.ui-menu {
  max-height: 80%;
  overflow-y: scroll;
}
.corner:hover {
  background-image: url("corner8.png");
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.group_hidden_menu_entry {
  display: table;
  height: 4em;
  width: 20em;
  margin: 0.2em;
  float: left;
}
.group_hidden_menu_entry > input {
  margin-top: 0.2em;
}
.group_hidden_menu_entry > div {
  vertical-align: top;
  display: table-cell;
  width: 18em;
}
.group_hidden_menu_entry > div > div {
  height: 48px;
}
.user_group {
  display: table;
  height: 3em;
  width: 12em;
  margin: 0.2em;
  float: left;
}
.user_group > input {
  margin-top: 0.2em;
}
.user_group > div {
  vertical-align: top;
  display: table-cell;
  width: 10em;
}

.scroll_left {
  width:1em;
  position:absolute;
  left:0;
  z-index:1000;
  display:none;
  background: -webkit-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
  background: -webkit-linear-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
  background: -moz-linear-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
  background: -ms-linear-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
  background: -o-linear-gradient(left, rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
  cursor: pointer;
}
.scroll_right {
  width:1em;
  position:absolute;
  right:0;
  z-index:1000;
  display:none;
  background: -webkit-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
  background: -webkit-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
  background: -moz-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
  background: -ms-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
  background: -o-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
  cursor: pointer;
}

.tl {
  height: 2em;
}

.tools {
  background: rgb(95, 158, 160);
  cursor: context-menu;
  width: 16px;
}

.chart {
    text-align: center;
}

.datetime {
  white-space: nowrap;
}

.form_instance_count {
    float: left;
}

.form_instance_count > div {
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
    text-align: center;
    border-radius: 1em;
    background: black;
    color: white;
    font-weight: bold;
}

.highlight_input1,
.highlight_input {
    border: 2px solid red;
}

.theader_slim {
    background-color: #e0e1cd;
    min-height: 5px;
}

.header_logo {
  float: right;
  top: 5px;
  position: relative;
  padding-right: 1em;
}
.header_logo a {
  color: #aaaaaa;
}
.header_logo a:hover {
  text-decoration: none;
  color: white;
}

img {
    border: 0;
}

.logo {
    vertical-align: middle;
    padding-right: 0.5em;
    height: 16px;
    width: 16px;
} 

.index_grid:hover {
    background-color: #ffc;
}

.current_page {
    color: #990000;
    font-weight: bold;
}

.current_page:hover {
    text-decoration: none;
}

.tag_input {
    border: 0px;
    background-color:#cdcdcd;
    width:5em;
}
.tag_input:focus {
    background-color:#cdcdcd;
}

.tag_add {
    line-height: 1.5em;
    margin: 0.1em;
    font-weight: bold;
    font-size: 85%;
    text-align: center;
    color: white;
    border-radius:4px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
    background-color:#cdcdcd;
    padding-left:20px;
    padding-right:20px;
    padding-top:0.1em;
    padding-bottom:0.1em;
    overflow:hidden;
    cursor: pointer;
}

.tag_attached {
    background-color:#008099;
}
.tag_candidate {
    background-color:#cdcdcd;
    cursor: pointer;
}
.tag_create, .tag_create:focus {
    background-color:darkred;
}
.tag_detach1, .tag_detach1:focus {
    background-color:#00a0b9;
}
.tag_detach2, .tag_detach2:focus {
    background-color:#60c0d9;
}
.tag_detach3, .tag_detach3:focus {
    background-color:#a0e0f9;
}

.tag_del {
    background-image:url('whitex.png');
    background-repeat:no-repeat;
    cursor: pointer;
}

.tag {
    line-height: 1.5em;
    margin: 0.1em;
    font-weight: bold;
    font-size: 85%;
    text-align: center;
    color: white;
    border-radius:4px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
    padding-left:20px;
    padding-right:20px;
    padding-top:0.1em;
    padding-bottom:0.1em;
    overflow:hidden;
}

.boxed_small {
    font-weight: bold;
    font-size: 85%;
    text-align: center;
    color: white;
    border-radius:4px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
    background-color:#008099;
    padding-left:0.2em;
    padding-right:0.2em;
    padding-top:0.1em;
    padding-bottom:0.1em;
    overflow:hidden;
}

.boxed {
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
    background-color:#e0e1cd;
    padding-left:0.8em;
    padding-right:0.8em;
    padding-top:0.4em;
    padding-bottom:0.4em;
    overflow:hidden;
}

.box {
    background-color:#e0e1cd;
    padding:0;
    overflow:hidden;
}

.boxtlc, .boxtrc, .boxblc, .boxbrc {
    background-color:transparent;
    background-image:url('corners.gif');
    background-repeat:no-repeat;
    height:10px;
    width:10px;
    padding:0;
    border:0 none;
    margin:0;
}

.boxblc {
    background-position:0 -10px;
    float:left;
}

.boxbrc {
    background-position:-10px -10px;
    float:right;
}

.boxtrc {
    background-position:-10px 0;
    float:right;
}

.boxtlc {
    background-position:0 0;
    float:left;
}

.action {
    white-space: nowrap;
}

.metaaction {
    font-weight: bold;
    white-space: nowrap;
}

.menucell {
    padding:0px;
    padding-left:5px;
    vertical-align: bottom;
}

.ack_1 {
    text-decoration:line-through;
}

.ack {
    display: none;
    background: #000000;
    color: #ffffff;
}

.hidden {
    display: none;
}

.toolbar {
    background: transparent;
}

.invisible_div {
    visibility: hidden;
}

.cell1 {
    background: #fafaf4;
}

.cell2 {
}

.cell3 {
    background: white;
}

.h:hover {
    background-color: #d8eee7;
}

.boxed_status {
    width: 4em;
}

.boxed_status_n\/a, .boxed_status_undef {
    background-color: #666666;
}

.boxed_status_up, .boxed_status_ok, .boxed_status_stdby_up {
    background-color: #009900;
}

.boxed_status_down, .boxed_status_err {
    background-color: #990000;
}

.boxed_status_stdby_down {
    background-color: #990000;
    color: rgba(77,77,00,0.4);
}

.boxed_status_warn {
    background-color: #777700;
}

.status_n\/a, .status_undef {
    color: #666666;
}

.status_up, .status_ok, .status_stdby_up {
    color: #009900;
}

.status_down, .status_err {
    color: #990000;
}

.status_stdby_down {
    color: #990000;
    background-color: rgba(77,77,00,0.4);
}

.status_warn {
    color: #777700;
}

.status_t {
    text-align: center;
}

.aggstatus {
    border-bottom: solid 1px #dddddd;
    text-align: center;
    font-weight: bold;
}

body, table, tr, td, th, thead, tfoot, label, h1, h2, h3, h4, h5, h6, p, ul, li, ol, pre, input, button, textarea, select {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
}

select {
    border: 1px solid #dddddd;
    background: white;
    overflow: hidden;
    color: black;
}

body {
    background: transparent;
    width:100%;
    overflow-x: hidden;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

label {
    text-align: left;
    vertical-align: middle;
    padding: 0em;
}

th,
td {
    text-align: left;
    vertical-align: middle;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

th,
thead td,
tfoot td {
    font-weight: bold;
}

b {
  font-weight: bold;
}

.b {
  font-weight: bold;
}

i {
  font-style: italic;
}

pre {
    font-size: 0.8em;
    font-family: monospace, courier;
    padding-left: 0em;
    padding-top: 0em;

    /* for status_log wrapping */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.pre {
    font-size: 0.8em;
    font-family: monospace, courier;
    padding-left: 0em;
    padding-top: 0em;

    /* for status_log wrapping */
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.err {
    color: red;
}

tt {
    font-size: 0.8em;
    font-family: monospace,
courier;
}

h1 {
    padding-top: 0.5em;
    font-size: 2em;
}

h2 {
    padding-top: 0.4em;
    font-size: 1.5em;
}

h3 {
    padding-top: 0.3em;
    font-size: 1.25em;
    font-style: italic;
}

p {
    padding-top: 0.2em;
    text-align: justify;
}

ol,
ul {
    padding-top: 0.3em;
    padding-left: 1.5em;
}

label {
    font-weight: bold;
}

a {
    cursor: pointer;
    color: #000000;
}

.a {
    cursor: pointer;
    color: #000000;
}

.a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.a:hover {
    //text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

input,
textarea {
    border: 1px solid #dddddd;
    padding: 0px 0.4em;
}

button {
    background: url('menu.jpg');
}

input:focus,
textarea:focus {
    background: rgb(255, 248, 239);
}

input[readonly],
textarea[readonly] {
    background: #EEEEEE;
}

html {
    font-size: 10pt;
    font-family: Arial, Sans, Georgia, Times new Roman;
    color: #333333;
    background: url('background.gif') repeat-x #3A3A3A;
}

.flash {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    opacity: 1.00;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    clear: both;
    color: white;
    font-size: 11pt;
    cursor: pointer;
    background: cadetblue;
}

html>body .flash {
    position: fixed;
}

div.error {
    background-color: red;
    color: white;
    padding: 3px;
}

.menu_section a {
  margin-right: 1em;
  color: white;
}
.menu_section > span > table {
  width: 100%;
}
.menu_selected {
  background: #3f3f3f;
}
.menu_entry:hover {
  background: #3f3f3f;
}
.menu_entry > a {
  text-decoration: none;
}
.menu_entry > a > div {
  padding-top: 10px;
  padding-bottom: 3px;
  height: 48px;
  vertical-align: middle;
}
.menu_entry > a > div > div {
  font-size: 0.8em;
  white-space: normal;
}
.menu_section > a {
  text-decoration: none;
  height: 70px;
}
.menu {
  left: 0;
  top: 0;
  display: none;
  margin-top: 1.8em;
  position: absolute;
  z-index: 1001;
  width: 100%;
  max-height: 90%;
  background: #2d2d2d;
  box-shadow: black -0px 10px 20px;
  padding-right: 10px;
  overflow-y: scroll;
}
.menu_section {
  padding: 1em;
  font-size: 1.1em;
  clear: both;
  border-top:1px solid #2f2f2f;
}
.menu_entry {
  padding: 1em;
  min-height: 60px;
  float: left;
  //width: 22%;
  width: 15em;
  color: #ccc;
}
.menu_entry * {
  color: #ccc;
}

.warn {
    background-color: yellow;
    color: black;
    padding: 5px;
}

.info {
    background-color: #E5FFE5;
    color: black;
    padding: 5px;
}

.error {
    background-color: red;
    color: white; padding: 5px;
}

.wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.layout {
    width: 100%;
    padding: 0;
    border: 0;
    border-spacing: 0;
    background: #fff;
    z-index: 1;
}

.header {
    background: #2d2d2d;
    color: white;
}

.statusbar {
    background: url('menu.gif');
    border-bottom: 1px #ddf solid;
}

.footer {
    background: #2d2d2d;
    color: #aaa;
    border-top: 1px #ddf solid;
}

.column1 {
    border-right: 1px #ddf solid;
}

.width10em {
    width: 10em;
    background: transparent;
}

.expandable {
    background: transparent;
}

ul.web2py-menu,
ul.web2py-menu > li {
    float: left;
}

ul.web2py-menu {
    margin: 0.2em 0 0 0;
    padding: 0;
    white-space: nowrap;
}
ul.web2py-menu ul,
ul.web2py-menu li,
ul.web2py-menu a
{
    color: #aaaaaa;
    display: block;
    margin: 0;
    padding: 0.1em;
    white-space: nowrap;
}

ul.web2py-menu,
ul.web2py-menu li,
ul.web2py-menu ul
{
    list-style: none;
}

ul.web2py-menu li
{
    position: relative;
    z-index: 1;
}

ul.web2py-menu li:hover
{
    z-index: 999;
}

ul.web2py-menu li:hover > ul
{
    color: #fff;
    display: block;
    position: absolute;
}

ul.web2py-menu-horizontal li
{
    float: left;
    width: auto;
}

ul.web2py-menu li a:link,
ul.web2py-menu li a:hover,
ul.web2py-menu li a:visited,
ul.web2py-menu li a:active
{
    text-decoration: none;
}

ul.web2py-menu li a:active
{
    color: #fff;
    background-color: #c00;
}

ul.web2py-menu > li
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

ul.web2py-menu li:hover,
ul.web2py-menu li.sfhover
{
    color: #fff;
}

ul.web2py-menu li a:hover
{
    color: #fff;
}

ul.web2py-menu ul
{
    padding: 0.3em;
    padding-left: 0.3em;
    margin-left: -0.5em;
    background-color: #555;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    border-top-right-radius:6px;
   -moz-border-radius-bottomleft:6px;
   -moz-border-radius-bottomright:6px;
   -moz-border-radius-topright:6px;
   -webkit-border-bottom-left-radius:6px;
   -webkit-border-bottom-right-radius:6px;
   -webkit-border-top-right-radius:6px;
}

* html div.web2py-menu-center
{
    position: relative;
    z-index: 1;
}

* html ul.web2py-menu li.sfhover
{
    z-index: 999;
}

* html ul.web2py-menu li.sfhover ul,
* html ul.web2py-menu li li.sfhover ul,
* html ul.web2py-menu li li li.sfhover ul
{
    display: block;
}

/* info */
a.xinfo {
   position: relative;
   color: black;
   text-decoration: none;
}

a.xinfo span {
   display: none; /* on masque l'infobulle */
}

a.xinfo:hover {
   background: none; /* correction d'un bug IE */
   z-index: 500; /* on définit une valeur pour l'ordre d'affichage */
   cursor: help; /* on change le curseur par défaut en curseur d'aide */
}

a.xinfo_shown span {
   z-index: 500; /* on définit une valeur pour l'ordre d'affichage */
   display: inline; /* on affiche l'infobulle */
   position: fixed;
   white-space: nowrap; /* on change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non-désiré */
   top: 30px; /* on positionne notre infobulle */
   left: 20px;
   background: white;
   padding: 3px;
   border: 4px solid grey;
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
}

.panel_move {
   -moz-user-select:none;
    padding-right:10px;
    cursor: move;
    background: orange;
    text-align:right;
}

.panel_close {
   -moz-user-select:none;
    cursor: crosshair;
}

.panel {
   display: none;
   position: fixed;
   background: none; /* bug IE */
   z-index: 500;
}

.panel_shown {
   clear:both;
   z-index: 500;
   display: inline;
   position: absolute;
   white-space: nowrap;
   top: 30px;
   left: 20px;
   background: white;
   border: 4px solid grey;
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
}

.cloud_tag {
   margin: 0.5em;
}

.cloud {
   display: none;
  padding: 0.5em;
}

.cloud_shown {
   display: block;
   text-align: left;
  padding: 0.5em;
}

.menubar {
   padding: 0px;
   display: none; /* on masque l'infobulle */
}

.menubar_shown {
   display: block;
   text-align: left;
}

.menuhandle {
    background:orange;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    font-size: 0.5em;
}

.datatable {
    width:100%;
}

.extraline {
  padding: 0;
}
.extraline > td {
  padding: 0;
}
.extraline > td > table {
  width: 96%;
  box-shadow: 0px 0px 20px 2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 20px
}
.tab {
    background: whitesmoke;
    color: black;
    padding:0px;
    border-radius: 4px 4px 0px 0px;
}
.tab:after {
  content: ".";
  height: 0px;
  display: block;
  clear: both;
}
.tab ul {
    padding:0px;
}
.tab li {
    text-align: center;
    vertical-align: middle;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    cursor: pointer;
    color: black;
    list-style: none;
    float:left;
    border-right: 1px solid #ddd;
}
.tab > ul > li:first-child {
  border-top-left-radius: 4px;
}
.tab > ul > li:last-child {
  border-top-right-radius: 4px;
}

.tab .tab_active {
    box-shadow: 0px -2px darkred inset;
}
.tab .closetab {
    background-color:black;
    color:white;
    border: none;
}

.action_menu ul {
  padding: 0.5em;
}
.action_menu li {
  list-style: none;
}
.action_menu ul>li>ul>li:hover {
  color: cadetblue;
}

.details_row {
}

div.float {
    float: left;
    margin-left:1em;
    margin-right:1em;
}
  
div.float h2 {
    text-align: center;
}

div.container {
    border-top: 1px solid #ddc;
    border-left: 1px solid #ddc;
    border-right: 1px solid #eed;
    border-bottom: 1px solid #eed;
    background-color: #ffe;
    margin:0.2em;
    padding:0.2em;
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
}

div.container > * {
    padding:0.2em;
    vertical-align: middle;
}

div.spacer {
    height: 0px;
    clear: both;
}

div.svcstatus {
    text-align: center;
    display: inline-block;
}

div.svcstatus table,
div.svcstatus tr,
div.svcstatus td {
    padding: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0;
    width: auto;
    text-align: center;
}

.sym {
    border: 3px solid #335;
    margin:0.2em;
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
    text-align: left;
    padding: 0.3em;
    overflow: auto;
    display: block;
}

.sym_headers {
    background-color: #e0e1cd;
    color: black;
    padding: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 0;
}

.sym_inputs {
    background-color: #e0e1cd;
    color: black;
    padding: 0.2em;
    margin: 0.1em;
    margin-top: 0;
}

.sym_highlight {
    border-radius:4px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
    background-color: #DCDDE6;
    padding: 0.2em;
    margin: 0.1em;
}

.sym table {
    border-radius:6px;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
    padding: 0.4em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.sym h3 {
    border-radius:6px;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
    background-color: #DCDDE6;
    padding: 0.4em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.sym_info div {
    padding: 1em;
}

.sym_detail {
    padding: 0em;
    display: none;
    clear: both;
}

div.sym_detail_visible {
    margin: 0.3em;
    padding: 0.3em;
}

.sym_float {
    float:left;
    margin: 0.2em;
    padding: 0.3em;
}

.sym_detail_visible h3 {
    border-radius:6px;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
    background-color: #DCDDE6;
    padding: 0.5em;
}

.numeric {
    text-align: right;
}

.white_float_input {
    max-width: 50%;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-left-color: #AAA;
    border-left-style: solid;
    border-right-color: black;
    border-right-style: solid;
    border-top-color: #AAA;
    border-top-style: solid;
    border-width: 0px;
    color: black;
    cursor: default;
    display: none;
    margin: 0px;
    padding: 8px;
    position: absolute;
    vertical-align: baseline;
    text-align: left;
    z-index: 499;
    background-color: white;
    box-shadow: 0px 0px 20px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.white_float {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-left-color: #AAA;
    border-left-style: solid;
    border-right-color: black;
    border-right-style: solid;
    border-top-color: #AAA;
    border-top-style: solid;
    border-width: 0px;
    color: black;
    cursor: default;
    margin: 0px;
    padding: 8px;
    position: absolute;
    vertical-align: baseline;
    text-align: left;
    z-index: 499;
    background-color: white;
    box-shadow: 0px 0px 20px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.floatw {
    float: right;
    margin-left:0.5em;
    margin-right:0.5em;
}

.login_menu {
    float: left;
    color: white;
}
.login_menu a,
.login_menu ul {
    white-space: nowrap;
    color: #aaa;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.login_menu li,
.login_menu ul {
    list-style: none;
}
.login_menu a:hover {
    text-decoration: none;
    color: #fff;
}
ul.login_menu ul {
    border-top: 1px solid white;
}
.login label {
    color: white;
}

.login {
    z-index: 501;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2em;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #AAA;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #DDD;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #AAA;
    border-top-style: solid;
    border-top-width: 2px;
}
.login h2 {
    width: 100%;
    margin: 0 0 1em 0;
}
.login input {
    color: black;
}

.extraline_marker {
  background-image: url('/init/static/markerup16.png');
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 100%;
}

.common16 {
    background: transparent url('common16.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_vmware {
    background: transparent url('vmware16.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_win {
    background: transparent url('win24.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_aix {
    background: transparent url('aix24.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_opensolaris {
    background: transparent url('opensolaris.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_tru64 {
    background: transparent url('tru64.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_hpux {
    background: transparent url('hpux.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_darwin {
    background: transparent url('darwin.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_solaris {
    background: transparent url('solaris.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_freebsd {
    background: transparent url('freebsd.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os_linux {
    background: transparent url('linux.png') no-repeat;
    background-size: 16px 16px;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.menu16 {
    background: transparent url('menu16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.dia16 {
    background: transparent url('dia16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.detach16 {
    background: transparent url('detach16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.attach16 {
    background: transparent url('attach16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.prov {
    background: transparent url('prov.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.lock {
    background: transparent url('lock.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.bookmark_add16 {
    background: transparent url('bookmark_add16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.bookmark16 {
    background: transparent url('bookmark16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.add16 {
    background: transparent url('add16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.fw16 {
    background: transparent url('fw16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.del16 {
    background: transparent url('del16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.edit16 {
    background: transparent url('edit.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.alert16 {
    background: transparent url('alert16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.avail16 {
    background: transparent url('avail16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.wspark16 {
    background: transparent url('wspark16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.spark16 {
    background: transparent url('spark16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.values_to_filter {
    background: transparent url('values_to_filter.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.clear16 {
    background: transparent url('clear16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.invert16 {
    background: transparent url('invert16.png') no-repeat;
    padding: 0 0 0 16px;
    min-height: 16px;
}
.filter16 {
    background: transparent url('filter16.png') no-repeat;
    padding: 0 0 0 16px;
    min-height: 16px;
}
.filters {
    background: transparent url('filter16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.columns {
    background: transparent url('columns.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.csv {
    background: transparent url('csv.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.csv_disabled {
    background: transparent url('csv.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.link16 {
    background: transparent url('link16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.refresh16 {
    background: transparent url('refresh16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.spinner {
    background: transparent url('spinner.gif') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}

.dns16 {
    background: transparent url('dns16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.cd16 {
    background: transparent url('cd16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.net16 {
    background: transparent url('net16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.down {
  background: transparent url('down16.png') no-repeat;
  padding: 0 0 0 15px;
  background-size: 12px 12px;
  background-position-y: 2px;
  min-height: 16px;
}
.right {
  background: transparent url('right16.png') no-repeat;
  padding: 0 0 0 15px;
  background-size: 12px 12px;
  background-position-y: 2px;
  min-height: 16px;
}
.down16 {
    background: transparent url('down16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.right16 {
    background: transparent url('right16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.save16 {
    background: transparent url('save16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.expert16 {
    background: transparent url('expert16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.db16 {
    background: transparent url('db16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.wf16 {
    background: transparent url('wf16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.modset16 {
    background: transparent url('modset16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.hv16 {
    background: transparent url('hv16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.hd16 {
    background: transparent url('hd16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.pkg16 {
    background: transparent url('pkg16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.log16 {
    background: transparent url('log16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.bill16 {
    background: transparent url('bill16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.tag16 {
    background: transparent url('tag16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.hw16 {
    background: transparent url('hw16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.os16 {
    background: transparent url('os16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.obs16 {
    background: transparent url('obs16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.fixable16 {
    background: transparent url('fixable16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.comp16 {
    background: transparent url('comp16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.check16 {
    background: transparent url('check16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.guys16 {
    background: transparent url('guys16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.guy16 {
    background: transparent url('guy16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.svc {
    background: transparent url('svc.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.na {
    background: transparent url('na.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.nok {
    background: transparent url('nok.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.node16 {
    background: transparent url('node16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.drp16 {
    background: transparent url('drp16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.key16 {
    background: transparent url('key16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.frozen16 {
    background: transparent url('frozen16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.frozen16 {
    background: transparent url('frozen16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.action_toc_16 {
    background: transparent url('action_toc_16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.action_sync_16 {
    background: transparent url('action_sync_16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.action_switch_16 {
    background: transparent url('action_switch_16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.action_stop_16 {
    background: transparent url('action_stop_16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.action_stonith_16 {
    background: transparent url('action_stonith_16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.action_start_16 {
    background: transparent url('action_start_16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.action_restart_16 {
    background: transparent url('action_restart_16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.www16 {
    background: transparent url('www16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.gear16 {
    background: transparent url('gear16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.action16 {
    background: transparent url('action16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.cpu16 {
    background: transparent url('cpu16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.edit {
    background: transparent url('edit.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.pwr {
    background: transparent url('pwr.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.mem16 {
    background: transparent url('mem16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.time16 {
    background: transparent url('time16.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.loc {
    background: transparent url('loc.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.search16 {
    background: transparent url('search.png') no-repeat;
    padding: 0 0 0 20px;
    min-height: 16px;
}
.nologo16 {
    padding: 0 0 0 20px;
}
.nologo48 {
    padding: 0 0 0 52px;
}
.tag48 {
    background: transparent url('tag48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.alert48 {
    background: transparent url('alert48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.obs48 {
    background: transparent url('obs48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.filter48 {
    background: transparent url('filter48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.drp48 {
    background: transparent url('drp48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.prov48 {
    background: transparent url('prov48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.avail48 {
    background: transparent url('avail48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.guys48 {
    background: transparent url('guys48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.stats48 {
    background: transparent url('stats48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.billing48 {
    background: transparent url('billing48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.rsetattach48 {
    background: transparent url('rsetattach48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.modsetattach48 {
    background: transparent url('modsetattach48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.log48 {
    background: transparent url('log48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.wf48 {
    background: transparent url('wf48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.key48 {
    background: transparent url('key48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.logout48 {
    background: transparent url('logout48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.svc48 {
    background: transparent url('svc48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.cd48 {
    background: transparent url('cd48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.edit48 {
    background: transparent url('edit48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.question48 {
    background: transparent url('question48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.action48 {
    background: transparent url('action48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.comp48 {
    background: transparent url('comp48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.parent48 {
    background: transparent url('folder48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.dns48 {
    background: transparent url('dns48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.folderoracle48 {
    background-image: url('oracle48.png'),url('folder48.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 0 0 52px;
}
.folderapache48 {
    background-image: url('apache48.png'),url('folder48.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding: 0 0 0 52px;
}
.s_net48 {
    background: transparent url('net48.png') no-repeat left center;
    width: 48px;
}
.s_filter48 {
    background: transparent url('filter48.png') no-repeat left center;
    width: 48px;
}
.s_svc48 {
    background: transparent url('svc48.png') no-repeat left center;
    width: 48px;
}
.s_node48 {
    background: transparent url('node48.png') no-repeat left center;
    width: 48px;
}
.s_disk48 {
    background: transparent url('disk48.png') no-repeat left center;
    width: 48px;
}
.s_guy48 {
    background: transparent url('guy48.png') no-repeat left center;
    width: 48px;
}
.s_guys48 {
    background: transparent url('guys48.png') no-repeat left center;
    background-size: 40px 40px;
    width: 48px;
}
.folder48 {
    background: transparent url('folder48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.net48 {
    background: transparent url('net48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.pkg48 {
    background: transparent url('pkg48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.svc48 {
    background: transparent url('svc48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.node48 {
    background: transparent url('node48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.disk48 {
    background: transparent url('disk48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.guy48 {
    background: transparent url('guy48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.completed48 {
    background: transparent url('completed48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.reject48 {
    background: transparent url('reject48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.disk48 {
    background: transparent url('disk48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.backup48 {
    background: transparent url('backup48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.addnode48 {
    background: transparent url('addnode48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.axway48 {
    background: transparent url('axway48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.apache48 {
    background: transparent url('apache48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.tomcat48 {
    background: transparent url('tomcat48.png') no-repeat left center;
    padding: 0 0 0 52px;
}
.oracle48 {
    background: transparent url('oracle48.png') no-repeat left center;
    padding: 0 0 0 52px;
}

.wfsearch {
    color: black;
    padding-left: 18px;
    background: white url('search.png') no-repeat;
    width: 6em;
}
.wfsearch:focus {
    background: rgb(255, 248, 239) url('search.png') no-repeat;
}
.action_q_widget {
    float: right;
    padding:0.3em;
}
.search {
    float: right;
    padding:0.2em;
}
.searchidle > input {
  background: white url('search.png') no-repeat;
}
.searchidle > input:focus {
  background: rgb(255, 248, 239) url('search.png') no-repeat;
}
.searching > input {
  background: white url('spinner.gif') no-repeat;
}
.searching > input:focus {
  background: rgb(255, 248, 239) url('spinner.gif') no-repeat;
}
.search > input {
  color: black;
  width: 6em;
  padding-left: 18px;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: 0;
  -webkit-appearance: none;
  position: relative;
  top: 1px;
}
.search > * > menu_section > table {
    padding-bottom: 0.4em;
}
.search td > p {
    font-weight: bold;
    white-space: nowrap;
    padding-bottom: 0.2em;
}
.search img {
    vertical-align: top;
    padding-right: 0.2em;
    padding-top: 0.2em;
}
.action_q_widget a {
    margin-top: 0.5em;
    padding-right: 1.5em;
    white-space: nowrap;
}
 
.floatw > a {
    color: black;
}

.highlight_light {
    color: salmon;
    font-weight: bold;
}
.highlight {
    color: darkred;
    font-weight: bold;
}
.floatw .current_page {
    color: darkred;
    font-weight: bold;
}

.menu_item {
    border-radius:4px;
   -moz-border-radius:4px;
   -webkit-border-radius:4px;
    background-color: #DCDDE6;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0.2em;
    float: left;
}


/*
 * table class
 */
.tableo > div {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.tableo > div > table {
    width: 100%;
}

.tableo a:hover {
    cursor: pointer;
}

.theader {
    background-color: #e0e1cd;
    color: black;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.tableo_flash {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    vertical-align: center;
    z-index: 1001;
    position: absolute;
    float:center;
    font-weight: bold;
    font-size: 200%;
    color: #F5495B;
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}

.highlight_forms {
    border: 2px solid lightgrey;
}

.forms {
    border-radius:6px;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.toola:hover {
    text-decoration: underline;
}
.toola {
    text-decoration: none;
    color: rgb(13, 4, 228);
    padding-left: 0.2em;
    padding-right: 0.2em;
}


.wfentry a:hover {
    text-decoration: underline;
}

.wfentry a {
    text-decoration: none;
    color: rgb(13, 4, 228);
    float: right;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.wfentry {
    border-radius:6px;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
    padding: 0 0.5em 0 0.5em;
    margin: 1em;
    cursor: pointer;
    border: 2px solid transparent;
    display: inline-block;
    vertical-align: top;
    height: 20em;
    width: 32em;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 2px solid lightgrey;
}

.wfentry:hover {
    border: 2px solid rgb(13, 4, 228);
}

.wfentryfocused {
    height: auto;
    width: auto;
    min-height: 20em;
    min-width: 32em;
}

.formentry {
    border-radius:6px;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.formentry:hover {
    border: 2px solid red;
}

.comp_pct {
    width: 80px;
    text-align: right;
}

.comp_plot {
   width: 80px;
   text-align: right;
}

.perf_plot {
   width: 600px;
   //height: 300px;
}

.nowrap {
   white-space: nowrap;
}

.right_click_menu {
    box-shadow: 0px 0px 20px 2px;
    display: none;
    position: absolute;
    background: white;
    z-index: 502;
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #AAA;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #DDD;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #AAA;
    border-top-style: solid;
    border-top-width: 2px;
    text-align: left;
    padding: 0.5em;
}

.right_click_menu td {
    text-align: center;
}

.right_click_menu td:hover {
    text-align: center;
    cursor: pointer;
    background: #2d2d2d;
    color: #aaaaaa;
}

.ackpanel {
    display: none;
    position: absolute;
    background: none; /* bug IE */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 502;
    border-radius:8px;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #AAA;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #DDD;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #AAA;
    border-top-style: solid;
    border-top-width: 2px;
    width: 250px;
    text-align: left;
    padding: 1em;
}

div.dashboard {
    padding:1em;
    break-inside: avoid;
}
div.dashboard table {
    width: 100%;
    border-collapse: separate;
}
div.dashboard h2 {
    padding:1em;
    text-align:center
}
div.dashboard th {
    border-bottom:4px solid darkorange;
}

div.summary {
    display: table;
    width: 100%;
}
.summary h2 {
    display: table-row;
}
.summary div {
    text-align: left;
}
.summary > div {
    display: table-row;
}
.summary > div > div {
    display: table-cell;
    padding: 0.2em;
    vertical-align: top;
}
.summary .title {
    //width: 65%;
    text-align: left;
}
.summary .summary_header {
    border-bottom: solid 4px darkorange
}

.action_queue {
    width: 100%;
    display: none;
    max-height: 150px;
    overflow: auto;
    background: white;
}
input[type=button]:disabled, input[type=submit]:disabled {
    color: rgb(175, 167, 167);
}

button:hover,
input[type=button]:disabled, input[type=submit]:disabled, 
input[type=button]:focus, input[type=submit]:focus, 
input[type=button]:hover, input[type=submit]:hover {
    background: #dedede;
}
button, input[type=button], input[type=submit] {
    background: #eaeaea;
    color: #555;
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.ax_form li {
    list-style: none;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ax_form .highlight {
    text-decoration: none;
    background-color:#e0e1cd;
    font-weight: inherit;
    color: inherit;
}
.ax_form ul {
    width:31em;
    columns:2 15em;
    -webkit-columns:15em 2;
    -moz-column-width:15em;
    -moz-column-count:2;
}
.xset ul li {
    list-style: none;
}
.xset > ul > li {
    font-weight: bold;
}
.modname {
    font-weight: normal;
    font-family: monospace;
    list-style: none;
}

.comp_var_table div {
    padding-right: 1em;
}

.postit {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 1em;
    border-radius: 5px;
    padding: 3px;
    background-color: #FFFB82;
    border-color: #FFFB82 #918F4A #918F4A #FFFB82;
    border-width: 1px;
    border-style: solid;
}

.syntax_blue {
    color: blue;
}
.syntax_green {
    color: green;
}
.syntax_red {
    color: red;
}

.bgorange {
    background-color: orange;
}
.bgred {
    background-color: #990000;
}
.bgdarkred {
    background-color: #660000;
}
.bggreen {
    background-color: #009900;
}
.bgblack {
    background-color: #2d2d2d;
}

.alertorange {
    border-left-style: solid;
    border-left-color: orange;
    border-left-width: 0.5em;
    padding-left: 0.4em;
}
.alertred {
    border-left-style: solid;
    border-left-color: #990000;
    border-left-width: 0.5em;
    padding-left: 0.4em;
}
.alertdarkred {
    border-left-style: solid;
    border-left-color: #660000;
    border-left-width: 0.5em;
    padding-left: 0.4em;
}
.alertgreen {
    border-left-style: solid;
    border-left-color: #009900;
    border-left-width: 0.5em;
    padding-left: 0.4em;
}
.alertblack {
    border-left-style: solid;
    border-left-color: #2d2d2d;
    border-left-width: 0.5em;
    padding-left: 0.4em;
}


.table0 {
    display:table;
}

.table0 > div {
    display:table-row;
}

.table0 > div > div {
    display:table-cell;
    padding:0 0.5em 0 0;
    vertical-align: middle;
    height: 1.5em;
}

.bluer {
    color: #333388;
}

.jqplot-image-button {
    margin-bottom: 15px;
    margin-top: 15px;
}

div.jqplot-image-container {
    display: none;
    background-color: #fff;
    border: 1px solid #999;
    display: inline-block;
    margin-top: 25px;
}

div.jqplot-image-container-header {
    font-size: 1.0em;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #eee;
}

div.jqplot-image-container-content {
    padding: 15px;
}

a.jqplot-image-container-close {
    float: right;
}


.billing {
  width: 95%;
}

.billing th {
  text-align: center;
  padding: 0.5em;
}

.billing .head1 {
  background-color: #dedede;
  border: solid 4px #ffffff;
}

.billing .head2 {
  background-color: #eeeeee;
  border: solid 4px #ffffff;
}

.billing .head3 {
  background-color: #d8eee7;
  border: solid 4px #ffffff;
}

.lighter {
  color: #999999;
}

.batchs h1 {
  text-align: left;
}

.batchs li {
  list-style: none;
}

.batchs p:hover {
  background-color: #d8eee7;
}

.searchtab {
  width: 96%;
  box-shadow: 0px 0px 20px #555;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 20px;
}
.searchtab > table {
  width: 100%;
}
.searchtab > table > tbody {
  color: black;
  background: white;
}
div.searchtab {
  color: black;
  background: white;
}
.ui-combobox {
  position: relative;
  display: inline-block;
  padding-right: 30px;
}

.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* adjust styles for IE 6/7 */
  *height: 1.7em;
  *top: 0.1em;
}

.ui-combobox-input {
  margin: 0;
  padding: 0;
}

.keyboard {
  white-space: nowrap;
  margin: 0.3em;
}

.keyboard-key {
   float: left;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-top: solid 1px grey;
   border-left: solid 1px grey;
   border-bottom: solid 3px lightgrey;
   border-right: solid 2px lightgrey;
   background-color: black;
   color: lightgrey;
   //font-size: 14pt;
   font-family: courrier;
   padding-right: 0.5em;
   padding-left: 0.5em;
   padding-top: 0.2em;
   padding-bottom: 0.2em;
   margin-right: 0.5em;
   display: table-cell;
}
.keyboard-label {
   float: left;
   //display: table-cell;
   padding-left: 0.4em;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


@media screen and (max-width:960px) and (orientation: landscape) {
  body {
   -webkit-text-size-adjust: 70%;
  }
}

@media all and (max-width:640px) {
html {
    font-size: 14pt;
    -webkit-text-size-adjust: none;
}
textarea, table, td, th, code, pre, samp {
    word-wrap: break-word; /* césure forcée */
}
.theader {
    background-color: #e0e1cd;
    color: black;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 1.2em;
}
.theader:hover {
    max-height: none;
}
.floatw {
    float: right;
    width: 100%;
    text-align: center;
    margin-left:0.5em;
    margin-right:0.5em;
}
.sym_headers {
    display: none;
}
} /* end small screen */


