.sev {
    display: table-cell;
    width: 6px;
}
.sevinfo {
    background-color: #009900;
}
.sevwarning {
    background-color: orange;
}
.severror {
    background-color: #660000;
}
.sevcritical {
    background-color: #2d2d2d;
}
.comp_status_0 {
    background-color: #009900;
}
.comp_status_1 {
    background-color: #660000;
}
.comp_status_2 {
    background-color: #666666;
}
.sevundefined {
    background-color: #666666;
}
.sevok {
    background-color: #009900;
}
.sevwarn {
    background-color: orange;
}
.severr {
    background-color: #660000;
}
.sev0 {
    background-color: #009900;
}
.sev1 {
    background-color: orange;
}
.sev2 {
    background-color: #990000;
}
.sev3 {
    background-color: #660000;
}
.sev4 {
    background-color: #2d2d2d;
}
.status_n\/a, .status_undef {
    color: #666666;
}
.status_up, .status_ok, .status_stdby_up {
    color: #009900;
}
.status_down, .status_err {
    color: #990000;
}
.status_stdby_down {
    color: #990000;
    background-color: rgba(77,77,00,0.4);
}
.status_warn {
    color: #777700;
}
.ui-icon-svc {
    background: transparent url("images/svc.png") no-repeat;
}
.ui-icon-node {
    background: transparent url("images/cpu16.png") no-repeat;
}
.ui-icon-checks {
    background: transparent url("images/check16.png") no-repeat;
}
.ui-icon-pushservices {
    background: transparent url("images/svc.png") no-repeat;
}
.ui-icon-pushpkg {
    background: transparent url("images/pkg16.png") no-repeat;
}
.ui-icon-reboot {
    background: transparent url("images/action_restart_16.png") no-repeat;
}
.ui-icon-shutdown {
    background: transparent url("images/action_stop_16.png") no-repeat;
}
.ui-icon-syncservices {
    background: transparent url("images/action_sync_16.png") no-repeat;
}
.ui-icon-updateservices {
    background: transparent url('images/action16.png') no-repeat;
}
.ui-icon-stop {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-stopapp {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-stopdisk {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-stopvg {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-stoploop {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-stopip {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-umount {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-shutdown {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-boot {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-start {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-startstandby {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-startapp {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-startvg {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-startdisk {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-startloop {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-startip {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-mount {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-restart {
    background: transparent url('images/action_restart_16.png') no-repeat;
}
.ui-icon-provision {
    background: transparent url('images/prov.png') no-repeat;
}
.ui-icon-switch {
    background: transparent url('images/action_restart_16.png') no-repeat;
}
.ui-icon-freeze {
    background: transparent url('images/frozen16.png') no-repeat;
}
.ui-icon-thaw {
    background: transparent url('images/frozen16.png') no-repeat;
}
.ui-icon-syncall {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-syncnodes {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-syncdrp {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-syncfullsync {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-postsync {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-push {
    background: transparent url('images/log16.png') no-repeat;
}
.ui-icon-check {
    background: transparent url('images/check16.png') no-repeat;
}
.ui-icon-fixable {
    background: transparent url('images/fixable16.png') no-repeat;
}
.ui-icon-fix {
    background: transparent url('images/comp16.png') no-repeat;
}
.ui-icon-pushstats {
    background: transparent url('images/spark16.png') no-repeat;
}
.ui-icon-pushasset {
    background: transparent url('images/node16.png') no-repeat;
}
.ui-icon-stopcontainer {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-startcontainer {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-stopapp {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-startapp {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-prstop {
    background: transparent url('images/action_stop_16.png') no-repeat;
}
.ui-icon-prstart {
    background: transparent url('images/action_start_16.png') no-repeat;
}
.ui-icon-push {
    background: transparent url('images/svc.png') no-repeat;
}
.ui-icon-syncquiesce {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-syncresync {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-syncupdate {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-syncverify {
    background: transparent url('images/action_sync_16.png') no-repeat;
}
.ui-icon-toc {
    background: transparent url('images/action_toc_16.png') no-repeat;
}
.ui-icon-stonith {
    background: transparent url('images/action_stonith_16.png') no-repeat;
}
.ui-icon-switch {
    background: transparent url('images/action_switch_16.png') no-repeat;
}
.elist {
    padding-top: 15px;
}
