{{
def DB_FILTERS_ACTIVE(filters):
    i = INPUT(_type='hidden', _name='delfilter')
    lines = []
    for f in filters:
        if f.auth_filters.fil_value is not None and \
           len(f.auth_filters.fil_value) != 0:
            value = " [%s]"%f.auth_filters.fil_value
        else:
            value = ""
        pass
        lines += [TR(
                    TD(T(f.filters.fil_name),
                       value,
                       _style='background-image:url(%s);
                               background-repeat:no-repeat;
                               background-position:center left;
                               padding:0px;
                               padding-right:4px;
                               padding-left:18px;
                              '%URL(r=request,c='static',f=f.filters.fil_img),
                    ),
                    TD(IMG(_src=URL(r=request,c='static',f='del.png'),
                           _border=0,
                           _title=T("remove filter"),
                           _onClick='javascript:document.svcform.delfilter.value='+str(f.auth_filters.id)+';document.svcform.submit()'
                       ),
                       _style='padding:0px;',
                    ),
                  )]
    pass
    return DIV(i, TABLE(lines))
pass

def DB_FILTERS_AVAIL(filters):
    options = [OPTION(T('choose'), _value='')]
    for f in filters:
        if f.fil_need_value == 1:
            title = 'need value'
        else:
            title = ''
        pass
        options += [OPTION(T(f.fil_name),
                           _style='background-image:url(%s);background-repeat:no-repeat;padding-left:18px;'%URL(r=request,c='static',f=f.fil_img),
                           _value=f.id,
                           _id='addfilter_opt'+str(f.id),
                           _title=title,
                    )]
    pass
    t = TABLE(
          TR(
            TD(
              SELECT(options,
                     _name='addfilter',
                     _id='addfilter',
                     _onChange='javascript:toggle_filter_value_input()',
              ),
            ),
            TD(
              IMG(_src=URL(r=request,c='static',f='add.png'),
                  _border=0,
                  _title=T("add filter"),
                  _onClick='javascript:document.svcform.submit()',
              ),
            ),
          ),
          TR(
            TD(
              INPUT(_name='filtervalue',
                    _id='filtervalue',
                    _size=14,
                    _onkeypress="checkEnter(event)",
              ),
            ),
            _class='hidden',
            _id='tr_filtervalue',
          ),
        )
    return DIV(t)
pass

}}
