{{def FILTERS_ACTIVE(filters):}}
  <input type=hidden name=delfilter>
  <table>
    {{for f in filters.values():}}
      {{if f['active']:}}
        {{if f.has_key('value'):
              query = ' '+f['value']
          else:
              query = ''
          pass}}
        <tr>
          <td>{{=f['name']}}{{=query}}</td>
          <td><img src='{{=URL(r=request,c='static',f='del.png')}}' border=0 title='{{=T("remove filter")}}' onClick='javascript:document.svcform.delfilter.value={{=f["id"]}};document.svcform.submit()'></td>
        </tr>
      {{pass}}
    {{pass}}
  </table>
{{pass}}

{{def FILTERS_AVAIL(filters):}}
  <table>
    <tr>
      <td>
        <select name=addfilter id=addfilter onChange="toggle_filter_value_input()">
        <option value=''>{{=T('choose')}}</option>
        {{for f in filters.values():}}
          {{if not f['active']:}}
            {{if f.has_key('value'):
              title = 'need value'
            else:
              title = ''
            pass}}
            <option id="addfilter_opt{{=f['id']}}" value={{=f['id']}} title="{{=title}}">{{=T(f['name'])}}</option>
          {{pass}}
        {{pass}}
        </select>
      </td>
      <td>
        <input name='filtervalue' id='filtervalue' size=6 class=hidden onkeypress="checkEnter(event)">
      </td>
      <td>
        <img src='{{=URL(r=request,c='static',f='add.png')}}' border=0 title='{{=T("add filter")}}' onClick='javascript:document.svcform.submit()'>
      </td>
    </tr>
  </table>
{{pass}}
