<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
	<head>
		<title>{{=response.title or request.application}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		{{include 'web2py_ajax.html'}}
		<link rel="SHORTCUT ICON" href="{{=URL(r=request,c='static',f='favicon.ico')}}">
	</head>
	<body>
		{{if 'MSIE 6' in request.env.http_user_agent:}}
		{{=redirect(URL(r=request, c='unsupported', f='index'))}}
		{{pass}}
		<div class="header">
			<div id="login_location"></div>
			<div id="menu_location"></div>
			<div class="menu_flash">&nbsp;</div>
			<div class="header_logo" id="fset_selector"></div>
			<div class='header_logo action_q_widget'>
				<a class='icon action16 nocolor' onclick="app_load_href('/init/action_queue/action_queue', 'table_action_queue')"></a>
			</div>
			<div id="layout_search_tool"></div>
			<div class="menu flash stackable">{{=response.flash or ''}}</div>
		</div>
		<div class="layout" id="layout">
			{{include}}
		</div>
		<div class=footer>
			<span>&copy; 2009-2018 </span>
			<span class="header_logo">{{=A("OpenSVC", _href="https://www.opensvc.com", _class="icon www16 hide_text_on_small", _target="_blank")}}</span>
			<span> - </span>
			<span class="header_logo">{{=A('Licenses & Privacy', callback=URL(c='licenses', f='licenses'), _class='icon fa-balance-scale hide_text_on_small')}}</span>
			<span> - </span>
			<span class="header_logo">{{=A("Docs", _href="https://docs.opensvc.com", _class="icon fa-book hide_text_on_small", _target="_blank")}}</span>
		</div>
		<script> app_start() </script>
	</body>
</html>
