<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
  <head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    {{response.files.append(URL(request.application,'static','base.css'))}}
    {{response.files.append(URL(request.application,'static','css/awesome.css'))}}
    {{include 'web2py_ajax.html'}}
    <link rel="SHORTCUT ICON" href="{{=URL(r=request,c='static',f='favicon.ico')}}">
  </head>
  <body>
    {{if 'MSIE 6' in request.env.http_user_agent:}}
    {{=redirect(URL(r=request, c='unsupported', f='index'))}}
    {{pass}}
    <div class=header>
      <!-- search tool-->
      <span id="layout_search_tool"></span>
      <script type="text/javascript">$('#layout_search_tool').load("/init/static/views/search.html");</script>
      {{=DIV(A("", _href=URL(r=request,c='action_queue',f='action_queue'), _class="gear16"), _class='action_q_widget')}}
      <div class='header_logo'>
        {{=A((response.title or request.application), _href="http://www.opensvc.com", _class="www16", _target="_blank")}}
      </div>
      {{if response.menu_auth:}}
      {{=OSVCMENU(response.menu_auth, _class='menu')}}
      {{pass}}
      {{if response.menu:}}
      {{=OSVCMENU(response.menu, _class='menu')}}
      {{pass}}
      <div class=spacer>&nbsp;</div>
    </div>
    <div class=spacer>&nbsp;</div>
    <div class=layout>
      <div class=spacer>&nbsp;</div>
      <div class="flash">{{=response.flash or ''}}</div>
      <div align=center>{{include}}</div>
    </div>
    <div class=spacer>&nbsp;</div>
    <div class=footer>
      <div align="center">
        {{=T('Copyright')}} &copy; 2015 - OpenSVC -
        {{=T('Powered by')}} <a href="http://www.web2py.com" style="color:silver">web2py</a>
      </div>
    </div>
    <script>services_feed_self_and_group()</script>
  </body>
</html>
