<script src="{{=URL(request.application,'static','ui.core.js')}}"></script>
<script src="{{=URL(request.application,'static','ui.draggable.js')}}"></script>

{{
def PANEL(a, content=None):
    a = a.replace('.', '_')
    if content is None:
        content = DIV("Loading ...", _id="panelbody_"+a)
        pass

    d = DIV(
      DIV(
        A(
          "X",
          _id="panelclose_"+a,
          _onclick="getElementById('panel_%s').className='panel';"%a,
          _class="panel_close",
        ),
        _id="panelmove_"+a,
        _class="panel_move",
        _ondblclick="getElementById('panel_%s').className='panel';"%a,
      ),
      content,
      _id="panel_"+a,
      _class="panel",
      _onmouseover="""$("#panel_%(a)s").draggable({handle: "#panelmove_%(a)s"});"""%dict(a=a)
    )
    return d

def list_vals_for_key(rows, key, title, nestedin=None):
    if nestedin is None:
        return DIV(H3(T("""distinct "%(title)s" values in set""",dict(title=title))), PRE('\\n'.join(set([str(n[key]) for n in rows]))))
    else:
        return DIV(H3(T("""distinct "%(title)s" values in set""",dict(title=title))), PRE('\\n'.join(set([str(n[nestedin][key]) for n in rows]))))
    pass

def colname(rows, key, title, nestedin=None):
    values = list_vals_for_key(rows, key, title, nestedin=nestedin)
    return A(
          title,
          _onclick="""
                  getElementById('panelbody_column_values').innerHTML='%s';
                  getElementById('panel_column_values').className='panel_shown';"""%values,
          _class="xinfo",
        )


}}
