<script type="text/javascript">
    // These variables are used by the web2py_ajax_init function in web2py_ajax.js (which is loaded below).
    var w2p_ajax_confirm_message = "{{=T('Are you sure you want to delete this object?')}}";
    var w2p_ajax_date_format = "{{=T('%Y-%m-%d')}}";
    var w2p_ajax_datetime_format = "{{=T('%Y-%m-%d %H:%M:%S')}}";
    var ajax_error_500 = '{{=XML(
      T(
        'An error occured, please %(l)s the page', dict(l=A(T('reload'), _href=URL(args=request.args, vars=request.get_vars)),
      ),
    ))}}';
</script>
{{
response.files.extend([
  URL(r=request,c='static',f='css/bootstrap.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='css/bootstrap-slider.min.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='css/base.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='css/fontawesome-all.min.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/tooltipster/css/tooltipster.bundle.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/jquery.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/bootstrap-toggle-master/css/bootstrap2-toggle.min.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/bootstrap-toggle-master/js/bootstrap2-toggle.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/web2py.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/jquery.sparkline.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/reconnecting-websocket.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/jqplot/jquery.jqplot.min.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/jquery-ui-1.12.1/jquery-ui.min.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/jquery-ui-1.12.1/jquery-ui.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/tooltipster/js/tooltipster.bundle.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/popper-1.11.0/popper.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/bootstrap-4.0.0-beta/bootstrap.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/bootstrap-slider.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/timepicker.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/jquery.cookie.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/jstree/jstree.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/jstree/themes/default/style.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/vis/vis.min.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/highlight/styles/github.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/i18next.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/moment.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/moment-timezone-with-data-1970-2030.min.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='css/custom.css', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/require.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/md5.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/compat.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/websocket.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/generic_selector.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/osvc-common.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/osvc-services.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/action_queue.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/fset_selector.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/plots.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tags.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/search/search.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tabs/service.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tabs/node.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tabs/pkgdiff.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tabs.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/menu/menu.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/menu/login.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/osvc-popup.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/user_prefs.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tables/colprops.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tables/table.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tables/decorators.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tables/tables.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/app.js', vars={"v": code_rev}),
  URL(r=request,c='static',f='js/osvc/tables/action_menu.js', vars={"v": code_rev}),
])
response.include_meta()
response.include_files()
}}
