<!--[if IE]>
{{response.files.insert(3,URL(r=request,c='static',f='jqplot/excanvas.min.js'))}}
<![endif]-->

<script type="text/javascript">
    // These variables are used by the web2py_ajax_init function in web2py_ajax.js (which is loaded below).
    var w2p_ajax_confirm_message = "{{=T('Are you sure you want to delete this object?')}}";
    var w2p_ajax_date_format = "{{=T('%Y-%m-%d')}}";
    var w2p_ajax_datetime_format = "{{=T('%Y-%m-%d %H:%M:%S')}}";
    var ajax_error_500 = '{{=XML(
                              T(
                               'An error occured, please %(l)s the page',
                               dict(
                                l=A(T('reload'), _href=URL(args=request.args, vars=request.get_vars)),
                               )
                              )
                             )}}';
</script>
{{
response.files.insert(0,URL(r=request,c='static',f='jquery.js'))
response.files.insert(1,URL(r=request,c='static',f='i18n/dictionary.js'))
response.files.insert(2,URL(r=request,c='static',f='js/reconnecting-websocket.js'))
response.files.insert(3,URL(r=request,c='static',f='jquery.sparkline.min.js'))
response.files.insert(4,URL(r=request,c='static',f='jqplot/jquery.jqplot.min.css'))
response.files.insert(4,URL(r=request,c='static',f='jqplot/jquery.jqplot.min.js'))
response.files.insert(5,URL(r=request,c='static',f='jqplot/plugins/jqplot.highlighter.min.js'))
response.files.insert(6,URL(r=request,c='static',f='jqplot/plugins/jqplot.canvasTextRenderer.min.js'))
response.files.insert(7,URL(r=request,c='static',f='jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js'))
response.files.insert(8,URL(r=request,c='static',f='jqplot/plugins/jqplot.categoryAxisRenderer.min.js'))
response.files.insert(9,URL(r=request,c='static',f='jqplot/plugins/jqplot.dateAxisRenderer.min.js'))
response.files.insert(10,URL(r=request,c='static',f='jqplot/plugins/jqplot.barRenderer.min.js'))
response.files.insert(11,URL(r=request,c='static',f='jqplot/plugins/jqplot.ohlcRenderer.min.js'))
response.files.insert(12,URL(r=request,c='static',f='jqplot/plugins/jqplot.cursor.min.js'))
response.files.insert(13,URL(r=request,c='static',f='jqplot/plugins/jqplot.enhancedLegendRenderer.min.js'))
response.files.insert(14,URL(r=request,c='static',f='jquery.timers.js'))
response.files.insert(15,URL(r=request,c='static',f='jqplot/plugins/jqplot.pieRenderer.min.js'))
response.files.insert(16,URL(r=request,c='static',f='jqplot/plugins/jqplot.donutRenderer.min.js'))
response.files.insert(17,URL(r=request,c='static',f='js/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css'))
response.files.insert(18,URL(r=request,c='static',f='js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js'))
response.files.insert(19,URL(r=request,c='static',f='js/combobox.js'))
response.files.insert(20,URL(r=request,c='static',f='js/timepicker.js'))
response.files.insert(20,URL(r=request,c='static',f='jquery.cookie.js'))
response.files.insert(21,URL(r=request,c='static',f='jstree/jquery.jstree.js'))
response.files.insert(22,URL(r=request,c='static',f='js/web2py.js'))
response.files.insert(23,URL(r=request,c='static',f='osvc.js'))
response.files.insert(24,URL(r=request,c='static',f='plots.js'))
response.include_meta()
response.include_files()
}}
